<template>
  <div id="app">
    <div class="container">
      <div
        class="
          container
          height-100
          d-flex
          justify-content-center
          align-items-center
        "
      >
        <div class="">
          <div class="card p-2">
            <div class="row logo-row">
              <div class="d-flex">
                <div class="justify-content-start">
                  <NuxtLink to="/">
                    <Button type="button" class="closebtn"
                      ><i class="fas fa-chevron-left"></i>Back</Button
                    ></NuxtLink
                  >
                </div>
                <div class="justify-content-center">
                  <img src="/assets/img/logo/logo.png" alt="" class="logo" />
                </div>
                <div class=""></div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="mb-4">
                <h3 class="text-center">Verify Code</h3>
                <h3 class="headDigit text-center">
                  Please Enter The 4 Digit code To Your Phone Number
                  <a class="sendagain">Send Code Again</a>
                </h3>
              </div>
            </div>
            <div
              id="otp"
              class="inputs d-flex flex-row justify-content-center mt-2"
            >
              <input
                class="m-2 text-center form-control rounded"
                type="text"
                id="input1"
                v-on:keyup="inputenter(1)"
                maxlength="1"
              />
              <input
                class="m-2 text-center form-control rounded"
                v-on:keyup="inputenter(2)"
                type="text"
                id="input2"
                maxlength="1"
              />
              <input
                class="m-2 text-center form-control rounded"
                v-on:keyup="inputenter(3)"
                type="text"
                id="input3"
                maxlength="1"
              />
              <input
                class="m-2 text-center form-control rounded"
                v-on:keyup="inputenter(4)"
                type="text"
                id="input4"
                maxlength="1"
              />
            </div>
            <div class="mt-4 sub">
              <input
                type="submit"
                value="Submit"
                class="btn text-white btn-block Submit"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
body {
  background-color: var(--main);
}

.height-100 {
  height: 100vh;
}

.logo {
  width: 150px;
}

.card {
  width: 900px;
  border: none;
  height: 500px;
  box-shadow: 0px 5px 20px 0px #eee;
  z-index: 1;
  display: flex;

  align-items: center;
}

.inputs input {
  width: 40px;
  height: 40px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid var(--second);
}

.validate {
  border-radius: 20px;
  height: 40px;
  background-color: var(--second);
  border: 1px solid var(--second);
  width: 100%;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.Submit {
  width: 100%;
  background-color: var(--second);
  border-color: var(--second);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

.Submit:hover {
  background-color: var(--second);
  border-color: var(--second);
}

.sub {
  width: 35%;
}

.headDigit {
  font-size: 14px;
  margin-top: 30px;
}

.headDigit a {
  text-decoration: none;
  color: var(--second);
  cursor: pointer;
}

.logo-row {
  margin-top: 20px;
}
</style>
