<template>
  <div class="">
    <div class="accordion-item">
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body p-0">
          <div class="comments-wrapper">
            <div class="style-list-comments">
              <div class="item_comment">
                <div class="content_item_review">
                  <div class="item_review_left">
                    <figure>
                      <img src="/assets/img/users/user.png" alt="" />
                    </figure>
                  </div>
                  <div class="inner_item_review">
                    <h4>Ali Ahmed</h4>
                    <p>
                      Cras gravida bibendum dolor eu varius. Morbi fermentum
                      velit nisl, eget vehicula lorem sodales eget. Donec quis
                      volutpat orci. Sed ipsum felis .
                    </p>
                  </div>
                </div>
                <div class="footer_item_review">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <ul>
                      <li>
                        <i class="far fa-comment-alt"></i>
                        <span>0</span>
                      </li>
                      <li>
                        <i class="far fa-thumbs-down"></i>
                        <span>50K</span>
                      </li>
                      <li>
                        <i class="fas fa-thumbs-up"></i>
                        <span>230K</span>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="
                      col-xl-6 col-lg-6 col-md-6 col-sm-12
                      text-md-end text-start
                    "
                  >
                    <span class="date_time">05:32:45 pm 8/9/2021</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="style-list-comments">
              <div class="item_comment">
                <div class="content_item_review">
                  <div class="item_review_left">
                    <figure>
                      <img src="/assets/img/users/user.png" alt="" />
                    </figure>
                  </div>
                  <div class="inner_item_review">
                    <h4>Ali Ahmed</h4>
                    <p>
                      Cras gravida bibendum dolor eu varius. Morbi fermentum
                      velit nisl, eget vehicula lorem sodales eget. Donec quis
                      volutpat orci. Sed ipsum felis .
                    </p>
                  </div>
                </div>
                <div class="footer_item_review">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <ul>
                      <li>
                        <i class="far fa-comment-alt"></i>
                        <span>0</span>
                      </li>
                      <li>
                        <i class="far fa-thumbs-down"></i>
                        <span>50K</span>
                      </li>
                      <li>
                        <i class="fas fa-thumbs-up"></i>
                        <span>230K</span>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="
                      col-xl-6 col-lg-6 col-md-6 col-sm-12
                      text-md-end text-start
                    "
                  >
                    <span class="date_time">05:32:45 pm 8/9/2021</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="style-list-comments">
              <div class="item_comment">
                <div class="content_item_review">
                  <div class="item_review_left">
                    <figure>
                      <img src="/assets/img/users/user.png" alt="" />
                    </figure>
                  </div>
                  <div class="inner_item_review">
                    <h4>Ali Ahmed</h4>
                    <p>
                      Cras gravida bibendum dolor eu varius. Morbi fermentum
                      velit nisl, eget vehicula lorem sodales eget. Donec quis
                      volutpat orci. Sed ipsum felis .
                    </p>
                  </div>
                </div>
                <div class="footer_item_review">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <ul>
                      <li>
                        <i class="far fa-comment-alt"></i>
                        <span>0</span>
                      </li>
                      <li>
                        <i class="far fa-thumbs-down"></i>
                        <span>50K</span>
                      </li>
                      <li>
                        <i class="fas fa-thumbs-up"></i>
                        <span>230K</span>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="
                      col-xl-6 col-lg-6 col-md-6 col-sm-12
                      text-md-end text-start
                    "
                  >
                    <span class="date_time">05:32:45 pm 8/9/2021</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="style-list-comments">
              <div class="item_comment item_form_comment">
                <div class="content_item_review">
                  <div class="item_review_left">
                    <figure>
                      <img src="/assets/img/users/user.png" alt="" />
                    </figure>
                  </div>
                  <div class="inner_item_review">
                    <textarea
                      class="form-control"
                      name=""
                      id=""
                      placeholder="Send Your Comment"
                    ></textarea>
                  </div>
                  <a href="#" class="btn btn-theme add-comment">
                    Add comment
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
.date_time {
  padding-right: 15px;
}
.add-comment,
.add-comment:hover {
  color: #eee;
  background-color: var(--second);
}
</style>
