<template>
  <div class="" v-if="news !== 0">
    <div
      class="style-list-news shadow mb-4 rounded d-flex flex-nowrap d-flex"
      v-for="item in news"
      :key="item.id"
      :news="news"
    >
      <div class="accordion-item">
        <div class="item_blog" id="flush-headingOne">
          <div class="content_item_review">
            <div class="item_review_left">
              <figure>
                <img src="/assets/image/Rectangle 1160.png" alt="" />
              </figure>
            </div>
            <div class="inner_item_review">
              <h4>{{ item.title }}</h4>
              <div class="col-sm-12 text-start py-2">
                <span class="date_time">{{ item.created_at }}</span>
              </div>
              <p>
                {{ item.subtitle }}
              </p>
              <NuxtLink :to="`/news/${item.id}`" class="btn">
                Read More
              </NuxtLink>
            </div>
          </div>
          <div class="footer_item_review">
            <div class="">
              <ul class="d-flex justify-content-between">
                <li>
                  <i class="far fa-comment-alt"></i>
                  <span>30</span>
                </li>
                <li>
                  <i class="far fa-thumbs-down"></i>
                  <span>50K</span>
                </li>
                <li>
                  <i class="fas fa-thumbs-up"></i>
                  <span>230K</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      news: null,
    }
  },
  mounted() {
    this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
      this.news = response.data.news
    })
  },
}
</script>

<style>
.style-list-news {
}
.style-list-news .item_blog .content_item_review figure img {
  height: 100px;
  width: 120px;
}
.style-list-news .item_blog .footer_item_review {
  padding: 1rem 0.5rem;
  display: inline;
  flex-wrap: wrap;
}
</style>
