<template>
  <div class="">
    <div class="container">
      <div class="row">
        <h3 class="">{{ data.title }}</h3>
        <div class="date-time text-start mt-4">
          <span class="date_time"
            ><i class="fas fa-calendar-week"></i>{{ data.created_at }}</span
          >
        </div>
        <div class="py-5">
          <img alt="" src="/assets/image/Rectangle 1160.png" width="100%" />
        </div>
        <div class="left-side">
          <h5>{{ data.subtitle }}</h5>
          <p>
            {{ data.body }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // middleware: 'auth',

  // props: {
  //   school_id: this.data.school_id,
  // },
  data() {
    return {
      data: {},
    }
  },
  mounted() {
    this.getNews()
  },
  methods: {
    getNews() {
      this.$axios
        .get(`school/news/${this.$route.params.id}`)
        .then((response) => {
          this.data = response.data
        })
    },
  },
}
</script>

<style>
.left-side {
  color: #6a6565;
}
.date-time {
  color: #6a6565;
}
.fa-calendar-week {
  margin-right: 15px;
}
</style>
