<template>
  <div class="">
    <div class="latest-product mb-3 shadow p-3 mb-5 bg-body rounded">
      <div class="container">
        <div class="row">
          <div class="d-flex">
            <div class="col-sm-3">
              <img src="/assets/image/Bitmap-4.png" alt="" />
            </div>
            <div class="col-sm-6">
              <div class="container">
                <h6 class="title">Great Sofa name is here</h6>
                <div class="mb-3">
                  <div class="stars-rating">
                    <div class="star-rating">
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item"
                        ><i class="fas fa-star"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="proparites">
                  <div class="row">
                    <div class="col-sm-6 d-block">
                      <span class="">Color</span>
                      <span class="">Price</span>
                      <span class="">Brand</span>
                    </div>
                    <div class="col-sm-6 d-block">
                      <span class="">Red</span>
                      <span class="">50$</span>
                      <span class="">Beech Wood</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="">
                <h5 class="price mx-a">$180.00</h5>
                <div class="mt-5">
                  <nuxt-link
                    to="/supplers/suppler/productDetails"
                    class="btn btn-theme my-3"
                    >Details</nuxt-link
                  >
                  <nuxt-link
                    to="/supplers/suppler/comparisonSupplierTable"
                    class="btn btn-theme compare"
                    >Copmpare Now</nuxt-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-product mb-3 shadow p-3 mb-5 bg-body rounded">
      <div class="container">
        <div class="row">
          <div class="d-flex">
            <div class="col-sm-3">
              <img src="/assets/image/Bitmap-5.png" alt="" />
            </div>
            <div class="col-sm-6">
              <div class="container">
                <h6 class="title">Great Sofa name is here</h6>
                <div class="mb-3">
                  <div class="stars-rating">
                    <div class="star-rating">
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item"
                        ><i class="fas fa-star"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="proparites">
                  <div class="row">
                    <div class="col-sm-6 d-block">
                      <span class="">Color</span>
                      <span class="">Price</span>
                      <span class="">Brand</span>
                    </div>
                    <div class="col-sm-6 d-block">
                      <span class="">Red</span>
                      <span class="">50$</span>
                      <span class="">Beech Wood</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="">
                <h5 class="price mx-a">$180.00</h5>
                <div class="mt-5">
                  <nuxt-link
                    to="/supplers/suppler/productDetails"
                    class="btn btn-theme my-3"
                    >Details</nuxt-link
                  >
                  <nuxt-link
                    to="/supplers/suppler/comparisonSupplierTable"
                    class="btn btn-theme compare"
                    >Copmpare Now</nuxt-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-product mb-3 shadow p-3 mb-5 bg-body rounded">
      <div class="container">
        <div class="row">
          <div class="d-flex">
            <div class="col-sm-3">
              <img src="/assets/image/Bitmap-6.png" alt="" />
            </div>
            <div class="col-sm-6">
              <div class="container">
                <h6 class="title">Great Sofa name is here</h6>
                <div class="mb-3">
                  <div class="stars-rating">
                    <div class="star-rating">
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item active"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item"
                        ><i class="fas fa-star"></i
                      ></span>
                      <span class="rating__item"
                        ><i class="fas fa-star"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="proparites">
                  <div class="row">
                    <div class="col-sm-6 d-block">
                      <span class="">Color</span>
                      <span class="">Price</span>
                      <span class="">Brand</span>
                    </div>
                    <div class="col-sm-6 d-block">
                      <span class="">Red</span>
                      <span class="">50$</span>
                      <span class="">Beech Wood</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="">
                <h5 class="price mx-a">$180.00</h5>
                <div class="mt-5">
                  <nuxt-link
                    to="/supplers/suppler/productDetails"
                    class="btn btn-theme my-3"
                    >Details</nuxt-link
                  >
                  <nuxt-link
                    to="/supplers/suppler/comparisonSupplierTable"
                    class="btn btn-theme compare"
                    >Copmpare Now</nuxt-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
img {
  width: 100%;
  height: 200px;
}
.btn {
  padding: 5px;
  width: 100%;
}
.price {
  color: rgb(26, 23, 23);
  font-weight: bolder;
  margin-top: 5px;
}
.compare {
  font-size: 10px;
}
</style>