<template>
  <div class="">
    <div class="container">
      <h3 class="header-title">Latest Reviews</h3>
      <div class="rieviews">
        <div>
          <div class="tab-content-reviews">
            <div class="reviews-wrapper items-wrapper">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingOne">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class=""
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseOne"
                              aria-expanded="false"
                              aria-controls="flush-collapseOne"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingTwo">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseTwo"
                              aria-expanded="false"
                              aria-controls="flush-collapseTwo"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingThree">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseThree"
                              aria-expanded="false"
                              aria-controls="flush-collapseThree"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingThree"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingFour">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseFour"
                              aria-expanded="false"
                              aria-controls="flush-collapseFour"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingFour"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingFive">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseFive"
                              aria-expanded="false"
                              aria-controls="flush-collapseFive"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseFive"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingFive"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper-review-form">
              <div class="item_comment item_form_comment">
                <div class="content_item_review">
                  <div class="item_review_left">
                    <figure>
                      <img src="/assets/img/users/1.png" alt="" />
                    </figure>
                  </div>
                  <div class="inner_item_review">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item">
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                    </div>
                    <textarea
                      class="form-control"
                      name=""
                      id=""
                      placeholder="Send Your Comment"
                    ></textarea>
                  </div>
                </div>
                <div class="footer_item_review">
                  <a href="#" class="btn btn-theme"> Add comment </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
.header-title {
  font-weight: bolder;
}
</style>