<template>
  <div class="">
    <div class="widget widget_latest_school_photos">
      <h4 class="title">Latest School Photos</h4>
      <carousel
        class="owl-carousel owl-theme owl-loaded owl-drag"
        :items="1"
        :nav="true"
        :loop="true"
        :dots="false"
      >
        <img src="/assets/image/Bitmap.png" alt="" />

        <img src="/assets/image/Bitmap.png" alt="" />

        <img src="/assets/image/Bitmap-2.png" alt="" />

        <img src="/assets/image/Bitmap-6.png" alt="" />
      </carousel>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        items: 1,
        nav: true,
        loop: true,
        dots: false,
      },
    }
  },
}
</script>

<style scoped>
.widget {
  height: 350px;
  margin-bottom: 200px;
}
</style>