<template>
<div>
  
          <div class="card bg-gray shadow-sm border mb-4">
            <div class="position-relative">
              <div class="position-absolute top-0 end-0 discound px-2 py-1">
                -10%
              </div>
              <div class="position-absolute bottom-0 end-0 px-2 py-1">
                <a href="#" class="action-btn btn-favorite">
                  <i class="fas fa-heart"></i>
                </a>
              </div>
              <nuxt-link to="/supplers/suppler/_id">
              <img src="/assets/image/Bitmap.png" alt="" class="card-img-top" />
              </nuxt-link>
            </div>
            <div class="card-body">
              <p
                class="
                  card-text
                  d-flex
                  align-item-center
                  justify-content-between
                  mt-3
                "
              >
                <span class="h4 fw-bold mb-0">$89.99</span>
              </p>
              <div class="row">
                <div class="data">
                <nuxt-link to="/supplers/suppler/_id">
                  <h2 class="card-title h5">Amazon sofa for hall</h2>
                  </nuxt-link>
                  <div class="price">
                    <span class="active">$399.95</span>
                    <span class="old_price ms-3">$499.99</span>
                  </div>
                </div>
                <div class="sppiner"></div>
              </div>
              <div class="row">
                <div class="d-flex justify-content-between">
                  <div class="rates mt-1">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="buttons">
                    <a href="#" class="btn"> Compare Now </a>
                    <a href="#" class="btn"> Make Order </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
</div>
</template>
<script>
export default {}
</script>

<style scoped>
.discound {
  background: red;
  color: white;
}

.btn-favorite {
  text-decoration: none;
  color: red;
  font-size: 25px;
}
.btn {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}
.price {
  font-size: 22px;
  font-weight: bolder;
}
.old_price {
  color: red;
  text-decoration-line: line-through;
}
.active {
  color: var(--second);
}
</style>
