<template>
<div>
<div class="item">
            <div class="school-block-grid">
              <div class="inner-box">
                <div class="content">
                  <div class="image-box">
                  <nuxt-link to="/supplers/suppler/_id">
                    <div class="cover-block">
                    
                      <img src="/assets/image/1111.png" alt="" />
                      
                    </div>
                    </nuxt-link>
                    <figure class="image">
                      <img src="/assets/image/—Pngtree—school logo_-3.png" alt="" />
                    </figure>
                  </div>
                  <div class="lower-content">
                    <h3>
                    <nuxt-link to="/supplers/suppler/_id">
                      <a href="#"> west avenue international school </a>
                      </nuxt-link>
                    </h3>
                    <div class="post-meta">
                      <img src="/assets/img/icons/svg/location.svg" alt="" />
                      Giza
                    </div>
                    <div class="row mx-0 mt-3">
                      <div
                        class="
                          col-xl-6 col-lg-12 col-md-12 col-sm-12
                          px-0
                          d-flex
                        "
                      >
                        <div class="post-meta">
                          <img
                            src="/assets/img/icons/svg/graduation-hat.svg"
                            alt=""
                          />
                          international
                        </div>
                      </div>
                      <div
                        class="
                          col-xl-6 col-lg-12 col-md-12 col-sm-12
                          text-xl-end text-center
                          mt-3 mt-xl-0
                          px-0
                        "
                      >
                        <a href="#" class="action-btn">
                          <img
                            src="/assets/img/icons/svg/university.svg"
                            alt=""
                            class="icons"
                          />
                        </a>
                        <a href="#" class="action-btn btn-favorite">
                          <img
                            src="/assets/img/icons/svg/favorite.svg"
                            alt=""
                            class="icons"
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
</template>
<style scoped>
.post-meta {
  width: 25px;
}
.owl-carousel .owl-item .icons {
  display: inline-block;
  width: 20px;
}
</style>