<template>
  <div class="">
    <div class="d-block w-100 mb-4">
      <img class="img-fluid" src="/assets/img/ads/3.jpg" alt="" />
    </div>
    <aside class="widget_sidebar_filter_widget">
      <div class="widget-group mb-5 d-flex justify-content-between">
        <div class="position-relative jobSearch me-2">
          <input
            class="form-control"
            type="text"
            id="text_search"
            placeholder="search"
          />
          <i class="fas fa-search" aria-hidden="true"></i>
        </div>
        <button type="button" class="btn btn-search">Search</button>
      </div>
      <div class="widget-group mb-4">
        <h5 class="job_filter_widget_title">Nearest schools on the map</h5>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1728.4171999123791!2d30.921541343656738!3d29.9554415861155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458560b0db47d07%3A0xd718acf2015086e8!2sNEN%20-%20National%20Education%20Network!5e0!3m2!1sen!2sus!4v1632042313467!5m2!1sen!2sus"
          class="rounded img-fluid w-100"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="widget-group mb-0">
        <h5 class="job_filter_widget_title">Make filter by</h5>
        <!--Accordion wrapper-->
        <div
          class="accordion"
          id="accordionEx"
          role="tablist"
          aria-multiselectable="true"
        >
          <!-- Accordion item -->
          <div class="accordion-item">
            <!-- accordion header -->
            <div class="accordion-header" id="headingCity">
              <a
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseCity"
                aria-expanded="true"
                aria-controls="collapseCity"
              >
                <h6 class="heading-label">
                  Choose city <i class="fas fa-angle-down rotate-icon"></i>
                </h6>
              </a>
            </div>

            <!-- accordion body -->
            <div
              id="collapseCity"
              class="accordion-collapse collapse"
              aria-labelledby="headingCity"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Accordion item -->
          <!-- Accordion item -->
          <div class="accordion-item">
            <!-- accordion header -->
            <div class="accordion-header" id="headingdistrict">
              <a
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapsedistrict"
                aria-expanded="true"
                aria-controls="collapsedistrict"
              >
                <h6 class="heading-label">
                  Choose district <i class="fas fa-angle-down rotate-icon"></i>
                </h6>
              </a>
            </div>

            <!-- accordion body -->
            <div
              id="collapsedistrict"
              class="accordion-collapse collapse"
              aria-labelledby="headingdistrict"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Accordion item -->
          <!-- Accordion item -->
          <div class="accordion-item">
            <!-- accordion header -->
            <div class="accordion-header" id="headingType">
              <a
                class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseType"
                aria-expanded="true"
                aria-controls="collapseType"
              >
                <h6 class="heading-label">
                  Supplier Type <i class="fas fa-angle-down rotate-icon"></i>
                </h6>
              </a>
            </div>

            <!-- accordion body -->
            <div
              id="collapseType"
              class="accordion-collapse collapse show"
              aria-labelledby="headingType"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Global
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                    With Company
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Local
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Accordion item -->
          <!-- Accordion item -->
          <div class="accordion-item">
            <!-- accordion header -->
            <div class="accordion-header" id="headingLevel">
              <a
                class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseLevel"
                aria-expanded="true"
                aria-controls="collapseLevel"
              >
                <h6 class="heading-label">
                  Product Type
                  <i class="fas fa-angle-down rotate-icon"></i>
                </h6>
              </a>
            </div>

            <!-- accordion body -->
            <div
              id="collapseLevel"
              class="accordion-collapse collapse show"
              aria-labelledby="headingLevel"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Furnature
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        School Tools
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Bags
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        pins
                      </label>
                    </div>
                  </li>
                </ul>
                <a href="#" class="btn-more">see more</a>
              </div>
            </div>
          </div>
          <!-- Accordion item -->
          <!-- Accordion item -->
          <div class="accordion-item">
            <!-- accordion header -->
            <div class="accordion-header" id="headingCurriculum">
              <a
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseCurriculum"
                aria-expanded="true"
                aria-controls="collapseCurriculum"
              >
                <h6 class="heading-label">
                  Service Type
                  <i class="fas fa-angle-down rotate-icon"></i>
                </h6>
              </a>
            </div>

            <!-- accordion body -->
            <div
              id="collapseCurriculum"
              class="accordion-collapse collapse"
              aria-labelledby="headingCurriculum"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        kids stage
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        primary stage
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        preparatory stage
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        high school
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Accordion item -->
         
        
          <!-- Accordion item -->
          <div class="accordion-item">
            <!-- accordion header -->
            <div class="accordion-header" id="headingRating">
              <a
                class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseRating"
                aria-expanded="true"
                aria-controls="collapseRating"
              >
                <h6 class="heading-label">
                  rating <i class="fas fa-angle-down rotate-icon"></i>
                </h6>
              </a>
            </div>

            <!-- accordion body -->
            <div
              id="collapseRating"
              class="accordion-collapse collapse show"
              aria-labelledby="headingRating"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="rating__item active">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                            <span class="rating__item">
                              <i class="fas fa-star"></i>
                            </span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Accordion item -->
          <!-- Accordion item -->
          <div class="accordion-item">
            <!-- accordion header -->
            <div class="accordion-header" id="headingCertificates">
              <a
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseCertificates"
                aria-expanded="true"
                aria-controls="collapseCertificates"
              >
                <h6 class="heading-label">
                  School Rank
                  <i class="fas fa-angle-down rotate-icon"></i>
                </h6>
              </a>
            </div>

            <!-- accordion body -->
            <div
              id="collapseCertificates"
              class="accordion-collapse collapse"
              aria-labelledby="headingCertificates"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        kids stage
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        primary stage
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        preparatory stage
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        high school
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Accordion item -->
          
        </div>
        <!-- Accordion wrapper -->
      </div>
    </aside>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>
