<template>
  <div class="">
    <div class="container">
      <div class="school-single-header mt-5">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Comparison
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" class="btn btn-theme">
                <span class="ti-server me-1"></span>
                <span>Request for Quotation</span>
              </a>
              <div class="">
                <a href="javascript:void(0)" class="btn btn-theme">
                  <img
                    src="/assets/img/icons/svg/comparison-white.svg"
                    alt=""
                  />
                  <span>Supply Order</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
}
</script>
<style scoped>
</style>