<template>
  <div class="">
    <aside class="widget_sidebar_filter_widget">
      <div class="widget-group mb-4">
        <h5 class="job_filter_widget_title">Location Of supplier In the map</h5>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1728.4171999123791!2d30.921541343656738!3d29.9554415861155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458560b0db47d07%3A0xd718acf2015086e8!2sNEN%20-%20National%20Education%20Network!5e0!3m2!1sen!2sus!4v1632042313467!5m2!1sen!2sus"
          class="rounded img-fluid w-100"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </aside>
  </div>
</template>

<script>
export default {}
</script>
