<template>
  <div class="">
    <div class="widget_school_tabs">
      <ul
        class="nav nav-pills nav-tabs-dropdown mb-3"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="pills-about-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-about"
            type="button"
            role="tab"
            aria-controls="pills-about"
            aria-selected="true"
          >
            About Company
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-news-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-news"
            type="button"
            role="tab"
            aria-controls="pills-news"
            aria-selected="false"
          >
            Services
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-gallery-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-gallery"
            type="button"
            role="tab"
            aria-controls="pills-gallery"
            aria-selected="false"
          >
            Offers
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-review-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-review"
            type="button"
            role="tab"
            aria-controls="pills-review"
            aria-selected="false"
          >
            Customer review
          </a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-about"
          role="tabpanel"
          aria-labelledby="pills-about-tab"
        >
          <div class="tab-content-about">
            <h3>UNCTUALITY</h3>
            <p>
              This will be maintained in all spheres of school life, for
              example, assembly, recess, lunch break and co-curricular
              activities or handing in of assignments daily. Students must be at
              school by 7:55 a.m. Children arriving after 8:10 a.m. bell, will
              be required to sit outside their classroom until the end of the
              first period.
            </p>
            <h3>SCHOOL HOURS:</h3>
            <p>
              Children in the Reception class to Grade 3 will attend school from
              8:00 a.m. to 1:15 p.m from Monday to Friday. Grade 4 to 7 will
              also attend school from 8:00 a.m to 4:00 p.m from Monday to
              Thursday and Friday from 8:00 a.m to 1:15 p.m. Grade 8 – 12
              children will have classes from 8:00 a.m to 4:00 p.m. from Monday
              to Friday. All Co-curricular activities will be conducted from
              2:15 p.m. to 4:00 p.m. for upper primary students and on Thursdays
              &amp; Fridays for Secondary students.
            </p>
            <h3>HOMEWORK/ASSIGNMENTS:</h3>
            <p>
              This is part of the daily routine at the school and is aimed at
              getting the student to work independently. Parents are requested
              to supervise their children’s homework. Any student who fails to
              do his homework will be required to produce a letter from his/her
              parents. A student who continually fails to do assignments may be
              suspended from school.
            </p>
            <h3>GOOD BEHAVIOUR:</h3>
            <p>
              Students will be expected to observe good behaviour at all times.
              They may be suspended or expelled for gross misbehaviour, and the
              parents will be required to meet the teacher concerned and the
              Headteacher before they can be re-admitted to the class.
            </p>
            <h3>CARE OF SCHOOL PROPERTY</h3>
            <p>
              Each child is required to bring a school bag and he/she will be
              required to take the text books and notebooks home daily and bring
              them back to school the following day. Any child who continually
              forgets to bring his/her book(s) to school will not be allowed to
              attend classes. All textbooks and notebooks issued to the child
              should be covered with brown paper or any other suitable paper.
              Newspapers should not be used. A separate plastic bag/container
              should be used to pack the child’s snacks or lunch. Please ensure
              that your child brings a pencil, ruler and an eraser to school
              daily. Lost pencils should be immediately replaced. Pencils may be
              deposited at the school with the classteacher. Students from Grade
              8 to 12 will be required to bring their own writing tools,
              mathematical instruments and calculators. All students will also
              be required to purchase their own dictionary, and atlas and “set
              books” for Literature for English and Sesotho.
            </p>
            <h3>CARE OF SCHOOL PROPERTY:</h3>
            <p>
              Students breaking or losing any equipment will be required to
              replace it or pay for the loss. No book will be reissued without
              full payment.
            </p>
            <h3>PHYSICAL EDUCATION GEAR</h3>
            <p>
              P.E. gear is required for sports activities – that is canvas/gym
              shoes and T-shirt and shorts or tracksuit on Wednesday afternoon
              (for Primary) and Friday afternoon (for Secondary). WITHDRAWAL
              FROM SCHOOL : The school has the right to withdraw a student for
              any case of gross misconduct. CONTINUOUS ASSESSMENT : Records of
              students’ progress in each subject will be kept by the class
              teacher. Furthermore, tests will also be administered at regular
              intervals. Parents should feel free to consult their teachers
              about their children’s progress and to discuss any difficulty
              encountered by their children in a particular subject. Parents are
              also invited to meet teachers/Deputy Head/Headteacher on Open Days
              which will be held once a term in the afternoon from 2.15 p.m. to
              4.45 p.m
            </p>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-news"
          role="tabpanel"
          aria-labelledby="pills-news-tab"
        >
          <div class="tab-content-news">
            <h4 class="mb-3">Popular Product</h4>
            <div class="row row-cols-md-2 row-cols-1">
              <product-card />
              <product-card />
              <product-card />
              <product-card />
              <product-card />
              <product-card />
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-gallery"
          role="tabpanel"
          aria-labelledby="pills-gallery-tab"
        >
          <div class="tab-content-gallery">
            <div class="row row-cols-md-2 row-cols-1">
              <product-card />
              <product-card />
              <product-card />
              <product-card />
              <product-card />
              <product-card />
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-review"
          role="tabpanel"
          aria-labelledby="pills-review-tab"
        >
          <div class="tab-content-reviews">
            <div class="reviews-wrapper items-wrapper">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingOne">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class=""
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseOne"
                              aria-expanded="false"
                              aria-controls="flush-collapseOne"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingTwo">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseTwo"
                              aria-expanded="false"
                              aria-controls="flush-collapseTwo"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingThree">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseThree"
                              aria-expanded="false"
                              aria-controls="flush-collapseThree"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingThree"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingFour">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseFour"
                              aria-expanded="false"
                              aria-controls="flush-collapseFour"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingFour"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingFive">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseFive"
                              aria-expanded="false"
                              aria-controls="flush-collapseFive"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseFive"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingFive"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper-review-form">
              <div class="item_comment item_form_comment">
                <div class="content_item_review">
                  <div class="item_review_left">
                    <figure>
                      <img src="/assets/img/users/1.png" alt="" />
                    </figure>
                  </div>
                  <div class="inner_item_review">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item">
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                    </div>
                    <textarea
                      class="form-control"
                      name=""
                      id=""
                      placeholder="Send Your Comment"
                    ></textarea>
                  </div>
                </div>
                <div class="footer_item_review">
                  <a href="#" class="btn btn-theme"> Add comment </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ProductCard from '~/components/supplierHome/suppliersProfile/productCard.vue'
export default {
  components: {
    ProductCard,
  },
}
</script>

<style scoped>
.discound {
  background: red;
  color: white;
}
