<template>
  <div class="">
    <div class="container mb-5">
      <div class="row">
        <div class="col-sm-12 col-lg-7 col-md-12">
          <school-news></school-news>
          <comments></comments>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-12 offset-lg-1 offset-0">
          <h3 class="py-3">Other School News</h3>
          <other-school-news />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import comments from '~/components/news/comments.vue'
import OtherSchoolNews from '~/components/news/otherSchoolNews.vue'
import SchoolNews from '~/components/news/schoolNews.vue'

export default {
  middleware: 'auth',
  components: { comments, OtherSchoolNews, SchoolNews },
}
</script>

<style>
</style>
