<template>
  <div class="">
    <div class="main_card shadow p-3 mb-5 bg-body rounded">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="taitle">Tender For Maintenance And Supply</h3>
            <h6 class="privateTender my-2">Private Tender</h6>
            <h6 class="requestes">50 Requestes</h6>
          </div>
          <div class="col-sm-6">
            <div class="buttons float-end">
              <a class="btn btn-theme me-3"
                ><i class="far fa-times-circle me-2"></i>Suspend</a
              >
              <a class="delete btn"
                ><i class="fas fa-trash-alt me-2"></i> Delete</a
              >
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="right-side">
                  <h6>
                    <i class="fas fa-window-restore fassss me-2"></i>Brochure
                    Price
                  </h6>
                  <h6>
                    <i class="fas fa-map-marker-alt fassss me-2"></i> Location
                  </h6>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="left-side">
                  <h6>20.00</h6>
                  <h6>6TH October</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="right-side">
                  <h6>
                    <i class="fas fa-calendar-alt fassss me-2"></i>Start Date
                  </h6>
                  <h6>
                    <i class="fas fa-calendar-alt fassss me-2"></i>Expiry Date
                  </h6>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="left-side">
                  <h6>08/09/2021</h6>
                  <h6>05/12/2021</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style  scoped>
.left-side {
  color: var(--second);
  font-weight: bolder;
}
.fassss {
  color: var(--second);
}
.btn,
.btn:hover {
  background-color: var(--second);
  border: 1px solid var(--second);
  border-radius: 5px;
  color: #eee;
}
.delete,
.delete:hover {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  color: #eee;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}
.privateTender {
  color: var(--second);
}
.requestes {
  color: rgb(110, 107, 107);
}
</style>