<template>
  <div class="">
    <div class="widget widget_apus_school_activities">
      <h4 class="title">School Activities</h4>
      <div class="school_detail_activities">
        <ul>
          <li>
            <div class="icon">
              <img src="/assets/img/icons/svg/swimming.svg" alt="" />
            </div>
            <div class="details">
              <div class="text">Swimming Courses</div>
            </div>
          </li>
          <li>
            <div class="icon">
              <img src="/assets/img/icons/svg/probot.svg" alt="" />
            </div>
            <div class="details">
              <div class="text">Steam Labs</div>
            </div>
          </li>
          <li>
            <div class="icon">
              <img src="/assets/img/icons/svg/book.svg" alt="" />
            </div>
            <div class="details">
              <div class="text">library</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
