<template>
  <div class="">
    <div class="widget widget_apus_school_communicate" v-if="result">
      <h4 class="title">Communicate with the school</h4>
      <div class="school_detail_communicate">
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="details">{{ result.phone1 }} - {{ result.phone2 }}</div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="details">{{ result.public_email }}</div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="details">{{ result.address }}</div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-globe"></i>
            </div>
            <div class="details">{{ result.website }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      result: {},
    }
  },
  mounted() {
    this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
      this.result = response.data.result
    })
  },
}
</script>