<template>
  <div class="">
    <!-- Header profile school -->
    <section v-if="result">
      <div
        class="school-detail-header"
        :style="{ backgroundImage: `url(${result.coverPath})` }"
      >
        <div class="container">
          <div
            class="
              row
              flex-sm-row flex-column
              school-detail-header-row
              align-items-end
            "
          >
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
              <div class="school-detail-header-container">
                <div class="school-thumbnail">
                  <div class="inner-image">
                    <div class="" v-if="result.logoPath != null">
                      <img
                        width="150"
                        height="150"
                        :src="result.logoPath"
                        :alt="result.main_name_en"
                      />
                    </div>
                    <div class="" v-else>
                      <img
                        width="150"
                        height="150"
                        src="/assets/img/schools/NoPath.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="school-information">
                  <div class="title-wrapper">
                    <h1 class="school-title">
                      {{ $t(result.main_name_en) }}
                    </h1>
                    <span class="featured">
                      <i class="fa fa-star"></i>
                    </span>
                    <span class="rate-text">{{ result.total_rate }}</span>
                  </div>

                  <ul class="school-detail-header-meta">
                    <li>
                      <div class="school-location with-icon">
                        <i class="ti-location-pin"></i>
                        <a>{{ result.governorate }} - {{ result.city }} </a>
                      </div>
                    </li>
                  </ul>
                  <div class="school-detail-buttons">
                    <div v-if="isFollowedSchool">
                      <a
                        @click="unfollowSchool(result.id)"
                        class="button btn-follow has-text"
                      >
                        <i class="fas fa-minus"></i>
                        <span>unfollow School</span>
                      </a>
                    </div>
                    <div v-if="!isFollowedSchool">
                      <a
                        @click="followSchool(result.id)"
                        class="button btn-follow has-text"
                      >
                        <i class="fas fa-plus"></i>
                        <span>Follow School</span>
                      </a>
                    </div>
                    <div>
                      <send-massage></send-massage>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div
                class="
                  school-detail-header-right
                  justify-content-lg-end justify-content-start
                "
              >
                <div class="nb-job">
                  <span class="text-red">{{ result.applications }}</span>
                  <span class="text">Application</span>
                </div>
                <div class="nb_reviews">
                  <span class="text-green">{{ result.total_rate }}</span>
                  <span class="text">Reviews</span>
                </div>
                <div class="nb_views">
                  <span class="text-blue">4,327</span>
                  <span class="text">Visit</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import sendMassage from '../popup/sendMassage.vue'
export default {
  created() {
    this.$store.dispatch('setFollowedSchoolsAction')
  },
  mounted() {
    this.isFollowedSchool = this.$store.getters.isFollowedSchool
  },
  components: { sendMassage },
  props: {
    result: {},
    isFollowedSchool: false,
  },

  methods: {
    async followSchool(school_id) {
      try {
        const res = await this.$axios.post('follow', {
          school_id,
        })
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
    unfollowSchool(school_id) {},
  },
}
</script>