<template>
  <div class="" v-if="jobs !== 0">
    <div
      class="cardJOB mb-5 mx-2 shadow rounded pb-3"
      v-for="job in jobs"
      :key="job.id"
      :jobs="jobs"
    >
      <NuxtLink :to="`/jobs/${job.id}`"
        ><img src="/assets/image/NoPath.png" class="card-img-top" alt="..."
      /></NuxtLink>
      <div class="bottomJob px-2">
        <div class="card-body">
          <NuxtLink :to="`/jobs/${job.id}`"
            ><h5 class="card-title">{{ job.title }}</h5></NuxtLink
          >
          <p class="card-text">
            {{ job.body }}
          </p>
        </div>

        <div class="footer_item_review d-flex px-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col text-start">
            <span class="date_time">{{ job.created_at }} </span>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col text-end">
            <apply-job />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import applyJob from '../popup/applyJob.vue'
export default {
  components: { applyJob },
  data() {
    return {
      jobs: [],
    }
  },
  mounted() {
    this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
      this.jobs = response.data.jobs
    })
  },
}
</script>

<style>
.cardJOB {
  width: 100%;
}
.card-img-top {
  width: 100%;
}
</style>