<template>
  <div class="">
    <div class="widget widget_latest_school_photos">
      <h4 class="title">Latest School Photos</h4>
      <carousel class="owl-carousel owl-theme owl-loaded owl-drag" 
          :items="1"
          :nav="true"
          :loop="true"
          :dots="false">

  <img src="/assets/image/university-of-mobile-ZPkG-1.png" alt="" />

  <img src="/assets/image/Rectangle -1.png" alt="" />

  <img src="/assets/image/Rectangle 213.png" alt="" />

  <img src="/assets/image/Rectangle 1160.png" alt="" />

</carousel>
     
  </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>

</style>