<template>
  <div class="">
  <report-account></report-account>
    
  </div>
</template>

<script>
import ReportAccount from '~/components/popup/reportAccount.vue'
export default {
  components: {
    ReportAccount,
 }
}
</script>
