<template>
  <div class="">
    <div class="widget widget_apus_school_reviews">
      <h4 class="title">Latest Parents Reviews</h4>
      <div class="school_detail_reviews">
        <div class="item_blog">
          <div class="content_item_review">
            <div class="item_review_left">
              <figure>
                <img src="/assets/img/users/1.png" alt="" />
              </figure>
              <div class="rate-header">
                <div class="stars-rating">
                  <div class="star-rating">
                    <span class="rating__item active">
                      <i class="fas fa-star"></i>
                    </span>
                    <span class="rating__item active">
                      <i class="fas fa-star"></i>
                    </span>
                    <span class="rating__item active">
                      <i class="fas fa-star"></i>
                    </span>
                    <span class="rating__item active">
                      <i class="fas fa-star"></i>
                    </span>
                    <span class="rating__item">
                      <i class="fas fa-star"></i>
                    </span>
                  </div>
                </div>
                <span class="rate-count"> (4.9) </span>
              </div>
            </div>
            <div class="inner_item_review">
              <h4>joney jomas</h4>
              <span class="date_time">05:32:45 pm 8/9/2021</span>
              <p>
                Cras gravida bibendum dolor eu varius. Morbi fermentum velit
                nisl, eget vehicula lorem sodales eget. Donec quis volutpat
                orci. Sed ipsum felis .
              </p>
            </div>
          </div>
          <div class="footer_item_review">
            <ul>
              <li>
                <i class="far fa-comment-alt"></i>
                <span>30</span>
              </li>
              <li>
                <i class="far fa-thumbs-down"></i>
                <span>50K</span>
              </li>
              <li>
                <i class="fas fa-thumbs-up"></i>
                <span>230K</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="widget widget_apus_school_reviews">
      <h4 class="title">Latest School News</h4>
      <div class="school_detail_reviews">
        <div class="item_blog">
          <div class="content_item_review">
            <div class="item_review_left">
              <figure>
                <img src="/assets/img/news/Rectangle 221.png" alt="" />
              </figure>
            </div>
            <div class="inner_item_review">
              <h4>Lass School Grades</h4>
              <span class="date_time">05:32:45 pm 8/9/2021</span>
              <p>
                Cras gravida bibendum dolor eu varius. Morbi fermentum velit
                nisl, eget vehicula lorem sodales eget. Donec quis volutpat
                orci. Sed ipsum felis .
              </p>
              <a href="#" class="btn"> Read More </a>
            </div>
          </div>
          <div class="footer_item_review">
            <ul>
              <li>
                <i class="far fa-comment-alt"></i>
                <span>30</span>
              </li>
              <li>
                <i class="far fa-thumbs-down"></i>
                <span>50K</span>
              </li>
              <li>
                <i class="fas fa-thumbs-up"></i>
                <span>230K</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="item_blog">
          <div class="content_item_review">
            <div class="item_review_left">
              <figure>
                <img src="/assets/img/news/Rectangle 221.png" alt="" />
              </figure>
            </div>
            <div class="inner_item_review">
              <h4>BBC News Family</h4>
              <span class="date_time">05:32:45 pm 8/9/2021</span>
              <p>
                Cras gravida bibendum dolor eu varius. Morbi fermentum velit
                nisl, eget vehicula lorem sodales eget. Donec quis volutpat
                orci. Sed ipsum felis .
              </p>
              <a href="#" class="btn"> Read More </a>
            </div>
          </div>
          <div class="footer_item_review">
            <ul>
              <li>
                <i class="far fa-comment-alt"></i>
                <span>30</span>
              </li>
              <li>
                <i class="far fa-thumbs-down"></i>
                <span>50K</span>
              </li>
              <li>
                <i class="fas fa-thumbs-up"></i>
                <span>230K</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
