<template>
  <div class="school-detail-reviews">
    <h4 class="title">Parent Rating</h4>
    <div class="rate-header">
      <div class="rate-number">4.9</div>
      <div class="stars-rating">
        <div class="star-rating">
          <span class="rating__item active">
            <i class="fas fa-star"></i>
          </span>
          <span class="rating__item active">
            <i class="fas fa-star"></i>
          </span>
          <span class="rating__item active">
            <i class="fas fa-star"></i>
          </span>
          <span class="rating__item active">
            <i class="fas fa-star"></i>
          </span>
          <span class="rating__item">
            <i class="fas fa-star"></i>
          </span>
        </div>
      </div>
      <span class="rate-count"> ( 23 Parents ) </span>
    </div>
    <div class="rating-categories">
      <h4 class="title">Rating categories</h4>
      <div class="categories_container_progress">
        <div class="category">
          <div class="category-title">
            <p>School academic level</p>
          </div>
          <div class="category-rating">
            <div class="progress success">
              <div
                role="progressbar"
                aria-valuenow="3"
                aria-valuemin="0"
                aria-valuemax="100"
                class="progress-bar"
                style="--progress: 98%"
              ></div>
            </div>
            <span class="fw-bold">4.9/5</span>
          </div>
        </div>
        <div class="category">
          <div class="category-title">
            <p>Communicate with the school</p>
          </div>
          <div class="category-rating">
            <div class="progress success">
              <div
                role="progressbar"
                aria-valuenow="3"
                aria-valuemin="0"
                aria-valuemax="100"
                class="progress-bar"
                style="--progress: 92%"
              ></div>
            </div>
            <span class="fw-bold">4.6/5</span>
          </div>
        </div>
        <div class="category">
          <div class="category-title">
            <p>School facilities</p>
          </div>
          <div class="category-rating">
            <div class="progress success">
              <div
                role="progressbar"
                aria-valuenow="3"
                aria-valuemin="0"
                aria-valuemax="100"
                class="progress-bar"
                style="--progress: 100%"
              ></div>
            </div>
            <span class="fw-bold">5/5</span>
          </div>
        </div>
        <div class="category">
          <div class="category-title">
            <p>Safety and hygiene</p>
          </div>
          <div class="category-rating">
            <div class="progress success">
              <div
                role="progressbar"
                aria-valuenow="3"
                aria-valuemin="0"
                aria-valuemax="100"
                class="progress-bar"
                style="--progress: 96%"
              ></div>
            </div>
            <span class="fw-bold">4.8/5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>