<template>
  <div class="" v-if="fees">
    <div class="school-fees pb-3 mt-4">
      <div class="d-flex justify-content-between align-items-center py-3">
        <h5 class="title">Fees</h5>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{ $t('Grade') }}</th>
              <th scope="col">{{ $t('fees') }}</th>
            </tr>
          </thead>
          <tbody v-if="fees.length != 0">
            <tr>
              <td>{{ fees.grade }}</td>
              <td>{{ fees.fees }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      fees: [],
    }
  },
  mounted() {
    this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
      this.fees = response.data.result.fees[0]
    })
  },
}
</script>