<template>
  <div class="">
    <div class="school-detail-info">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="school-info-item">
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-6">
              <h4>School type</h4>
            </div>
            <div
              class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-6"
              v-if="types.length != 0"
            >
              <h3>{{ types.title }}</h3>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="school-info-item">
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-6">
              <h4>Educational Level</h4>
            </div>
            <div
              class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-6"
              v-if="eductional_levels.length != 0"
            >
              <h3>{{ eductional_levels.title }}</h3>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="school-info-item">
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-6">
              <h4>Gender</h4>
            </div>
            <div
              class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-6"
              v-if="student_types.length != 0"
            >
              <h3>{{ student_types.title }}</h3>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="school-info-item">
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-6">
              <h4>Curriculum</h4>
            </div>
            <div
              class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-6"
              v-if="curriculums.length != 0"
            >
              <h3>{{ curriculums.title }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      types: [],
      eductional_levels: [],
      student_types: [],
      curriculums: [],
    }
  },
  mounted() {
    this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
      this.types = response.data.result.types[0]
      this.eductional_levels = response.data.result.eductional_levels[0]
      this.student_types = response.data.result.student_types[0]
      this.curriculums = response.data.result.curriculums[0]
    })
  },
}
</script>
