<template>
  <div class="">
    <div class="school-questions">
      <div class="widget_school_questions_feature">
        <div class="head_questions_feature">
          <h4>Have a question about the school</h4>
          <p>View the questions answered by the school before your question</p>
        </div>
        <div class="content_questions_feature">
          <p>There are no questions, Add the first inquiry to the school</p>
          <a href=""> Send An Inquiry </a>
        </div>
      </div>
    </div>
    <div class="school-questions">
      <div class="widget_school_list_questions">
        <div class="head_questions_feature">
          <figure>
            <img src="/assets/img/schools/NoPath.png" alt="" />
          </figure>
          <h4>West Avenue International School</h4>
        </div>
        <div class="form_questions_feature">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Send Your Question"
          />
          <a href="#" class="btn btn-submit"> Send Question </a>
        </div>
        <div class="content_questions_feature">
          <h4>There Are Old School Questions</h4>
          <ul>
            <li>
              <h5>What Are The High School Fees?</h5>
              <p>The High School Fees Is 15000 For One Year .</p>
            </li>
            <li>
              <h5>What Are The High School Fees?</h5>
              <p>The High School Fees Is 15000 For One Year .</p>
            </li>
            <li>
              <h5>What Are The High School Fees?</h5>
              <p>The High School Fees Is 15000 For One Year .</p>
            </li>
            <li>
              <h5>What Are The High School Fees?</h5>
              <p>The High School Fees Is 15000 For One Year .</p>
            </li>
            <li>
              <h5>What Are The High School Fees?</h5>
              <p>The High School Fees Is 15000 For One Year .</p>
            </li>
            <li>
              <h5>What Are The High School Fees?</h5>
              <p>The High School Fees Is 15000 For One Year .</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>