<template>
  <div class="">
    <div class="container">
      <div class="school-single-header mt-5">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">School</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  west avenue international school
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="d-flex justify-content-between">
              <nuxt-link to="/school/comparisonTable" class="btn btn-theme">
                <img src="/assets/img/icons/svg/comparison-white.svg" alt="" />
                <span>Compare</span>
              </nuxt-link>

              <div class="">
                <app-request></app-request>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import appRequest from '../popup/appRequest.vue'
export default {
  components: { appRequest },
}
</script>
<style scoped>
</style>