<template>
  <div class="">
    <div class="school-detail-facilities">
      <h4 class="title">School Facilities</h4>
      <div class="school-content-facilities">
        <div class="item_facilitie">
          <figure>
            <img src="/assets/img/icons/svg/football.svg" alt="football" />
          </figure>
          <h4>football stadium</h4>
        </div>
        <div class="item_facilitie">
          <figure>
            <img src="/assets/img/icons/svg/swimming.svg" alt="swimming" />
          </figure>
          <h4>Swimming pool</h4>
        </div>
        <div class="item_facilitie">
          <figure>
            <img
              src="/assets/img/icons/svg/horse-riding.svg"
              alt="horse-riding"
            />
          </figure>
          <h4>Horse Riding</h4>
        </div>
        <div class="item_facilitie">
          <figure>
            <img src="/assets/img/icons/svg/probot.svg" alt="probot" />
          </figure>
          <h4>Steam Labs</h4>
        </div>
        <div class="item_facilitie">
          <figure>
            <img src="/assets/img/icons/svg/book.svg" alt="book" />
          </figure>
          <h4>library</h4>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      facilities: [],
    }
  },
  mounted() {
    this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
      this.facilities = response.data.result.facilities[0]
    })
  },
}
</script>