<template>
  <div class="">
    <div class="widget widget_latest_school_videos">
      <h4 class="title">Latest School Videos</h4>
      <div class="welcome-video-area">
        <!-- Welcome Thumbnail -->
        <div class="welcome-thumb">
          <img src="/assets/img/schools/1.png" alt="" />
        </div>
        <!-- Video Icon -->
        <div class="video-icon">
          <a href="#" class="btn dream-btn video-btn">
            <i class="fas fa-play-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
