<template>
  <div class="">
    <div class="widget_school_tabs">
      <ul
        class="nav nav-pills nav-tabs-dropdown mb-3"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="pills-about-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-about"
            type="button"
            role="tab"
            aria-controls="pills-about"
            aria-selected="true"
          >
            About School
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-news-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-news"
            type="button"
            role="tab"
            aria-controls="pills-news"
            aria-selected="false"
          >
            School News
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-gallery-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-gallery"
            type="button"
            role="tab"
            aria-controls="pills-gallery"
            aria-selected="false"
          >
            School Gallery
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-review-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-review"
            type="button"
            role="tab"
            aria-controls="pills-review"
            aria-selected="false"
          >
            parent review
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-jobs-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-jobs"
            type="button"
            role="tab"
            aria-controls="pills-jobs"
            aria-selected="false"
          >
            Jobs
          </a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-about"
          role="tabpanel"
          aria-labelledby="pills-about-tab"
        >
          <div class="tab-content-about" v-if="result">
            <h3>{{ $t(result.main_name_en) }}</h3>
            <p>
              {{ result.about }}
            </p>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-news"
          role="tabpanel"
          aria-labelledby="pills-news-tab"
        >
          <div class="tab-content-news">
            <div class="news-wrapper items-wrapper">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="style-list-news">
                  <div
                    class="accordion-item"
                    v-for="item in news"
                    :key="item.id"
                  >
                    <div class="item_blog" id="flush-headingOne">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              v-if="item.attachments.length != 0"
                              :src="item.attachments[0].name"
                              :alt="item.title"
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <h4>{{ item.title }}</h4>

                          <p>
                            {{ item.subtitle }}
                          </p>
                          <NuxtLink :to="`/news/${item.id}`" class="btn">
                            Read More
                          </NuxtLink>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class=""
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseOne"
                              aria-expanded="false"
                              aria-controls="flush-collapseOne"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>{{ item.comments_count }}</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">{{ item.created_at }}</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div
                        class="accordion-body p-0"
                        v-if="item.comments != null"
                      >
                        <div
                          class="comments-wrapper"
                          v-for="comment in item.comments"
                          :key="comment.id"
                        >
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img
                                      v-if="comment.user.avatar != null"
                                      :src="comment.user.avatar"
                                      :alt="comment.user.name"
                                    />
                                    <img
                                      v-else
                                      src="/assets/img/users/1.png"
                                      alt=""
                                    />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>{{ comment.user.name }}</h4>
                                  <p>
                                    {{ comment.body }}
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="style-list-comments">
                        <div class="item_comment item_form_comment">
                          <div class="content_item_review">
                            <div class="item_review_left">
                              <figure>
                                <img src="/assets/img/users/1.png" alt="" />
                              </figure>
                            </div>

                            <form
                              @submit.prevent="sendComment"
                              action="#"
                              method="post"
                            >
                              <div class="inner_item_review">
                                <textarea
                                  class="form-control"
                                  name="body"
                                  id="comment-body"
                                  placeholder="Send Your Comment"
                                  v-model="form.body"
                                ></textarea>
                              </div>
                              <input
                                type="hidden"
                                name="news_id"
                                v-model="item.id"
                              />
                              <input
                                type="submit"
                                value="Add comment"
                                class="btn btn-theme"
                              />
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-gallery"
          role="tabpanel"
          aria-labelledby="pills-gallery-tab"
        >
          <div class="tab-content-gallery">
            <div class="gallery-wrapper items-wrapper">
              <div class="row style-list-gallery">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                    <div class="video-icon">
                      <a href="#" class="btn dream-btn video-btn">
                        <i class="fas fa-play-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                    <div class="video-icon">
                      <a href="#" class="btn dream-btn video-btn">
                        <i class="fas fa-play-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                    <div class="video-icon">
                      <a href="#" class="btn dream-btn video-btn">
                        <i class="fas fa-play-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                    <div class="video-icon">
                      <a href="#" class="btn dream-btn video-btn">
                        <i class="fas fa-play-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                    <div class="video-icon">
                      <a href="#" class="btn dream-btn video-btn">
                        <i class="fas fa-play-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="item_gallery_img">
                    <img src="/assets/img/rquests/2.png" alt="images" />
                    <div class="imagebox-content mx-xl-3 mx-0">
                      <h2>School Photos</h2>
                      <span class="date">05:32:45 Pm 8/9/2021</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-review"
          role="tabpanel"
          aria-labelledby="pills-review-tab"
        >
          <div class="tab-content-reviews">
            <div class="reviews-wrapper items-wrapper">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingOne">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class=""
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseOne"
                              aria-expanded="false"
                              aria-controls="flush-collapseOne"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingTwo">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseTwo"
                              aria-expanded="false"
                              aria-controls="flush-collapseTwo"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingThree">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseThree"
                              aria-expanded="false"
                              aria-controls="flush-collapseThree"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingThree"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <form
                                  @submit.prevent="sendComment"
                                  action="#"
                                  method="post"
                                >
                                  <div class="inner_item_review">
                                    <textarea
                                      class="form-control"
                                      name="body"
                                      id="comment-body"
                                      placeholder="Send Your Comment"
                                      v-model="form.body"
                                    ></textarea>
                                  </div>

                                  <input
                                    type="submit"
                                    value="Add comment"
                                    class="btn btn-theme"
                                  />
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingFour">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseFour"
                              aria-expanded="false"
                              aria-controls="flush-collapseFour"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingFour"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="style-list-reviews">
                  <div class="accordion-item">
                    <div class="item_blog" id="flush-headingFive">
                      <div class="content_item_review">
                        <div class="item_review_left">
                          <figure>
                            <img
                              src="/assets/img/news/Rectangle 221.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="inner_item_review">
                          <div class="head_item_review">
                            <h4>Mohammed Ahmed</h4>
                            <div class="stars-rating">
                              <div class="star-rating">
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item active">
                                  <i class="fas fa-star"></i>
                                </span>
                                <span class="rating__item">
                                  <i class="fas fa-star"></i>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p>
                            Cras gravida bibendum dolor eu varius. Morbi
                            fermentum velit nisl, eget vehicula lorem sodales
                            eget. Donec quis volutpat orci. Sed ipsum felis .
                          </p>
                        </div>
                      </div>
                      <div class="footer_item_review">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <ul>
                            <li
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#flush-collapseFive"
                              aria-expanded="false"
                              aria-controls="flush-collapseFive"
                            >
                              <i class="far fa-comment-alt"></i>
                              <span>30</span>
                            </li>
                            <li>
                              <i class="far fa-thumbs-down"></i>
                              <span>50K</span>
                            </li>
                            <li>
                              <i class="fas fa-thumbs-up"></i>
                              <span>230K</span>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="
                            col-xl-6 col-lg-6 col-md-6 col-sm-12
                            text-md-end text-start
                          "
                        >
                          <span class="date_time">05:32:45 pm 8/9/2021</span>
                        </div>
                      </div>
                    </div>

                    <div
                      id="flush-collapseFive"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingFive"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body p-0">
                        <div class="comments-wrapper">
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <h4>Ali Ahmed</h4>
                                  <p>
                                    Cras gravida bibendum dolor eu varius. Morbi
                                    fermentum velit nisl, eget vehicula lorem
                                    sodales eget. Donec quis volutpat orci. Sed
                                    ipsum felis .
                                  </p>
                                </div>
                              </div>
                              <div class="footer_item_review">
                                <div
                                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12"
                                >
                                  <ul>
                                    <li>
                                      <i class="far fa-thumbs-down"></i>
                                      <span>50K</span>
                                    </li>
                                    <li>
                                      <i class="fas fa-thumbs-up"></i>
                                      <span>230K</span>
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  class="
                                    col-xl-6 col-lg-6 col-md-6 col-sm-12
                                    text-md-end text-start
                                  "
                                >
                                  <span class="date_time"
                                    >05:32:45 pm 8/9/2021</span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="style-list-comments">
                            <div class="item_comment item_form_comment">
                              <div class="content_item_review">
                                <div class="item_review_left">
                                  <figure>
                                    <img src="/assets/img/users/1.png" alt="" />
                                  </figure>
                                </div>
                                <div class="inner_item_review">
                                  <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    placeholder="Send Your Comment"
                                  ></textarea>
                                </div>
                                <a href="#" class="btn btn-theme">
                                  Add comment
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper-review-form">
              <div class="item_comment item_form_comment">
                <div class="content_item_review">
                  <div class="item_review_left">
                    <figure>
                      <img src="/assets/img/users/1.png" alt="" />
                    </figure>
                  </div>
                  <div class="inner_item_review">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item">
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                    </div>
                    <textarea
                      class="form-control"
                      name=""
                      id=""
                      placeholder="Send Your Comment"
                    ></textarea>
                  </div>
                </div>
                <div class="footer_item_review">
                  <a href="#" class="btn btn-theme"> Add comment </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-jobs"
          role="tabpanel"
          aria-labelledby="pills-jobs-tab"
        >
          <div class="tab-content-jobs">
            <div class="jobs-wrapper items-wrapper" v-if="jobs !== 0">
              <div class="style-list-jobs">
                <div
                  class="item_blog"
                  id="flush-headingOne"
                  v-for="job in jobs"
                  :key="job.id"
                  :jobs="jobs"
                >
                  <div class="content_item_review">
                    <div class="inner_item_review">
                      <div class="head_item_review">
                        <h4>{{ job.title }}</h4>
                      </div>
                      <p>
                        {{ job.body }}
                      </p>
                    </div>
                  </div>
                  <div class="footer_item_review">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col">
                      <span class="date_time">{{ job.created_at }}</span>
                    </div>

                    <div
                      class="
                        col-xl-6 col-lg-6 col-md-6 col-sm-12 col
                        text-md-end text-start
                      "
                    >
                      <NuxtLink :to="`/jobs/${job.id}`" class="btn">
                        Apply Job
                      </NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="jobs-wrapper items-wrapper" v-else>
              <div class="style-list-jobs">
                <div class="content_item_review">
                  <div class="inner_item_review">
                    <h1>nooooo</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import headerBar from '../global/headerBar.vue'
export default {
  components: { headerBar },
  props: {
    result: {},
    news: [],
    comments: [],
  },
  data() {
    return {
      jobs: [],
      form: {
        body: '',
        news_id: '',
      },
    }
  },
  mounted() {
    this.getJobs()
  },

  methods: {
    //sendComment
    async sendComment(form) {
      try {
        var formdata = new FormData(form.target)

        const res = await this.$axios.post('comments', formdata)

        // this.$store.dispatch('Set_Auth', res.data).then(() => {
        //   this.$router.push({ path: '/' })
        // })
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
    //getJobs
    getJobs() {
      this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
        this.jobs = response.data.jobs
      })
    },
  },
}
</script>
<style scoped>
@media (min-width: 1200px) {
  .school-single-inner {
    padding: 0 0 0 0;
  }
}
</style>
