<template>
  <div class="">
    <div class="container">
      <div class="row">
        <nav aria-label="breadcrumb" class="tabs mb-5">
          <ol class="breadcrumb mb-0">
            <NuxtLink to="/"
              ><li class="breadcrumb-item">
                Home <span class="ti-angle-right mx-3"></span></li
            ></NuxtLink>
            <NuxtLink to="/schools/"
              ><li class="breadcrumb-item">
                School <span class="ti-angle-right mx-3"></span></li
            ></NuxtLink>
            <NuxtLink to="/schools/_id/"
              ><li class="breadcrumb-item">
                School Profile <span class="ti-angle-right mx-3"></span></li
            ></NuxtLink>
            <NuxtLink to="/jobs/_id/"
              ><li class="breadcrumb-item actLink">Job Details</li></NuxtLink
            >
          </ol>
        </nav>
        <div class="" v-if="data">
          <div class="col-md-5 col-lg-4 col-sm-12">
            <img
              src="/assets/image/NoPath - Copy-1.png"
              alt=""
              class="jobImg"
            />
          </div>

          <div class="col-md-7 col-lg-8 col-sm-12">
            <div class="job">
              <div class="head_item_review">
                <h4 class="mb-3">{{ data.title }}</h4>
              </div>
              <p class="jobParg">
                {{ data.body }}
              </p>
              <div class="footer_item_review d-flex">
                <div
                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col text-start"
                >
                  <span class="date_time">{{ data.created_at }}</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col text-end">
                  <apply-job></apply-job>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <h3 class="">Other Jobs</h3>
        <div class="row row-cols-3 row-cols-sm-12 mt-3">
          <job-block></job-block>jknh;'kasnd'
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import jobBlock from '~/components/pschools/jobBlock.vue'
import applyJob from '~/components/popup/applyJob.vue'
export default {
  middleware: 'auth',

  components: { jobBlock, applyJob },
  data() {
    return {
      data: {},
    }
  },
  mounted() {
    this.$axios
      .get(`/school/jobs/${this.$route.params.id}`)
      .then((response) => {
        this.data = response.data
      })
  },
}
</script>

<style>
.jobImg {
  width: 100%;
}
.actLink {
  color: #000;
}
.jobParg,
.date_time {
  color: rgb(121, 117, 117);
}
</style>