<template>
<div class="">
    <!-- breadcromb area -->
    <section class="blog-breadcromb-area  pb-md-0">
        <div class="breadcromb-top">
            <div class="container">
                <div class="row">
                    <div class="breadcromb-box py-3">
                        <h3>Suppliers</h3>
                        <p>
                            Suppliers Directory of Saudi Arabia cities : more than 1700 in
                            Saudi Arabia With all the details of these schools and
                            parents' evaluations on the schools, in addition to various
                            pictures of buildings and activities for schools of Saudi
                            Arabia . You can also communicate directly with any school in
                            cities of Saudi Arabia through the methods of communication
                            specific to each school.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
export default {}
</script>

<style scoped>
.blog-breadcromb-area {

    background-image: url(/assets/image/Group804.png);
    height: 400px;
}
</style>
