<template>
  <div>
    <!-- Navbar -->
    <nav class="custom-navbar navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <NuxtLink to="/">
          <a class="navaber-brand">
            <img src="/assets/img/logo/logo.png" alt="" />
          </a>
        </NuxtLink>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <NuxtLink to="/" class="nav-link active"> Home </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink to="/supplers/suppler/" class="nav-link">
                Suppliers
              </NuxtLink>
            </li>

            <li class="nav-item">
              <NuxtLink to="/supplers/tender/" class="nav-link">
                My Tenders
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink to="/supplers/jobRequest/" class="nav-link">
                Job Request
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/supplers/jobRequest/jobReqDetails"
                class="nav-link"
              >
                Application Requests
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink to="/" class="nav-link"> Shop </NuxtLink>
            </li>
          </ul>
          <ul class="header-actions">
            <div class="button-action">
              <NuxtLink to="/profile/">
                <button class="button-lanuage">
                  <span class="ti-user"></span>
                </button>
              </NuxtLink>
              <button class="button-lanuage">
                <img src="/assets/img/flags/egypt.png" alt="" />
              </button>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<style scoped>
.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

button:not(:disabled) {
  cursor: pointer;
}

.btn-theme {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}

.btn-theme {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}

/* custom select */

.select2 {
  width: 100% !important;
}

.select2-selection__rendered {
  line-height: 34px !important;
  padding-right: 8px !important;
  padding-left: 20px !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
  background: transparent;
  border: 1px solid #7e7373;
  transition: 0.5s;
  height: calc(1.5em + 0.75rem + 20px);
  padding: 8px 25px 8px 25px;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.select2-selection__arrow {
  height: 37px;
  right: auto;
  left: 1px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #01a352;
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--main);
  color: #fff;
}

.select2-dropdown {
  z-index: 100;
  -webkit-box-shadow: 0px 4px 4px #9e132650;
  box-shadow: 0px 4px 4px #81252a50;
}

.select2-search--dropdown .select2-search__field {
  -webkit-box-shadow: 0px 4px 4px #9c474750;
  box-shadow: 0px 4px 4px #75283250;
}

.hero-searchbar-header .search-form-inner .form-group button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  font-size: 13px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
</style>
