<template>
  <div class="">
    <div class="container"></div>
    <section class="utf-counters-container-aera">
      <div class="container">
        <div class="row align-content-center text-center">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center">
            <div
              class="utf-single-counter d-flex align-content-center text-center"
            >
              <i class="fas fa-school"></i>
              <div class="utf-counter-inner-item">
                <h3><span class="counter">5k</span></h3>
                <span class="utf-counter-title">School</span>
              </div>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center text-center"
          >
            <div
              class="utf-single-counter d-flex align-content-center text-center"
            >
              <i class="ti-bar-chart"></i>
              <div class="utf-counter-inner-item">
                <h3><span class="counter">500</span></h3>
                <span class="utf-counter-title">Suppliers</span>
              </div>
            </div>
          </div>
          <div
            class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center text-center"
          >
            <div
              class="utf-single-counter d-flex align-content-center text-center"
            >
              <i class="ti-money"></i>
              <div class="utf-counter-inner-item">
                <h3><span class="counter">800</span></h3>
                <span class="utf-counter-title">Offer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>
<style >
.header {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.79;
  text-align: left;
  color: #404040;
}
.utf-counters-container-aera {
  margin: 30px 0;
}

.utf-counters-container-aera {
  margin: 30px 0;
}
.utf-counters-container-aera {
  position: relative;
  margin: 0 0;
  padding: 0 0;
  background-color: var(--second);
}
</style>
