<template>
  <div class="">
    <div class="container">
      <h3>Latest Offers</h3>
      <div class="row my-4">
       
       <div class="row row-cols-md-3 row-cols-1 ">
      <product-card />
      <product-card />
      <product-card />
      <product-card />
      <product-card />
      <product-card />
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '~/components/supplierHome/suppliersProfile/productCard.vue'
export default {

components: {
    ProductCard
  },
}
</script>

<style scoped>
.discound {
  background: red;
  color: white;
}

.btn-favorite {
  text-decoration: none;
  color: red;
  font-size: 25px;
}
.btn {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}
.price {
  font-size: 22px;
  font-weight: bolder;
}
.old_price {
  color: red;
  text-decoration-line: line-through;
}
.active {
  color: var(--second);
}
</style>
