<template>
  <div class="">
    <section class="section_school_area pb-5">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Top Rating For Suppliers</h2>
        </div>

        <carousel
          class="btncal"
          :items="3"
          :nav="true"
          :loop="true"
          :dots="false"
          :margin="25"
        >
          <div class="item">
            <div class="subcriptions-block-grid">
              <div class="inner-box">
                <div class="content px-2 py-3">
                  <h3 class="title mt-3">Subscriptions 1</h3>
                  <span class="price">20.0$ Free</span>
                  <ul>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                  </ul>
                  <div class="">
                    <a href="#" class="btn">Payment New</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="subcriptions-block-grid">
              <div class="inner-box">
                <div class="content px-2 py-3">
                  <h3 class="title mt-3">Subscriptions 1</h3>
                  <span class="price">20.0$ Free</span>
                  <ul>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                  </ul>
                  <div class="">
                    <a href="#" class="btn">Payment New</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="subcriptions-block-grid">
              <div class="inner-box">
                <div class="content px-2 py-3">
                  <h3 class="title mt-3">Subscriptions 1</h3>
                  <span class="price">20.0$ Free</span>
                  <ul>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                  </ul>
                  <div class="">
                    <a href="#" class="btn">Payment New</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="subcriptions-block-grid">
              <div class="inner-box">
                <div class="content px-2 py-3">
                  <h3 class="title mt-3">Subscriptions 1</h3>
                  <span class="price">20.0$ Free</span>
                  <ul>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                  </ul>
                  <div class="">
                    <a href="#" class="btn">Payment New</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="subcriptions-block-grid">
              <div class="inner-box">
                <div class="content px-2 py-3">
                  <h3 class="title mt-3">Subscriptions 1</h3>
                  <span class="price">20.0$ Free</span>
                  <ul>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                  </ul>
                  <div class="">
                    <a href="#" class="btn">Payment New</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="subcriptions-block-grid">
              <div class="inner-box">
                <div class="content px-2 py-3">
                  <h3 class="title mt-3">Subscriptions 1</h3>
                  <span class="price">20.0$ Free</span>
                  <ul>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                    <li>
                      This Will Be Maintained In All Spheres Of School Life, For
                      Example
                    </li>
                  </ul>
                  <div class="">
                    <a href="#" class="btn">Payment New</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </carousel>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        items: 1,
        nav: true,
        loop: true,
        dots: false,
        margin: 25,
      },
    }
  },
}
</script>
<style scoped>
.post-meta {
  width: 25px;
}
.owl-carousel .owl-item .icons {
  display: inline-block;
  width: 20px;
}
.inner-box {
  background-image: url(/assets/image/Group1803.png);
}
.title {
  color: rgb(54, 49, 49);
}
.price {
  color: var(--second);
  font-size: 25px;
  font-weight: bold;
}
ul {
  list-style: none;
}
li {
  color: rgb(43, 38, 38);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li::before {
  content: '\2022';
  color: var(--second);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 28px;
}
.btn {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
  width: 80%;
}
</style>