<template>
  <div class="">
    <section class="section_school_area">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Top Rating For Suppliers</h2>
        </div>

        <carousel
          class="btncal"
          :items="3"
          :nav="true"
          :loop="true"
          :dots="false"
          :margin="25"
        >
         <product-item-card />
         <product-item-card />
         <product-item-card />
         <product-item-card />
         <product-item-card />
         <product-item-card />
        </carousel>
      </div>
    </section>
  </div>
</template>

<script>
import ProductItemCard from '~/components/supplierHome/suppliersProfile/productItemCard.vue'
export default {
  components: {
    ProductItemCard
  },
  data() {
    return {
      options: {
        items: 1,
        nav: true,
        loop: true,
        dots: false,
        margin: 25,
      },
    }
  },
}
</script>
<style scoped>
.post-meta {
  width: 25px;
}
.owl-carousel .owl-item .icons {
  display: inline-block;
  width: 20px;
}
</style>
