<template>
  <div class="">
    <all-suppler-header />
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a
              href="javascript:void(0)"
              class="mobile-sidebar-btn mobile-sidebar-btn-default mobile-left"
            >
              <i class="fas fa-filter"></i>Fliter
            </a>
            <div class="mobile-sidebar-panel-overlay"></div>
          </div>
        </div>
        <div class="row">
          <nav aria-label="breadcrumb" class="tabs mb-4">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/supplers/"
                ><li class="breadcrumb-item">
                  <a class="tab"
                    >Home <span class="ti-angle-right mx-3"></span
                  ></a></li
              ></NuxtLink>
              <NuxtLink to="/supplers/suppler/"
                ><li class="breadcrumb-item active">
                  <a class="tab">Supplers </a>
                </li></NuxtLink
              >
            </ol>
          </nav>
          <div class="col-md-5 col-lg-4 col-sm-12 filter">
            <right-side-filter />
          </div>
          <div class="col-md-7 col-lg-8 col-sm-12">
            <comparison></comparison>
            <div class="row">
              <maintenance-and-supply-card />
              <maintenance-and-supply-card />
              <maintenance-and-supply-card />
              <maintenance-and-supply-card />
              <maintenance-and-supply-card />
              <maintenance-and-supply-card />
              <maintenance-and-supply-card />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductItemCard from '~/components/supplierHome/suppliersProfile/productItemCard.vue'
import AllSupplerHeader from '~/components/supplierHome/allSupplerHeader.vue'
import Offer from '~/components/allscools/offer.vue'
import RightSideFilter from '~/components/supplierHome/suppliersProfile/rightSideFilter.vue'
import MaintenanceAndSupplyCard from '~/components/supplierHome/tender/maintenanceAndSupplyCard.vue'
export default {
  layout: 'supplier',

  components: {
    ProductItemCard,
    RightSideFilter,
    Offer,
    AllSupplerHeader,
    MaintenanceAndSupplyCard,
  },
}
</script>
<style scoped>
.tab {
  font-size: 22px;
  text-decoration: none;
}
</style>
