<template>
  <div class="">
    <div
      class="modal fade"
      id="reportModel"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-5">
            <div class="row">
              <div class="d-flex justify-content-between align-items-center">
                <div class="col-sm-6">
                  <div class="container">
                    <img src="/assets/icon/1772.svg" class="icon mb-4" alt="" />
                    <h1 class="text-center">Application Rejected</h1>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="container">
                    <h4 class="mb-3">Report Reason</h4>
                    <form
                      @submit.prevent="reportAccount"
                      action="#"
                      method="post"
                      class="mt-4"
                    >
                      <div class="inner_item_review">
                        <textarea
                          class="form-control mb-3"
                          name="reason"
                          id="reason"
                          v-model="form.reason"
                          placeholder=" Your Massage"
                        ></textarea>
                      </div>
                      <input
                        type="submit"
                        value="Send"
                        class="btn text-white btn-block btn-primary"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="btn btn-primary main-btn"
      data-bs-toggle="modal"
      href="#reportModel"
      role="button"
      >Report The Account</a
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        isLoading: true,
        reason: '',
      },
    }
  },
  //reportAccount
  methods: {
    async reportAccount(form) {
      console.log(form)
      try {
        const res = await this.$axios.post('report', new FormData(form.target))
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
  },
}
</script>
<style scoped>
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}
img {
  width: 300px;
}

.btn-close {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
  border-radius: 50%;
}
h1 {
  color: black;
  font-weight: bold;
  font-size: 28px;
}
h4 {
  font-weight: bold;
}
p {
  color: rgb(92, 86, 86);
}
.btn {
  width: 100%;
}
.main-btn,
.main-btn:hover,
.main-btn:active {
  background-color: red;
  border-color: red;
  font-weight: bolder;
}

.form-control {
  height: 150px;
  border: 1px solid var(--second);
}
</style>
