<template>
  <div class="">
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-5">
            <div class="row">
              <div class="d-flex justify-content-between align-items-center">
                <div class="col-lg-6 col-sm-12">
                  <div class="container">
                    <img
                      src="/assets/icon/2191-01.svg"
                      class="icon mb-4"
                      alt=""
                    />
                    <h1 class="text-center">Apply Job</h1>
                    <p class="text-center">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Fugiat nesciunt amet sint incidunt eos iste harum eum
                      consequuntur dolorem.
                    </p>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                  <div class="container">
                    <form
                      @submit.prevent="applyToJob"
                      action="#"
                      method="post"
                      class="mt-4"
                    >
                      <div class="form-group first">
                        <input
                          type="text"
                          class="form-control mb-3"
                          id="name"
                          name="name"
                          v-model="form.name"
                          placeholder="Full Name"
                        />
                      </div>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          aria-label="Text input with dropdown button"
                          placeholder="Phone Number"
                          id="phone"
                          name="phone"
                          v-model="form.phone"
                        />
                      </div>
                      <div class="form-group first">
                        <input
                          type="text"
                          class="form-control mb-3"
                          id="email"
                          name="email"
                          v-model="form.email"
                          placeholder="email"
                        />
                      </div>

                      <div class="file btn-lg btn-primary-file">
                        <label
                          ><span class="ti-upload"></span>Upload<input
                            type="file"
                            name="file"
                            class="inputFile"
                            id="files"
                            ref="files"
                            multiple
                            v-on:change="handleFilesUpload()"
                          />
                        </label>
                      </div>
                      <input
                        type="submit"
                        value="Apply"
                        v-on:click="submitFiles()"
                        class="btn text-white btn-block btn-primary mt-3"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="btn btn-primary main-btn"
      data-bs-toggle="modal"
      href="#exampleModalToggle"
      role="button"
      >Apply Job</a
    >
  </div>
</template>


<script>
export default {
  data() {
    return {
      form: {
        isLoading: true,
        name: '',
        email: '',
        phone: '',
        job_id: '',
        attachments: [],
      },
      files: '',
    }
  },
  //applyToJob
  methods: {
    async applyToJob(form) {
      console.log(form)
      try {
        const res = await this.$axios.post(
          'applytojob',
          new FormData(form.target)
        )
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
    /////////////////////////
    submitFiles() {
      axios
        .post('/multiple-files', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        .then(function () {
          console.log('SUCCESS!!')
        })
        .catch(function () {
          console.log('FAILURE!!')
        })
    },

    handleFilesUpload() {
      this.files = this.$refs.files.files
    },
  },
}
</script>

<style scoped>
.btn-primary-file {
  width: 40%;
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}
.file {
  position: relative;
  overflow: hidden;
}
.inputFile {
  position: absolute;
  font-size: 40px;
  opacity: 0;
  right: 0;
  top: 0;
}
@media (max-width: 576px) {
  .modal-dialog {
    max-width: 300px;
    margin: 1.75rem auto;
  }
  img {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}
img {
  width: 300px;
}

.btn-close {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
  border-radius: 50%;
}
h1 {
  color: black;
  font-weight: bold;
  font-size: 28px;
}
h4 {
  font-weight: bold;
}
p {
  color: rgb(92, 86, 86);
}
.btn,
.btn:active,
.btn:hover {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}
.btn-primary {
  width: 100%;
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}
.form-control {
  border: 1px solid var(--second);
}
.main-btn {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
  width: 40%;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--second);
  color: #eee;
  font-weight: bold;
}
.btn-outline-secondary.dropdown-toggle.show {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}
</style>
