<template>
  <div class="">
    <div
      class="modal fade"
      id="ModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-5">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-5">
            <div class="row">
              <div class="d-flex justify-content-between align-items-center">
                <div class="col-sm-6">
                  <div class="container">
                    <img
                      src="/assets/icon/Illustration-1.svg"
                      class="mb-4 d-flex align-self-center"
                      alt=""
                    />
                    <h1 class="text-center">Application Request</h1>
                    <p class="text-center">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Fugiat nesciunt amet sint incidunt eos iste harum eum
                      consequuntur dolorem.o
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="container">
                    <form
                      @submit.prevent="appRequest"
                      action="#"
                      method="post"
                      class="mt-4"
                    >
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Full Name"
                          id="name"
                          name="name"
                          v-model="form.name"
                          aria-label="Text input with dropdown button"
                        />
                      </div>
                      <div class="form-group first">
                        <input
                          type="text"
                          class="form-control mb-3"
                          id="email"
                          name="email"
                          v-model="form.email"
                          placeholder="Email"
                        />
                      </div>

                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="phone"
                          name="phone"
                          v-model="form.phone"
                          placeholder="Phone Number"
                        />
                      </div>
                      <div class="form-group first">
                        <input
                          type="text"
                          class="form-control mb-3"
                          id="child_name"
                          name="child_name"
                          v-model="form.child_name"
                          placeholder="Child Name"
                        />
                      </div>
                      <div class="form-group first">
                        <div class="radioblock d-flex justify-content-between">
                          <strong>Child's</strong>
                          <div class="form-check form-check-inline text-start">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="child_gender"
                              id="child_gender"
                              value="male"
                              v-model="form.child_gender"
                            />
                            <label class="form-check-label" for="inlineRadio1"
                              >Man</label
                            >
                          </div>
                          <div class="form-check form-check-inline text-center">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="child_gender"
                              id="child_gender"
                              value="female"
                              v-model="form.child_gender"
                            />
                            <label class="form-check-label" for="inlineRadio2"
                              >Woman
                            </label>
                          </div>
                          <div class="form-check form-check-inline text-end">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="child_gender"
                              id="child_gender"
                              value="both"
                              v-model="form.child_gender"
                            />
                            <label class="form-check-label" for="inlineRadio3"
                              >Both Of Them</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="form-group first">
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                            my-3
                          "
                        >
                          <h6 class="">Child's Birthday</h6>
                          <div class="">
                            <v-date-picker v-model="form.birthdate" mode="date">
                              <template v-slot="{ inputValue, inputEvents }">
                                <b-form-group>
                                  <b-form-input
                                    class="
                                      rounded
                                      focus:outline-none focus:border-green-300
                                    "
                                    :value="inputValue"
                                    v-on="inputEvents"
                                    id="birthdate"
                                    name="birthdate"
                                    placeholder="MM/DD/YYYY"
                                  ></b-form-input>
                                </b-form-group>
                              </template>
                            </v-date-picker>
                          </div>
                        </div>
                      </div>
                      <div class="form-group first">
                        <select
                          class="form-select form-control"
                          aria-label="Default select example"
                          id="educational_level"
                          name="educational_level"
                          v-model="form.educational_level"
                        >
                          <option selected>Educational Level</option>
                          <option value="1">language</option>
                          <option value="2">IG</option>
                          <option value="3">tatatat</option>
                        </select>
                      </div>
                      <input
                        type="submit"
                        value="Apply"
                        class="btn text-white btn-block btn-primary mt-3"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="btn button btn-theme"
      data-bs-toggle="modal"
      href="#ModalToggle"
      role="button"
      ><i class="far fa-envelope"></i> <span>Application Request</span></a
    >
  </div>
</template>


<script>
export default {
  data() {
    return {
      form: {
        isLoading: true,
        pref: '',
        name: '',
        email: '',
        phone: '',
        child_gender: '',
        birthdate: '',
        educational_level: '',
        school_id: '',
        attachments: [],
      },
    }
  },
  //appRequest
  methods: {
    async appRequest(form) {
      console.log(form)
      try {
        const res = await this.$axios.post(
          'applicationRequest',
          new FormData(form.target)
        )
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
  },
}
</script>

<style scoped>
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}

img {
  width: 250px;
  margin: auto;
}

.btn-close {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
  border-radius: 50%;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 28px;
}

h4 {
  font-weight: bold;
}

p {
  color: rgb(92, 86, 86);
}

.btn {
  background-color: var(--second);
  border-color: var(--second);
}

.form-control {
  border: 1px solid var(--second);
}
.btn-block {
  width: 100%;
}
</style>
