<template>
  <div class="">
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-5">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-5">
            <div class="row">
              <div class="d-flex justify-content-between align-items-center">
                <div class="col-sm-6">
                  <div class="container">
                    <img
                      src="/assets/icon/email.svg"
                      class="mb-4 d-flex align-self-center"
                      alt=""
                    />
                    <h1 class="text-center">Send New Massage</h1>
                    <p class="text-center">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Fugiat nesciunt amet sint incidunt eos iste harum eum
                      consequuntur dolorem.o
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="container" v-if="result">
                    <form
                      @submit.prevent="sendmessage"
                      action="#"
                      method="post"
                      class="mt-4"
                    >
                      <div class="form-group first">
                        <input
                          type="text"
                          class="form-control mb-3"
                          id="email"
                          name="email"
                          v-model="result.main_name_en"
                          placeholder="Email"
                        />
                      </div>
                      <input
                        type="hidden"
                        name="school_id"
                        v-model="form.school_id"
                      />
                      <div class="form-group first">
                        <input
                          type="text"
                          class="form-control mb-3"
                          id="subject"
                          name="subject"
                          v-model="form.subject"
                          placeholder="Subject"
                        />
                      </div>
                      <div class="inner_item_review">
                        <textarea
                          class="form-control mb-3 yourMassage"
                          id="body"
                          name="body"
                          v-model="form.body"
                          placeholder=" Your Massage"
                        ></textarea>
                      </div>
                      <input
                        type="submit"
                        value="Send"
                        class="btn text-white btn-block btn-primary"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="btn button btn-theme btn-outline add-a-review"
      data-bs-toggle="modal"
      href="#exampleModalToggle"
      role="button"
      ><i class="far fa-envelope"></i> <span>Send Message</span></a
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      result: {},
      form: {
        isLoading: true,
        body: '',
        subject: '',
        school_id: '',
      },
    }
  },
  mounted() {
    this.$axios.get(`schools/${this.$route.params.id}`).then((response) => {
      this.result = response.data.result
    })
  },
  //sendMassage
  methods: {
    async sendMassage(form) {
      try {
        const res = await this.$axios.post('sendmessage', formdata)
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
  },
}
</script>

<style scoped>
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}
img {
  width: 150px;
  margin: auto;
}
.btn-close {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
  border-radius: 50%;
}
h1 {
  color: black;
  font-weight: bold;
  font-size: 28px;
}
h4 {
  font-weight: bold;
}
p {
  color: rgb(92, 86, 86);
}
.btn {
  width: 100%;
  background-color: var(--second);
  border-color: var(--second);
}
.form-control {
  border: 1px solid var(--second);
}
.yourMassage {
  height: 100px;
}
</style>
