<template>
  <div class="">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 px-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>admission <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/">
                <li class="breadcrumb-item active" aria-current="page">
                  Expense Installment Request
                </li>
              </NuxtLink>
            </ol>
          </nav>
          <ValidationObserver v-slot="{ handleSubmit }">
            <form
              @submit.prevent="handleSubmit(installmentReq)"
              action="#"
              method="post"
              class="mt-4"
            >
              <div class="form-group first">
                <ValidationProvider
                  name="fullname"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    name="fullname"
                    type="text"
                    class="form-control"
                    id="FullName"
                    placeholder="Full Name"
                    v-model="form.fullname"
                    :required="true"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>

              <div class="form-group first">
                <ValidationProvider
                  name="phone"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                    id="phone"
                    placeholder="Phone Number"
                    v-model="form.phone"
                    :required="true"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="school_name"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    name="school_name"
                    class="form-control"
                    id="schoolName"
                    placeholder="School Name"
                    v-model="form.school_name"
                    :required="true"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>

              <div class="form-group first">
                <ValidationProvider
                  name="school_type"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    name="school_type"
                    aria-label="Default select example"
                    v-model="form.school_type"
                    :required="true"
                  >
                    <option selected>School Type</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="number_of_child"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    name="number_of_child"
                    class="form-control"
                    id="Numberchild"
                    placeholder="Number of child"
                    v-model="form.number_of_child"
                    :required="true"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <div class="radioblock d-flex justify-content-between">
                  <strong>Child's</strong>
                  <ValidationProvider
                    name="gender"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <div class="form-check form-check-inline text-start">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="inlineRadio1"
                        checked="checked"
                        value="male"
                        v-model="form.gender"
                      />
                      <label class="form-check-label" for="inlineRadio1"
                        >Man</label
                      >
                    </div>
                    <div class="form-check form-check-inline text-center">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        value="female"
                        v-model="form.gender"
                      />
                      <label class="form-check-label" for="inlineRadio2"
                        >Woman
                      </label>
                    </div>
                    <div class="form-check form-check-inline text-end">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio3"
                        value="both"
                        v-model="form.gender"
                      />
                      <label class="form-check-label" for="inlineRadio3"
                        >Both Of Them</label
                      >
                    </div>
                    <span class="error">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>

              <div class="form-group first mt-3">
                <ValidationProvider
                  name="total_expanse_of_year"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    class="form-control"
                    name="total_expanse_of_year"
                    id="total_expanse_of_year"
                    placeholder="Total Expenses For The Year"
                    v-model="form.total_expanse_of_year"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <input
                type="submit"
                value="Apply"
                class="btn text-white btn-block btn-primary apply"
              />
            </form>
          </ValidationObserver>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 px-10">
          <div class="schoolimg d-flex align-items-center">
            <img
              src="/assets/icon/Illustration.svg"
              alt=""
              class="school mx-auto"
            />
          </div>

          <div class="descrption mt-4 align-items-center">
            <h3 class="text-center">Expense Installment Request</h3>
            <p class="text-center mt-3 gray-100 prag">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
              debitis error laboriosam quis corrupti ipsa perferendis possimus,
              architecto nam non quas odit velit adipisci facilis omnis aliquid
              commodi corporis sapiente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  middleware: 'auth',
  data() {
    return {
      form: {
        isLoading: true,
        type: '',
        fullname: '',
        phone: '',
        school_name: '',
        school_type: '',
        number_of_child: '',
        total_expanse_of_year: '',
        gender: '',
      },
      error: null,
    }
  },
  //installmentReq
  methods: {
    async installmentReq(form) {
      try {
        const res = await this.$axios.post(
          'admission/installmentRequest',
          new FormData(form.target)
        )
        this.$store.dispatch('Set_Auth', res.data).then(() => {
          this.$router.push({ path: '/' })
        })
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
  },
}
</script>

<style scoped>
.error {
  display: block;
  color: red;
}
.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.login-page {
}

.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
}

.dropdownbtn {
  height: 38px;
  border: 1px solid var(--second);
}

.dropdownbtn:hover,
.dropdownbtn:checked {
  border: 1px solid var(--second);

  background-color: var(--second);

  color: #eee;
}

.dropdownbtn li:checked {
  background-color: var(--second);

  color: #eee;
}

.btn-outline-secondary.dropdown-toggle.show {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}
.radioblock {
  margin-top: 30px;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}
.school {
  width: 350px;
}
.apply,
.apply:hover {
  width: 100%;
  border-radius: 10px;
  background-color: var(--second);
  color: #eee;
  border: 1px solid var(--second);
}
.prag {
  color: rgb(134, 130, 130);
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--second);
  color: #eee;
  font-weight: bold;
}
</style>
