<template>
  <div class="">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 px-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>admission <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/">
                <li class="breadcrumb-item active" aria-current="page">
                  School Suggestion Request
                </li>
              </NuxtLink>
            </ol>
          </nav>
          <ValidationObserver v-slot="{ handleSubmit }">
            <form
              @submit.prevent="handleSubmit(suggestionRequest)"
              action="#"
              method="post"
              class="mt-4 px-4"
            >
              <div class="form-group first">
                <ValidationProvider
                  name="city"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.city"
                    name="city"
                    id="city"
                  >
                    <option selected>Choose City</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="district"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.district"
                    name="district"
                    id="district"
                  >
                    <option selected>Choose District</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="school_type"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.school_type"
                    name="school_type"
                    id="school_type"
                  >
                    <option selected>School Type</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="educational_level"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.educational_level"
                    name="educational_level"
                    id="educational_level"
                  >
                    <option selected>Educational Level</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="curriculum"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.curriculum"
                    name="curriculum"
                    id="curriculum"
                  >
                    <option selected>School Curriculum</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="academic_certificates"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.academic_certificates"
                    name="academic_certificates"
                    id="academic_certificates"
                  >
                    <option selected>Academic Certificates</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>

              <div class="form-group first">
                <ValidationProvider
                  name="study_languages"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.study_languages"
                    name="study_languages"
                    id="study_languages"
                  >
                    <option selected>Study Languages</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="accerditiation_bodies"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.accerditiation_bodies"
                    name="accerditiation_bodies"
                    id="accerditiation_bodies"
                  >
                    <option selected>Accreditation Bodies</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="school_facilities"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.school_facilities"
                    name="school_facilities"
                    id="school_facilities"
                  >
                    <option selected>School Facilities</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="activities"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.activities"
                    name="activities"
                    id="activities"
                  >
                    <option selected>Activities</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="rating"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    v-model="form.rating"
                    name="rating"
                    id="rating"
                  >
                    <option selected>Rating</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>

              <div class="form-group first">
                <div class="radioblock d-flex justify-content-between">
                  <strong>Child's</strong>
                  <ValidationProvider
                    name="gender"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <div class="form-check form-check-inline text-start">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="inlineRadio1"
                        value="male"
                        v-model="form.gender"
                        name="gender"
                      />
                      <label class="form-check-label" for="inlineRadio1"
                        >Man</label
                      >
                    </div>
                    <div class="form-check form-check-inline text-center">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="inlineRadio2"
                        v-model="form.gender"
                        value="female"
                      />
                      <label class="form-check-label" for="inlineRadio2"
                        >Woman
                      </label>
                    </div>
                    <div class="form-check form-check-inline text-end">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="inlineRadio3"
                        v-model="form.gender"
                        value="both"
                      />
                      <label class="form-check-label" for="inlineRadio3"
                        >Both Of Them</label
                      >
                    </div>
                    <span class="error">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>

              <div class="my-3">
                <h6>School Fees</h6>
                <vue-slider
                  ref="slider"
                  v-model="form.fees"
                  :drag-on-click="true"
                >
                  <template v-slot:mark="{ pos, label }">
                    <div class="custom-mark" :style="{ left: `${pos}%` }">
                      {{ label }}
                    </div>
                  </template>
                </vue-slider>
              </div>

              <input
                type="submit"
                value="Apply"
                class="btn text-white btn-block btn-primary apply py-2 mt-3"
              />
            </form>
          </ValidationObserver>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 px-10">
          <div class="schoolimg d-flex">
            <img
              src="/assets/icon/highSchool.svg"
              alt=""
              class="school mx-auto"
            />
          </div>

          <div class="descrption mt-4 align-items-center">
            <h3 class="text-center">School Suggestion Request</h3>
            <p class="text-center mt-3 gray-100 prag">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
              debitis error laboriosam quis corrupti ipsa perferendis possimus,
              architecto nam non quas odit velit adipisci facilis omnis aliquid
              commodi corporis sapiente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import RangeSlider from 'vue-range-slider'
// you probably need to import built-in style
// import 'vue-range-slider/dist/vue-range-slider.css'
// import component
// import component
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'
export default {
  middleware: 'auth',
  components: {
    VueSlider,
  },
  data() {
    return {
      form: {
        isLoading: true,
        city: '',
        district: '',
        educational_level: '',
        curriculum: '',
        account_type: '',
        academic_certificates: '',
        study_languages: '',
        accerditiation_bodies: '',
        school_facilities: '',
        activities: '',
        fees: [1000, 20000],
        gender: '',
        rating: '',
      },

      error: null,
    }
  },
  //suggestionRequest
  methods: {
    async suggestionRequest(form) {
      try {
        const res = await this.$axios.post(
          'admission/suggestionRequest',
          new FormData(form.target)
        )
        this.$store.dispatch('Set_Auth', res.data).then(() => {
          this.$router.push({ path: '/' })
        })
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
  },
}
</script>

<style scoped>
.error {
  display: block;
  color: red;
}
.vue-slider-process {
  background-color: #dc3545;
  border-radius: 15 px;
}
.custom-mark {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  white-space: nowrap;
  color: aqua;
  background-color: red;
}
.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.login-page {
}

.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
}

.dropdownbtn {
  height: 38px;
  border: 1px solid var(--second);
}

.dropdownbtn:hover,
.dropdownbtn:checked {
  border: 1px solid var(--second);

  background-color: var(--second);

  color: #eee;
}

.dropdownbtn li:checked {
  background-color: var(--second);

  color: #eee;
}

.btn-outline-secondary.dropdown-toggle.show {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}

.radioblock {
  margin-top: 30px;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.school {
  width: 350px;
}

.apply,
.apply:hover {
  width: 100%;
  border-radius: 10px;
  background-color: var(--second);
  color: #eee;
  border: 1px solid var(--second);
}

.prag {
  color: rgb(134, 130, 130);
}
.slider {
  /* overwrite slider styles */
  width: 100%;
}
.form-select {
  color: #677078;
}
select option:hover {
  background-color: var(--second);
  color: #eee;
  font-weight: bold;
}
</style>
