<template>
  <div class="">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-sm-12 px-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>admission<span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/">
                <li class="breadcrumb-item active" aria-current="page">
                  Teacher Registration Request
                </li>
              </NuxtLink>
            </ol>
          </nav>

          <ValidationObserver v-slot="{ handleSubmit }">
            <form
              @submit.prevent="handleSubmit(teacherRequest)"
              action="#"
              method="post"
              class="mt-4 px-4"
            >
              <div class="form-group first">
                <ValidationProvider
                  name="fullname"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    class="form-control"
                    id="fullname"
                    placeholder="Full Name"
                    name="fullname"
                    v-model="form.fullname"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="email"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="email"
                    name="email"
                    v-model="form.email"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="input-group mb-3">
                <ValidationProvider
                  name="phone"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Phone Number"
                    id="phone"
                    name="phone"
                    v-model="form.phone"
                  />
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="city"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    name="city"
                    v-model="form.city"
                  >
                    <option selected>Choose City</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="district"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    name="district"
                    v-model="form.district"
                  >
                    <option selected>Choose District</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="school_type"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    name="school_type"
                    v-model="form.school_type"
                  >
                    <option selected>School Type</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="educational_level"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    name="educational_level"
                    v-model="form.educational_level"
                  >
                    <option selected>Educational Level</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="school_type"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    name="school_type"
                    v-model="form.school_type"
                  >
                    <option selected>School Type</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
              <div class="form-group first">
                <ValidationProvider
                  name="school_curriculum"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <select
                    class="form-select form-control"
                    aria-label="Default select example"
                    name="school_curriculum"
                    v-model="form.school_curriculum"
                  >
                    <option selected>School Curriculum</option>
                    <option value="1">language</option>
                    <option value="2">IG</option>
                    <option value="3">tatatat</option>
                  </select>
                  <span class="error">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>

              <input
                type="submit"
                value="Apply"
                class="btn text-white btn-block btn-primary apply py-2 mt-3"
              />
            </form>
          </ValidationObserver>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 px-10">
          <div class="schoolimg d-flex">
            <img
              src="/assets/icon/Teacher .svg"
              alt=""
              class="school mx-auto"
            />
          </div>

          <div class="descrption mt-4 align-items-center">
            <h3 class="text-center">Teacher Registration Request</h3>
            <p class="text-center mt-3 gray-100 prag">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
              debitis error laboriosam quis corrupti ipsa perferendis possimus,
              architecto nam non quas odit velit adipisci facilis omnis aliquid
              commodi corporis sapiente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      form: {
        isLoading: true,
        fullname: '',
        email: '',
        phone: '',
        curriculum: '',
        city: '',
        district: '',
        educational_level: '',
        school_type: '',
        school_curriculum: '',
      },
      error: null,
    }
  },
  //teacherRequest
  methods: {
    async teacherRequest(form) {
      console.log(state.authToken)
      try {
        const res = await this.$axios.post(
          'admission/teacherRequest',
          new FormData(form.target)
          // {
          //   headers: {
          //     token:state.authToken ,
          //   },
          // }
        )
        this.$store.dispatch('Set_Auth', res.data).then(() => {
          this.$router.push({ path: '/' })
        })
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
  },
}
</script>

<style scoped>
.error {
  display: block;
  color: red;
}
.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.login-page {
}

.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
}

.dropdownbtn {
  height: 38px;
  border: 1px solid var(--second);
}

.dropdownbtn:hover,
.dropdownbtn:checked {
  border: 1px solid var(--second);

  background-color: var(--second);

  color: #eee;
}

.dropdownbtn li:checked {
  background-color: var(--second);

  color: #eee;
}

.btn-outline-secondary.dropdown-toggle.show {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}

.radioblock {
  margin-top: 30px;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.school {
  width: 350px;
}

.apply,
.apply:hover {
  width: 100%;
  border-radius: 10px;
  background-color: var(--second);
  color: #eee;
  border: 1px solid var(--second);
}

.prag {
  color: rgb(134, 130, 130);
}

.slider {
  /* overwrite slider styles */
  width: 100%;
}

.form-select {
  color: #677078;
}
</style>
