<template>
  <div class="">
    <!-- breadcromb area -->
    <section class="blog-breadcromb-area">
      <div class="row">
        <img src="/assets/img/breadcromb/learn.png" alt="" class="img-fluid" />
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style>
.blog-breadcromb-area {
  position: relative;
  padding: 0 0 0 0;
}
</style>