<template>
  <div class="">
    <div class="card mb-5">
      <NuxtLink :to="`/learn/${data.id}`"
        ><img
          :src="data.attachments[0].name"
          class="card-img-top"
          :alt="data.title"
      /></NuxtLink>
      <div class="card-body">
        <NuxtLink :to="`/learn/${data.id}`"
          ><h5 class="card-title">{{ data.title }}</h5></NuxtLink
        >
        <p class="card-text">
          {{ data.subtitle }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import glearnHeader from '~/components/Learns/glearnHeader.vue'
import LearnBlock from '~/components/Learns/learnBlock.vue'
export default {
  components: { glearnHeader, LearnBlock },
  props: {
    data: {},
  },
}
</script>

<style  scoped>
.card {
  width: 100%;
}
</style>