<template>
  <div class="">
    <carsoul-header />
    <top-rating-for-suppliers />
    <numbers-block />
    <products-block />
    <subscriptions-block />
  </div>
</template>

<script>
import CarsoulHeader from '~/components/supplierHome/carsoulHeader.vue'
import SubscriptionsBlock from '~/components/supplierHome/subscriptionsBlock.vue'
import ProductsBlock from '~/components/supplierHome/productsBlock.vue'

import NumbersBlock from '~/components/supplierHome/numbersBlock.vue'
import TopRatingForSuppliers from '~/components/supplierHome/topRatingForSuppliers.vue'
export default {
  layout: 'supplier',
  components: {
    CarsoulHeader,
    NumbersBlock,
    TopRatingForSuppliers,
    SubscriptionsBlock,
    ProductsBlock,
  },
}
</script>

<style>
</style>