<template>
  <div class="">
    <parent-par-header></parent-par-header>
    <parent-nav-bar></parent-nav-bar>
  </div>
</template>

<script>
import NavBar from '~/components/parent/navBar.vue'
import ParentHeader from '~/components/parent/parHeader.vue'

export default {
  components: {
    ParentHeader,
    NavBar,
  },
}
</script>
