<template>
  <div class="">
    <section class="carousel_header">
      <div class="container px-0">
        <carousel
          class="btncal"
          :items="1"
          :nav="true"
          :loop="true"
          :dots="false"
        >
          <div class="item-carousel">
            <div class="caption-carousel text-start">
              <div class="row align-items-center">
                <div
                  class="
                    col-lg-6 col-md-6 col-sm-12
                    offset-lg-1 offset-md-1 offset-sm-0
                  "
                >
                  <h2>Download Application On Playstore</h2>
                  <p>
                    Duis vestibulum elit vel neque pharetra vulputate. Quisque
                    scelerisque nisi urna. Duis rutrum non risus in imperdiet.
                    Proin molestie accumsan nulla sit amet mattis. Ut vel
                    tristique neque. Praesent purus eros, aliquet sit amet
                    venenatis in, sodal.
                  </p>
                  <div class="inner-actions">
                    <p>Get The App Now</p>
                    <div class="container-download">
                      <a href="#">
                        <img src="/assets/img/apps/App-Store.png" alt="" />
                      </a>
                      <a href="#">
                        <img src="/assets/img/apps/Google-Play.png" alt="" />
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                  <div class="img-wrapper">
                    <img src="/assets/img/slider/img-1.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-carousel">
            <div class="caption-carousel text-start">
              <div class="row align-items-center">
                <div
                  class="
                    col-lg-6 col-md-6 col-sm-12
                    offset-lg-1 offset-md-1 offset-sm-0
                  "
                >
                  <h2>Download Application On Playstore</h2>
                  <p>
                    Duis vestibulum elit vel neque pharetra vulputate. Quisque
                    scelerisque nisi urna. Duis rutrum non risus in imperdiet.
                    Proin molestie accumsan nulla sit amet mattis. Ut vel
                    tristique neque. Praesent purus eros, aliquet sit amet
                    venenatis in, sodal.
                  </p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                  <div class="img-wrapper">
                    <img src="/assets/img/slider/img-2.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-carousel">
            <div class="caption-carousel text-start">
              <div class="row align-items-center">
                <div
                  class="
                    col-lg-6 col-md-6 col-sm-12
                    offset-lg-1 offset-md-1 offset-sm-0
                  "
                >
                  <h2>Download Application On Playstore</h2>
                  <p>
                    Duis vestibulum elit vel neque pharetra vulputate. Quisque
                    scelerisque nisi urna. Duis rutrum non risus in imperdiet.
                    Proin molestie accumsan nulla sit amet mattis. Ut vel
                    tristique neque. Praesent purus eros, aliquet sit amet
                    venenatis in, sodal.
                  </p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                  <div class="img-wrapper">
                    <img src="/assets/img/slider/img-3.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </carousel>
      </div>
      <div class="hero-searchbar-header">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-xl-11 col-lg-10">
              <form>
                <div class="search-form-inner">
                  <div class="row mx-0">
                    <div class="list-field col-sm-6 col-md-6 col-xl-3 col-lg-3">
                      <div class="form-group form-group-title">
                        <div class="form-group-inner inner">
                          <i class="ti-search"></i>
                          <span class="twitter-typeahead">
                            <input
                              type="text"
                              name="job"
                              class="form-control"
                              placeholder="School Name"
                            />
                          </span>
                        </div>
                      </div>
                    </div>

                    <div
                      class="
                        list-field
                        col-sm-6 col-md-6 col-xl-3 col-lg-3
                        last
                      "
                    >
                      <div class="form-group form-group-category">
                        <div class="form-group-inner inner">
                          <select
                            class="select2 select2-hidden-accessible"
                            data-select2-id="select2-data-1-iicn"
                            tabindex="-1"
                            aria-hidden="true"
                          >
                            <option
                              value=""
                              disabled=""
                              selected=""
                              data-select2-id="select2-data-3-a7hn"
                            >
                              Select city
                            </option>
                            <option value="0">Gize</option>
                            <option value="1">Gize</option>
                            <option value="2">Gize</option>
                            <option value="3">Gize</option></select
                          ><span
                            class="
                              select2
                              select2-container
                              select2-container--default
                            "
                            dir="ltr"
                            data-select2-id="select2-data-2-7h19"
                            style="width: 265px"
                            ><span class="selection"
                              ><span
                                class="
                                  select2-selection select2-selection--single
                                "
                                role="combobox"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="0"
                                aria-disabled="false"
                                aria-labelledby="select2-6qf1-container"
                                aria-controls="select2-6qf1-container"
                                ><span
                                  class="select2-selection__rendered"
                                  id="select2-6qf1-container"
                                  role="textbox"
                                  aria-readonly="true"
                                  title=" Select city "
                                >
                                  Select city </span
                                ><span
                                  class="select2-selection__arrow"
                                  role="presentation"
                                  ><b
                                    role="presentation"
                                  ></b></span></span></span
                            ><span
                              class="dropdown-wrapper"
                              aria-hidden="true"
                            ></span
                          ></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xl-2 col-lg-2">
                      <div class="form-group form-group-search">
                        <button type="submit" class="btn-submit btn btn-theme">
                          <i class="ti-bar-chart"></i> Advanced search
                        </button>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-xl-2 col-lg-2">
                      <div class="form-group form-group-search">
                        <button type="submit" class="btn-submit btn btn-theme">
                          <i class="ti-map-alt"></i> Search By Map
                        </button>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-xl-2 col-lg-2">
                      <div class="form-group form-group-search">
                        <button type="submit" class="btn-submit btn btn-theme">
                          <i class="ti-search"></i> Search
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        items: 1,
        nav: true,
        loop: true,
        dots: false,
      },
    }
  },
}
</script>

<style scoped>
.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  background: rgb(184, 55, 55);
}
.btn {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
</style>