<template>
  <div class="">
    <section class="utf-counters-container-aera my-5">
      <div class="container">
        <div class="row">
          <div
            class="
              col-xl-3 col-lg-3 col-md-3 col-sm-12
              text-center text-md-start
            "
          >
            <div class="utf-single-counter">
              <i class="fas fa-graduation-cap"></i>
              <div class="utf-counter-inner-item">
                <h3>
                  <span class="counter">{{ section.users }}K</span>
                </h3>
                <span class="utf-counter-title">Users</span>
              </div>
            </div>
          </div>
          <div
            class="
              col-xl-3 col-lg-3 col-md-3 col-sm-12
              text-center text-md-start
            "
          >
            <div class="utf-single-counter">
              <i class="fas fa-school"></i>
              <div class="utf-counter-inner-item">
                <h3>
                  <span class="counter">{{ section.schools }}K</span>
                </h3>
                <span class="utf-counter-title">School</span>
              </div>
            </div>
          </div>
          <div
            class="
              col-xl-3 col-lg-3 col-md-3 col-sm-12
              text-center text-md-start
            "
          >
            <div class="utf-single-counter">
              <i class="fas fa-id-card-alt"></i>
              <div class="utf-counter-inner-item">
                <h3>
                  <span class="counter">{{ section.monthlyVistor }}k</span>
                </h3>
                <span class="utf-counter-title">Monthly Visitor</span>
              </div>
            </div>
          </div>
          <div
            class="
              col-xl-3 col-lg-3 col-md-3 col-sm-12
              text-center text-md-start
            "
          >
            <div class="utf-single-counter">
              <i class="fas fa-user-tie"></i>
              <div class="utf-counter-inner-item">
                <h3>
                  <span class="counter">{{ section.suppliers }}</span>
                </h3>
                <span class="utf-counter-title">Suppliers</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  props: {
    section: {},
  },
  computed: {
    //get data from store
  },
}
</script>
