<template>
  <div class="">
    <!-- Section FAQ -->
    <section class="section-faq-area">
      <div class="container">
        <div class="faq-area-header">
          <span>EdueXEgypt FAQ</span>
          <h2 class="section-title">Frequently Ask & Questions</h2>
        </div>
        <div class="faq-area-content">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-general-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-general"
                type="button"
                role="tab"
                aria-controls="pills-general"
                aria-selected="true"
              >
                General
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-pearent-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-pearent"
                type="button"
                role="tab"
                aria-controls="pills-pearent"
                aria-selected="false"
              >
                Pearent
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-school-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-school"
                type="button"
                role="tab"
                aria-controls="pills-school"
                aria-selected="false"
              >
                School
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-supliers-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-supliers"
                type="button"
                role="tab"
                aria-controls="pills-supliers"
                aria-selected="false"
              >
                Supliers
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-general"
              role="tabpanel"
              aria-labelledby="pills-general-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingOneGeneral">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOneGeneral"
                          aria-expanded="true"
                          aria-controls="collapseOneGeneral"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseOneGeneral"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingOneGeneral"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingTwoGeneral">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwoGeneral"
                          aria-expanded="false"
                          aria-controls="collapseTwoGeneral"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseTwoGeneral"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTwoGeneral"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingThreeGeneral">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseThreeGeneral"
                          aria-expanded="false"
                          aria-controls="collapseThreeGeneral"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseThreeGeneral"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingThreeGeneral"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFourGeneral">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFourGeneral"
                          aria-expanded="true"
                          aria-controls="collapseFourGeneral"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseFourGeneral"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingFourGeneral"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFiveGeneral">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFiveGeneral"
                          aria-expanded="false"
                          aria-controls="collapseFiveGeneral"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseFiveGeneral"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingFiveGeneral"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingSixGeneral">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseSixGeneral"
                          aria-expanded="false"
                          aria-controls="collapseSixGeneral"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseSixGeneral"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingSixGeneral"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-pearent"
              role="tabpanel"
              aria-labelledby="pills-pearent-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingOnePearent">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOnePearent"
                          aria-expanded="true"
                          aria-controls="collapseOnePearent"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseOnePearent"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingOnePearent"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingTwoPearent">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwoPearent"
                          aria-expanded="false"
                          aria-controls="collapseTwoPearent"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseTwoPearent"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTwoPearent"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingThreePearent">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseThreePearent"
                          aria-expanded="false"
                          aria-controls="collapseThreePearent"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseThreePearent"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingThreePearent"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFourPearent">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFourPearent"
                          aria-expanded="true"
                          aria-controls="collapseFourPearent"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseFourPearent"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingFourPearent"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFivePearent">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFivePearent"
                          aria-expanded="false"
                          aria-controls="collapseFivePearent"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseFivePearent"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingFivePearent"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingSixPearent">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseSixPearent"
                          aria-expanded="false"
                          aria-controls="collapseSixPearent"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseSixPearent"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingSixPearent"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-school"
              role="tabpanel"
              aria-labelledby="pills-school-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingOneSchool">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOneSchool"
                          aria-expanded="true"
                          aria-controls="collapseOneSchool"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseOneSchool"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingOneSchool"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingTwoSchool">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwoSchool"
                          aria-expanded="false"
                          aria-controls="collapseTwoSchool"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseTwoSchool"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTwoSchool"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingThreeSchool">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseThreeSchool"
                          aria-expanded="false"
                          aria-controls="collapseThreeSchool"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseThreeSchool"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingThreeSchool"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFourSchool">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFourSchool"
                          aria-expanded="true"
                          aria-controls="collapseFourSchool"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseFourSchool"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingFourSchool"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFiveSchool">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFiveSchool"
                          aria-expanded="false"
                          aria-controls="collapseFiveSchool"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseFiveSchool"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingFiveSchool"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingSixSchool">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseSixSchool"
                          aria-expanded="false"
                          aria-controls="collapseSixSchool"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseSixSchool"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingSixSchool"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-supliers"
              role="tabpanel"
              aria-labelledby="pills-supliers-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingOneSupliers">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOneSupliers"
                          aria-expanded="true"
                          aria-controls="collapseOneSupliers"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseOneSupliers"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingOneSupliers"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingTwoSupliers">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwoSupliers"
                          aria-expanded="false"
                          aria-controls="collapseTwoSupliers"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseTwoSupliers"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTwoSupliers"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingThreeSupliers">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseThreeSupliers"
                          aria-expanded="false"
                          aria-controls="collapseThreeSupliers"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseThreeSupliers"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingThreeSupliers"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFourSupliers">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFourSupliers"
                          aria-expanded="true"
                          aria-controls="collapseFourSupliers"
                        >
                          What's EduXEgypt?
                        </button>
                      </div>
                      <div
                        id="collapseFourSupliers"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingFourSupliers"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingFiveSupliers">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseFiveSupliers"
                          aria-expanded="false"
                          aria-controls="collapseFiveSupliers"
                        >
                          How to Apply to financial aid?
                        </button>
                      </div>
                      <div
                        id="collapseFiveSupliers"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingFiveSupliers"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingSixSupliers">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseSixSupliers"
                          aria-expanded="false"
                          aria-controls="collapseSixSupliers"
                        >
                          What's the loarm ipsem?
                        </button>
                      </div>
                      <div
                        id="collapseSixSupliers"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingSixSupliers"
                      >
                        <div class="accordion-body">
                          Duis vestibulum elit vel neque pharetra vulputate.
                          Quisque scelerisque nisi urna. Duis rutrum non risus
                          in imperdiet. Proin molestie accumsan nulla sit amet
                          mattis. Ut vel tristique neque. Praesent purus eros,
                          aliquet sit amet venenatis in, sodal.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {}
</script>