<template>
  <div>
    <!-- Nearest Schools -->
    <section class="nearest-schools-section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Nearest Schools</h2>
        </div>
        <div class="row row-cols-md-3 row-cols-1">
          <div
            class="school-block-grid"
            v-for="schoolBlock in schoolBlocks"
            :key="schoolBlock.id"
          >
            <div class="inner-box">
              <div class="content">
                <div class="image-box">
                  <div class="cover-block">
                    <img
                      :src="schoolBlock.cover"
                      :alt="schoolBlock.main_name_en"
                    />
                  </div>
                  <figure class="image">
                    <img
                      :src="schoolBlock.logo"
                      :alt="schoolBlock.main_name_en"
                    />
                  </figure>
                </div>
                <div class="lower-content">
                  <h3>
                    <a href="#"> {{ schoolBlock.main_name_en }} </a>
                  </h3>
                  <div class="post-meta">
                    <img src="/assets/img/icons/svg/location.svg" alt="" />
                    {{ schoolBlock.governorate }}
                  </div>
                  <div class="row mx-0 mt-3">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 px-0">
                      <div class="post-meta">
                        <img
                          src="/assets/img/icons/svg/graduation-hat.svg"
                          alt=""
                        />
                        <span v-if="schoolBlock.types.length != 0">{{
                          schoolBlock.types[0].title
                        }}</span>
                      </div>
                    </div>
                    <div
                      class="
                        col-xl-6 col-lg-12 col-md-12 col-sm-12
                        text-xl-end text-center
                        mt-3 mt-xl-0
                        px-0
                      "
                    >
                      <a href="#" class="action-btn">
                        <img
                          src="/assets/img/icons/svg/university.svg"
                          alt=""
                        />
                      </a>
                      <a href="#" class="action-btn">
                        <img src="/assets/img/icons/svg/compare.svg" alt="" />
                      </a>
                      <a href="#" class="action-btn btn-favorite">
                        <img src="/assets/img/icons/svg/favorite.svg" alt="" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="text-center">
              <a href="#" class="btn btn-theme d-block py-3">see more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  props: {
    schoolBlocks: {},
  },
}
</script>
<style scoped>
.btn {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.school-block-grid {
  width: calc(95% / 3);
}
</style>