<template>
  <div class="">
    <!-- Section Requests -->
    <div class="section-requests">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="request-block">
              <div class="imagebox-overlay"></div>
              <img src="/assets/img/rquests/1.png" alt="images" />
              <div class="imagebox-content mx-xl-3 mx-0">
                <h2>Expense installment request</h2>
                <a href="#"> Send Request </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="request-block">
              <div class="imagebox-overlay"></div>
              <img src="/assets/img/rquests/2.png" alt="images" />
              <div class="imagebox-content mx-xl-3 mx-0">
                <h2>Request a School Suggestion</h2>
                <a href="#"> Send Request </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="request-block">
              <div class="imagebox-overlay"></div>
              <img src="/assets/img/rquests/3.png" alt="images" />
              <div class="imagebox-content mx-xl-3 mx-0">
                <h2>Teacher registration request</h2>
                <a href="#"> Send Request </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="request-block">
              <div class="imagebox-overlay"></div>
              <img src="/assets/img/rquests/4.png" alt="images" />
              <div class="imagebox-content mx-xl-3 mx-0">
                <h2>School registration request</h2>
                <a href="#"> Send Request </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {}
</script>