<template>
  <div class="">
    <section class="section_school_area">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">School type</h2>
        </div>

        <carousel
          class="btncal"
          :items="4"
          :nav="true"
          :loop="true"
          :dots="false"
          :margin="25"
        >
          <div class="item" v-for="item in data" :key="item.id">
            <div class="imagebox-hobby">
              <div class="imagebox-overlay"></div>
              <img
                v-if="item.attachments.length != 0"
                :src="item.attachments[0].name"
                :alt="item.name_en"
              />
              <div class="imagebox-content">
                <h2>{{ item.name_en }}</h2>
                <a href="#"> Browse Now </a>
              </div>
            </div>
          </div>
        </carousel>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        items: 1,
        nav: true,
        loop: true,
        dots: false,
        margin: 25,
      },
    }
  },

  props: {
    data: {},
  },
}
</script>