@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Muli:400,500,600,700&#038;subset=latin%2Clatin-ext');
:root {
    --main: #4F9884;
    --second: #2CC29B;
}

body {
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.btn-theme {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
}

.btn-theme:hover {
    color: #fff;
    background-color: var(--second);
    border-color: var(--second);
}

.btn-outline-theme {
    color: var(--main);
    border-color: var(--main);
}

.btn-outline-theme:hover {
    color: #fff;
    background-color: var(--second);
    border-color: var(--second);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--second);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(23 123 123 / 25%);
}


/* custom select */

.select2 {
    width: 100% !important;
}

.select2-selection__rendered {
    line-height: 34px !important;
    padding-right: 8px !important;
    padding-left: 20px !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    background: transparent;
    border: 1px solid #7e7373;
    transition: 0.5s;
    height: calc(1.5em + .75rem + 20px);
    padding: 8px 25px 8px 25px;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.select2-selection__arrow {
    height: 37px;
    right: auto;
    left: 1px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #0159A3;
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--main);
    color: #fff;
}

.select2-dropdown {
    z-index: 100;
    -webkit-box-shadow: 0px 4px 4px #00669950;
    box-shadow: 0px 4px 4px #00669950;
}

.select2-search--dropdown .select2-search__field {
    -webkit-box-shadow: 0px 4px 4px #00669950;
    box-shadow: 0px 4px 4px #00669950;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.page-content {
    padding: 70px 0;
}

.stars-rating .star-rating {
    /* margin-top: .5rem; */
    text-align: center;
    display: flex;
    align-items: center;
}

.rating__item {
    margin-right: 2px;
}

.stars-rating .star-rating .rating__item:last-child {
    margin-right: 0;
}

.rating__item i {
    color: #d9d9d9;
}

.rating__item.active i {
    color: #f2cf1e;
}

.form-check-input:checked {
    background-color: var(--second);
    border-color: var(--second);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(44 194 155 / 25%);
}


/* Navbar */

.custom-navbar.scrolled {
    background-color: #fff !important;
    box-shadow: 0 0 20px -10px rgb(0 0 0 / 80%);
    /* padding: 0; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.custom-navbar .navaber-brand {
    width: 150px;
}

.custom-navbar .navaber-brand img {
    max-width: 60%;
    height: auto;
}

.custom-navbar .navbar-toggler {
    border: 1px solid #707070;
}

.custom-navbar .navbar-nav li {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.custom-navbar .navbar-nav li:last-child {
    margin-right: 0;
}

.custom-navbar .navbar-nav>.nav-item>.nav-link {
    color: #707070;
    padding: 12px 0;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    background: transparent !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    line-height: 26px;
    margin: 0 !important;
}

.custom-navbar .navbar-nav>.nav-item>.nav-link.active {
    color: var(--main);
}

.custom-navbar .navbar-nav>.nav-item>.nav-link .icon-header {
    color: #707070;
    font-size: 15px;
    font-weight: 600;
    margin-right: 5px;
    line-height: 1;
}

.custom-navbar .navbar-nav>.nav-item:last-child>.nav-link {
    padding-right: 0;
}

.custom-navbar .navbar-nav>li>.dropdown-toggle::after {
    display: none;
}

.custom-navbar .navbar-nav>li>a>.caret {
    margin: 0;
    border: none;
}

.custom-navbar .navbar-nav>li>a>.caret:before {
    font-size: 8px;
    line-height: 1;
    border: none;
    margin-top: 0;
    color: inherit;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "\e64b";
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.custom-navbar .header-actions {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.custom-navbar .header-actions .button-action {
    margin-left: 20px;
    padding: 12px 0;
}

.custom-navbar .header-actions .button-action:first-child {
    margin-left: 10px;
}

.custom-navbar .header-actions .button-action .button-lanuage {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* carousel header */

.carousel_header {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-image: linear-gradient(to bottom, #fff, #f5f9f9 53%, #2cc29b 139%);
    margin-bottom: 5rem;
    position: relative;
}

.carousel_header .owl-carousel {
    position: relative;
    padding: 40px 0 100px 0;
}

.carousel_header .item-carousel {
    position: relative;
    width: 100%;
}

@media (max-width: 768px) {
    .carousel_header .item-carousel {
        padding: 0 50px;
    }
}

.carousel_header .item-carousel .caption-carousel {
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 10;
    color: #fff;
}

.carousel_header .item-carousel .caption-carousel h2 {
    font-size: 52px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.3px;
    text-align: left;
    color: #404040;
    font-family: Poppins;
}

.carousel_header .item-carousel .caption-carousel p {
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: 0;
    text-align: left;
    color: #6d6d6d;
    font-family: Poppins;
}

.carousel_header .item-carousel .caption-carousel .inner-actions {
    margin-top: 1.5rem;
}

.carousel_header .item-carousel .caption-carousel .inner-actions p {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0;
    color: #404040;
}

.carousel_header .item-carousel .caption-carousel .inner-actions .container-download {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.carousel_header .item-carousel .caption-carousel .inner-actions .container-download a {
    display: block;
    width: 150px;
    margin-right: 10px;
}

.carousel_header .item-carousel .caption-carousel .inner-actions .container-download a:last-child {
    margin-right: 0;
}

.carousel_header .item-carousel .caption-carousel .img-wrapper {
    text-align: center;
}

@media (max-width: 768px) {
    .carousel_header .item-carousel .caption-carousel .img-wrapper {
        display: none;
    }
}

.carousel_header .item-carousel .caption-carousel .img-wrapper img {
    vertical-align: middle;
    border-style: none;
    height: 65vh;
    max-width: 100%;
    width: auto;
    display: inline-block;
}

.companies-area .owl-theme .owl-nav {
    margin-top: 30px;
    line-height: 0;
}

body .owl-carousel .owl-nav button.owl-next,
body .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    z-index: 10;
    width: 35px;
    height: 45px;
    top: 50%;
    padding: 10px 5px;
    box-shadow: none;
    background-image: none;
    margin-top: -35px;
    text-shadow: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background: var(--second);
    color: #fff;
}

body .owl-carousel .owl-nav button.owl-next:hover,
body .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: var(--main);
}

body .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

body .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.hero-searchbar-header {
    margin-top: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -53px;
}

@media (max-width: 768px) {
    .hero-searchbar-header {
        margin-top: 0;
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.hero-searchbar-header form {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: rgb(255, 255, 255, 0.49);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.hero-searchbar-header form .search-form-inner {
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
}

.hero-searchbar-header form .search-form-inner .form-control {
    padding: 0 25px;
    border: none;
    height: 62px;
    line-height: 62px;
    background: #fff;
    color: #1C2733;
}

.hero-searchbar-header .list-field {
    position: relative;
}

@media (min-width: 992px) {
    .hero-searchbar-header .list-field:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1px;
        height: 40px;
        background-color: #e8eef1;
    }
    .hero-searchbar-header .list-field.last:before {
        display: none;
    }
    .search-form-inner .btn-submit {
        padding: 0 15px;
    }
}

.hero-searchbar-header .search-form-inner .form-group {
    margin: 0;
    outline: none;
    height: 100%;
}

.hero-searchbar-header .search-form-inner .form-group button i {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 8px;
}

.hero-searchbar-header .search-form-inner .form-group button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    font-size: 13px;
    font-weight: 400;
}

.hero-searchbar-header .search-form-inner .form-group-inner {
    position: relative;
    color: var(--second);
}

.hero-searchbar-header .search-form-inner .form-group-inner i {
    left: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero-searchbar-header .twitter-typeahead {
    width: 100%;
    position: relative;
    display: inline-block;
}

.hero-searchbar-header .twitter-typeahead input {
    position: relative;
    vertical-align: top;
    background-color: transparent;
    border-radius: 30px 30px 30px 30px !important;
    padding-right: 38px;
    color: #7E8890;
    box-shadow: none;
}

.hero-searchbar-header .search-form-inner .form-group-inner>*.select2-container {
    padding-right: 30px;
}

.search-form-inner .select2-container--default .select2-selection--single {
    border: none;
    height: 62px !important;
    line-height: 62px;
    background: #fff;
    margin: 0;
}

.search-form-inner .select2-container--default.select2-container .select2-selection--single .select2-selection__arrow {
    margin-left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 26px;
    text-align: center;
    right: 0;
    left: auto;
}

.search-form-inner .select2-container--default.select2-container .select2-selection--single .select2-selection__arrow:before {
    font-family: 'themify';
    content: '\e64b';
}

.search-form-inner .select2-container--default.select2-container .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.search-form-inner .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 55px !important;
    height: 100%;
    padding-right: 20px !important;
    padding-left: 8px !important;
}

.section-header {
    text-align: left;
    margin-bottom: 40px;
}

.section-header .section-title {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.79;
    text-align: left;
    color: #404040;
}


/* section school area */

.section_school_area {
    position: relative;
    padding: 0 0;
}

.section_school_area .container {
    position: relative;
}

.section_school_area .owl-carousel {
    position: static;
}

.section_school_area .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.section_school_area .owl-carousel .owl-nav button.owl-next,
.section_school_area .owl-carousel .owl-nav button.owl-prev {
    position: relative;
    top: 4px;
    margin-top: 0;
}

.section_school_area .owl-carousel .owl-nav button.owl-prev {
    left: unset;
    margin-right: 15px;
}

.section_school_area .owl-carousel .owl-nav button.owl-next {
    right: unset;
}


/* Imagebox Hobby */

.imagebox-hobby {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    border-radius: 15px;
    overflow: hidden;
}

.imagebox-hobby .imagebox-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .6);
    transition: all .5s ease-in-out;
}

.imagebox-hobby img {
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
    height: 350px;
}

.imagebox-hobby:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.imagebox-hobby .imagebox-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 46px 0px;
}

.imagebox-hobby .imagebox-content h2 {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    line-height: 0.4;
    color: #fff;
    margin-bottom: 2rem;
}

.imagebox-hobby .imagebox-content a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    line-height: 0.67;
    color: #fff;
}

.imagebox-hobby .imagebox-content a:hover {
    text-decoration: underline;
}

.imagebox-hobby .imagebox-content a::after {
    content: '\e649';
    font-family: 'themify';
    font-size: 10px;
}


/* section counter */

.utf-counters-container-aera {
    position: relative;
    margin: 70px 0;
    padding: 22px 0;
    background-color: var(--second);
}

.utf-single-counter {
    text-align: center;
    position: relative;
    background: transparent;
    padding: 25px 15px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.utf-single-counter i {
    font-size: 4rem;
    color: #ffffff;
    position: relative;
    display: block;
    margin-right: 30px;
    line-height: 80px;
    border-radius: 50px;
}

.utf-single-counter h3 {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 8px;
}

.utf-single-counter .utf-counter-title {
    color: #ffffff;
    padding-top: 0;
    display: inline-block;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .utf-single-counter {
        justify-content: center;
    }
}


/* Nearest Schools */

.nearest-schools-section {
    position: relative;
    padding: 0 0;
}


/* school block */

.school-block-grid {
    padding: 0 0 15.2px;
    border-radius: 10px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    margin-bottom: 4rem;
}

.school-block-grid .inner-box {
    position: relative;
    overflow: hidden;
    /* padding: 10px; */
    border-radius: 10px;
    background: #ffffff;
}

.school-block-grid .image-box {
    position: relative;
}

.school-block-grid .image-box .cover-block {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0;
}

.school-block-grid .image-box .cover-block::before {
    background-color: rgba(61, 61, 61, 0.68);
    content: '';
    height: 250px;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.school-block-grid .image-box .cover-block img {
    display: block;
    width: 100%;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.school-block-grid .inner-box:hover .cover-block img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.school-block-grid .image-box .image {
    position: absolute;
    bottom: -37px;
    right: 0;
    left: 0;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 0;
    z-index: 2;
}

.school-block-grid .image-box .image img {
    display: block;
    width: 145px;
    height: 145px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 0 auto;
}

.school-block-grid .lower-content {
    padding: 20px 20px 16px;
    position: relative;
}

.school-block-grid .lower-content h3 {
    font-size: 18px;
    font-weight: 500;
    color: #2d2d2d;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: Poppins;
}

.school-block-grid .lower-content h3 a {
    color: #202124;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none;
    cursor: pointer;
}

.school-block-grid .lower-content .text {
    font-size: 14px;
    line-height: 24px;
    color: #696969;
    margin-bottom: 15px;
    font-weight: 400;
    margin: 0;
}

.school-block-grid .post-meta {
    position: relative;
    font-family: Poppins;
    font-size: 12px;
    line-height: 24px;
    color: #828282;
    margin-bottom: 5px;
}

.school-block-grid .post-meta img {
    margin-right: 10px;
    width: 23px;
}

.school-block-grid .post-meta a {
    text-decoration: none;
}

.school-block-grid .post-meta a:hover,
.school-block-grid .post-meta a {
    color: inherit;
}

.school-block-grid .action-btn {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    padding: 10px 7px;
    border-radius: 50px;
    vertical-align: middle;
    margin-left: 10px;
}

.school-block-grid .action-btn:first-child {
    margin-left: 0;
}

.school-block-grid .action-btn img {
    /* width: 25px; */
}


/* section requests */

.section-requests {
    position: relative;
    padding: 70px 0;
}


/* Imagebox Hobby */

.request-block {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.request-block .imagebox-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .6);
    transition: all .5s ease-in-out;
    z-index: 1;
}

.request-block img {
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
    height: 300px;
}

.request-block:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.request-block .imagebox-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 46px 0px;
    z-index: 2;
}

.request-block .imagebox-content h2 {
    font-family: Poppins;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
}

.request-block .imagebox-content a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    line-height: 0.67;
    color: var(--second);
    border-radius: 10px;
    background-color: #fff;
    padding: .7rem 1.8rem;
}

.request-block .imagebox-content a:hover {
    text-decoration: underline;
}


/* ///////////////////  Section FAQ   /////////////// */

.section-faq-area {
    position: relative;
    padding: 70px 0;
    margin: 70px 0;
    background-color: #177b7b;
}

.section-faq-area .faq-area-header {
    position: relative;
    text-align: center;
}

.section-faq-area .faq-area-header span {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 100;
    color: #efefef;
    font-style: normal;
    display: block;
    margin-bottom: 3rem;
}

.section-faq-area .faq-area-header .section-title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.section-faq-area .faq-area-content {
    margin-top: 3rem;
}

.section-faq-area .faq-area-content .nav-pills {
    align-items: center;
    justify-content: center;
}

.section-faq-area .faq-area-content .nav-pills .nav-item {
    margin-right: 15px;
}

.section-faq-area .faq-area-content .nav-pills .nav-item:last-child {
    margin-right: 0;
}

.section-faq-area .faq-area-content .nav-pills .nav-link {
    padding: 2px 20px;
    border-radius: 7px;
    border: solid 2px #37d6ad;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    color: #fff;
}

.section-faq-area .faq-area-content .nav-pills .nav-link:hover,
.section-faq-area .faq-area-content .nav-pills .nav-link.active {
    background-color: #37d6ad;
}

.section-faq-area .faq-area-content .tab-content {
    margin-top: 3rem;
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item {
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item .accordion-header {
    position: relative;
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item .accordion-header .accordion-button {
    color: #ffffff;
    background-color: transparent;
    box-shadow: none;
    border-left: 3px solid #57d4d2;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #57d4d2;
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item .accordion-header .accordion-button::after {
    content: "\f0d7";
    background-image: none;
    background-color: #dcdcdc;
    border-radius: 50px;
    line-height: 1;
    color: #177b7b;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    transform: rotate(0deg);
    text-align: center;
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    content: '\f0d8';
    background-image: none;
    transform: rotate( 0deg);
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item .accordion-header .accordion-button.collapsed {
    border-color: #ffffff;
    color: #ffffff;
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item .accordion-collapse {
    color: #fcfcfc;
    background-color: transparent;
    border-left: 3px solid #ffffff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    color: #fcfcfc;
}

.section-faq-area .faq-area-content .tab-content .accordion .accordion-item .accordion-collapse.show {
    border-color: #57d4d2;
}


/* breadcromb area */

.blog-breadcromb-area {
    position: relative;
    padding: 70px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/breadcromb/mask-group4.jpg');
    color: #fff;
}

.blog-breadcromb-area .breadcromb-box h3 {
    font-family: Poppins;
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1.5rem;
}

.blog-breadcromb-area .breadcromb-box p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

.blog-breadcromb-area .breadcromb-box img {
    max-width: 100%;
    height: auto;
}


/* Aside Filter */

.widget_sidebar_filter_widget {
    padding: 30px;
    border: 1px solid #e8eef1;
    background-color: #fff;
    margin: 0 0 30px 0;
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    display: block;
}

.widget_sidebar_filter_widget .widget-group {
    padding: 0;
    border: none;
    margin: 0 0 30px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.widget_sidebar_filter_widget .widget-group .jobSearch {
    width: 100%;
    position: relative;
}

.widget_sidebar_filter_widget .widget-group .jobSearch i {
    border: 0;
    background: none;
    position: absolute;
    top: 25%;
    left: 13px;
    cursor: pointer;
    color: var(--second);
    font-size: 21px;
}

.widget_sidebar_filter_widget .widget-group .jobSearch .btn-submit {
    background-color: var(--main);
}

.widget_sidebar_filter_widget .widget-group .btn-submit:hover {
    background-color: var(--second);
}

.widget_sidebar_filter_widget .widget-group .jobSearch input {
    padding: 10px 20px 9px 40px;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px #2cc29b;
    background-color: #fff;
}

.widget_sidebar_filter_widget .widget-group .btn-search {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
}

.widget_sidebar_filter_widget .widget-group .btn-search:hover {
    background-color: var(--second);
}

.widget_sidebar_filter_widget .widget-group .job_filter_widget_title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: #2cc29b;
    margin-bottom: 1.5rem;
}

.widget_sidebar_filter_widget .widget-group .accordion-item {
    border-bottom: none !important;
    margin: 0 0 20px;
    border: none;
}

.widget_sidebar_filter_widget .widget-group .accordion-header {
    padding: 0;
    background: transparent;
    border-bottom: 0;
}

.widget_sidebar_filter_widget .widget-group .accordion-header .accordion-button {
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0 0 20px;
}

.widget_sidebar_filter_widget .widget-group .accordion-header .accordion-button::after {
    display: none;
}

.widget_sidebar_filter_widget .widget-group .accordion-header .accordion-button .heading-label {
    margin: 0;
    text-transform: capitalize;
}

.widget_sidebar_filter_widget .widget-group .accordion-header .accordion-button:not(.collapsed) .heading-label i:before {
    content: "\f106";
}

.widget_sidebar_filter_widget .widget-group .accordion-header .accordion-button .heading-label i:before {
    content: "\f107";
}

.widget_sidebar_filter_widget .widget-group .heading-label {
    font-family: Poppins;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget_sidebar_filter_widget .widget-group .heading-label i {
    padding: 5px;
    cursor: pointer;
    float: right;
    padding-right: 0;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    color: #272f46;
    font-size: 20px;
}

.widget_sidebar_filter_widget .widget-group .accordion-body {
    padding: 0;
}

.widget_sidebar_filter_widget .widget-group .accordion-body ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.widget_sidebar_filter_widget .widget-group .accordion-body ul li {
    margin-bottom: 5px;
}

.widget_sidebar_filter_widget .widget-group .accordion-body ul li label {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #272f46;
    text-decoration: none;
}

.widget_sidebar_filter_widget .widget-group .accordion-body .btn-more {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.33;
    color: #000;
}

.widget_sidebar_filter_widget .button {
    outline: none;
    display: block;
    border: none;
    color: #fff;
    background-color: var(--main);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.close-sidebar-btn,
.mobile-sidebar-btn {
    display: none !important;
}

.close-sidebar-btn,
.mobile-sidebar-btn {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-block;
}

.mobile-sidebar-btn {
    color: #fff !important;
    background: #ff8b00 !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
    font-weight: 700;
    margin: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    position: fixed;
    z-index: 3;
    top: 30%;
    right: 0;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}

.mobile-sidebar-btn-default {
    position: static;
    width: auto;
    padding: 0 12px;
    margin-bottom: 15px;
}

.mobile-sidebar-btn.mobile-left {
    left: 0;
    right: initial;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    text-decoration: none;
}

.mobile-sidebar-btn.mobile-left i {
    margin-right: 5px;
}

.mobile-sidebar-panel-overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    cursor: not-allowed;
    visibility: hidden;
}

.mobile-sidebar-panel-overlay.active {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (min-width: 767px) {
    .widget_sidebar_filter_widget {
        height: auto !important;
        top: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .widget_sidebar_filter_widget:not(.sidebar-exploer) {
        -webkit-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        z-index: 12;
        top: 0px;
        width: 320px;
        height: 100vh;
        max-width: 80%;
        background: #fff;
        position: fixed;
        padding: 15px;
        left: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        overflow: auto;
        border-radius: 0;
    }
    .widget_sidebar_filter_widget:not(.sidebar-exploer).active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .close-sidebar-btn,
    .mobile-sidebar-btn {
        display: inline-block !important;
    }
}


/* comparison section */

.comparison_school {
    position: sticky;
    top: 20%;
    right: 0;
    z-index: 999;
    height: auto;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}

.comparison_school .widget_comparison_school {
    position: absolute;
    right: 0;
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.comparison_school .action_toggle_comparison {
    position: relative;
    background-color: var(--second);
    border-radius: 15px 0 0 0;
    padding: 15px 15px 10px 25px;
    border-right: 1px solid rgb(255 255 255 / 38%);
    cursor: pointer;
}

.comparison_school .action_toggle_comparison img {
    height: 25px;
    width: 25px;
}

.comparison_school .action_toggle_comparison .comparison_bage {
    position: absolute;
    left: 0;
    background-color: #ffd607;
    top: 0;
    padding: 1px 7px;
    border-radius: 5px 0 5px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}

.comparison_school .comparison_inner {
    background-color: #fff;
    box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.16);
    border-radius: 0 15px 15px 15px;
    position: absolute;
    width: 270px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.comparison_school.active .comparison_inner {
    position: relative;
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.comparison_school .comparison_header {
    margin: 0;
    padding: 15px 10px 15px 10px;
    background-color: var(--second);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.comparison_school .comparison_header h3 {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 0;
}

.comparison_school .comparison_content {
    background-color: #FFF;
}

.comparison_school .comparison_content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.comparison_school .comparison_content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.comparison_school .comparison_content ul li .image {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-right: 10px;
}

.comparison_school .comparison_content ul li .image img {
    width: 100%;
    height: auto;
}

.comparison_school .comparison_content ul li h3 {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    color: #2d2d2d;
    margin-bottom: 0px;
}

.comparison_school .comparison_footer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem 0;
}

.comparison_school .comparison_footer .btn {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
}

.comparison_school .comparison_footer .btn:hover {
    color: #fff;
    background-color: var(--second);
    border-color: var(--second);
}


/* ///////////////////  Footer   /////////////// */

.footer-section {
    background: transparent;
    position: relative;
    color: #667488;
    font-size: 15px;
    z-index: 9;
}

.footer-section a {
    text-decoration: none;
}

.footer-section .footer-content-middle {
    border-radius: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3rem 0px 2rem 0px;
    position: relative;
    background-color: #f7f7f7;
}

.footer-section .footer-content-middle .logo {
    padding: 0;
    width: 100%;
    margin: 0px 0px 25px 0px;
}

.footer-section .footer-content-middle .logo a {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.footer-section .footer-content-middle .logo .logo-main {
    display: block;
}

.footer-section .footer-content-middle .logo img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.footer-section .footer-title {
    font-size: 17px;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin: 0px 0px 1rem 0px;
    border: none;
    position: relative;
    padding-bottom: 1.3rem;
    font-family: Poppins;
    font-weight: 500;
    color: #2d2d2d;
}

.footer-section .footer-title:after {
    content: "";
    height: 3px;
    background-color: var(--second);
    position: absolute;
    left: 0;
    width: 21%;
    bottom: 0px;
}

.footer-section .footer-content-middle .container-download {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.footer-section .footer-content-middle .container-download a {
    display: block;
    width: 100px;
    margin-right: 10px;
}

.footer-section .footer-content-middle .container-download a img {
    max-width: 100%;
    height: auto;
}

.footer-section .footer-content-middle .container-download a:last-child {
    margin-right: 0;
}

.footer-section .footer-content-middle .socials .social {
    padding: 0;
    list-style: none;
    margin: 0;
}

.footer-section .footer-content-middle .socials .social>li {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 5px;
}

.footer-section .footer-content-middle .socials .social a {
    background-color: var(--second);
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-section .footer-content-middle .socials .social a:hover {
    background-color: var(--main);
    color: #FFFFFF;
}

.footer-section .footer-content-middle .recent-post-widget .post-item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-date {
    width: 70px;
    height: 65px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    text-align: center;
    background-color: #E3E3E3;
    color: #111111;
    margin-left: 15px;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-date span {
    display: block;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-date span:first-child {
    margin-top: 6px;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-date span:last-child {
    font-size: 13px;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-title a {
    color: #E3E3E3;
    font-weight: 400;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-title a:hover {
    color: #555;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-title a:focus {
    color: #fff;
}

.footer-section .footer-content-middle .recent-post-widget .post-item .post-category {
    font-size: 13px;
}

.footer-section .footer-content-middle .recent-post-widget .post-item+.post-item {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(102, 102, 102, 0.5);
}

.footer-section .footer-content-middle .sitemap-widget {
    padding: 0;
    margin: 0;
}

.footer-section .footer-content-middle .sitemap-widget li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-section .footer-content-middle .sitemap-widget li a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: #828282;
}

.footer-section .footer-content-middle .sitemap-widget li a:hover,
.footer-section .footer-content-middle .sitemap-widget li a:focus {
    color: var(--main);
    text-decoration: underline;
}

.footer-section .footer-bottom {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    position: relative;
    background-color: #f7f7f7;
}

.footer-section .footer-bottom .copyright {
    padding: 15px 15px 15px 15px;
    text-align: center;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(112 112 112 / 26%);
}

.footer-section .footer-bottom .copyright p {
    margin-bottom: 0;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    color: #707070;
}

@media (max-width: 768px) {
    footer .copyright p {
        font-size: 13px;
    }
    footer .ft-bottom-right {
        padding-top: 15px;
        text-align: center !important;
    }
}

.school_detail_reviews .item_blog {
    box-shadow: 0px 2px 12px #00000029;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 1rem;
}

.school_detail_reviews .item_blog .content_item_review {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
}

.school_detail_reviews .item_blog .content_item_review .item_review_left {
    margin-right: 1rem;
}

.school_detail_reviews .item_blog .content_item_review figure {
    margin-bottom: 1rem;
}

.school_detail_reviews .item_blog .content_item_review figure img {
    height: 130px;
    width: 130px;
    border-radius: 9px;
}

.school_detail_reviews .item_blog .content_item_review .item_review_left .rate-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.school_detail_reviews .item_blog .content_item_review .item_review_left .stars-rating .rating__item i {
    font-size: 14px;
}

.school_detail_reviews .item_blog .content_item_review .item_review_left .stars-rating .rating__item.active i {
    color: #ffa700;
}

.school_detail_reviews .item_blog .content_item_review .item_review_left .rate-header .rate-count {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #1C1C1C;
    margin-left: 10px;
}

.school_detail_reviews .item_blog .content_item_review .inner_item_review h4 {
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.school_detail_reviews .item_blog .content_item_review .inner_item_review .date_time {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
}

.school_detail_reviews .item_blog .content_item_review .inner_item_review p {
    color: #757575;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    display: block;
}

.school_detail_reviews .item_blog .content_item_review .inner_item_review .btn {
    background: var(--second);
    border-radius: 10px;
    color: #fff;
    font-weight: normal;
    font-size: 13px;
    font-family: Poppins;
    padding: 7px 17px;
}

.school_detail_reviews .item_blog .content_item_review .inner_item_review .btn:hover {
    background: var(--main);
}

@media screen and (max-width:400px) {
    .school_detail_reviews .item_blog .content_item_review {
        display: block;
        text-align: center;
    }
    .school_detail_reviews .item_blog .content_item_review .item_review_left {
        margin-right: 0;
    }
    .school_detail_reviews .item_blog .content_item_review .item_review_left .rate-header {
        justify-content: center;
    }
}

.school_detail_reviews .item_blog .footer_item_review {
    border-top: 1px solid rgb(112 112 112 / 17%);
    padding: 1rem .5rem;
}

.school_detail_reviews .item_blog .footer_item_review ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.school_detail_reviews .item_blog .footer_item_review ul li {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
}

.school_detail_reviews .item_blog .footer_item_review ul li i {
    color: var(--second);
    font-size: 16px;
    margin-right: 5px;
}

.school_detail_reviews .item_blog .footer_item_review ul li span {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    color: #757575;
}