.widget {
    margin-bottom: 30px;
    position: relative;
    padding: 0px;
    background: transparent;
}

.widget .title {
    position: relative;
    margin: 0 0 20px 0;
}

.parent-single-inner {
    padding: 20px 0;
}

@media (min-width: 1200px) {
    .parent-single-inner {
        padding: 60px 0 40px 0;
    }
}

.parent-single-header .btn {
    background: #2CC29B;
    border: 3px solid #2CC29B;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    color: #fff;
    padding: .55rem 1.2rem;
}

.parent-single-header .btn img {
    width: 14px;
    margin-right: 5px;
}

.parent-single-header .btn i {
    margin-right: 5px;
}

.parent-single-header .btn:hover {
    background: var(--main);
    border-color: var(--main);
}

.parent-detail-header {
    background-position: 0% 0;
    background-color: #242d3e;
    position: relative;
    background-size: cover;
    padding: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 150px 0 30px 0;
}

.parent-detail-header:before {
    content: "";
    top: 0;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: auto;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.parent-detail-header .parent-detail-header-container {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.parent-detail-header .parent-thumbnail {
    position: relative;
    margin-right: 15px;
}

@media (min-width: 1200px) {
    .parent-detail-header .parent-thumbnail {
        margin-right: 25px;
    }
}

.parent-detail-header .parent-thumbnail .inner-image {
    padding: 4px;
    /* background-color: #fff; */
    width: 100px;
    height: 100px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .parent-detail-header .parent-thumbnail .inner-image {
        width: 130px;
        height: 130px;
    }
}

.parent-detail-header .parent-thumbnail .inner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.parent-detail-header .title-wrapper {
    position: relative;
    margin-bottom: 5px;
}

.parent-detail-header .title-wrapper>* {
    display: inline;
    margin-bottom: 0;
    vertical-align: middle;
}

.parent-detail-header .parent-information .parent-title {
    margin: 0;
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    display: inline;
    font-weight: 600;
    line-height: 1.4;
}

@media (min-width: 1200px) {
    .parent-detail-header .parent-information .parent-title {
        font-size: 28px;
    }
}

.parent-detail-header-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.parent-detail-header-meta li {
    margin-right: 12px;
    display: block;
}

.parent-detail-header-meta li>div {
    display: flex;
    align-items: center;
}

@media (min-width: 1200px) {
    .parent-detail-header-meta li {
        margin-right: 15px;
    }
}

.parent-detail-header-meta i {
    margin-top: 0;
    margin-right: 6px;
    font-size: 16px;
}

.parent-detail-header-meta li>div>* {
    float: left;
}

.parent-detail-header .parent-detail-header-meta a:not([class]) {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
}

.parent-detail-buttons .btn-follow.has-text {
    width: auto;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    opacity: 1;
    filter: alpha(opacity=100);
    /* border-color: #e8eef1; */
    /* color: #818ea0; */
    background: #fff;
    font-size: 16px;
    min-height: 46px;
    /* padding: 8px 28px; */
    font-weight: 400;
    position: relative;
    line-height: 1;
    border: 1px solid #e8eef1;
    text-decoration: none;
}

.btn-follow.has-text i {
    font-size: 16px;
}

.parent-detail-buttons .btn-follow.has-text {
    color: #fff !important;
    border-color: var(--second);
    background-color: var(--second);
}

.parent-detail-header .parent-detail-buttons>* {
    float: left;
    margin-right: 12px;
}

.parent-detail-header .btn,
.parent-detail-header .button {
    padding: 8px 20px;
    border-width: 2px;
}

.parent-detail-header .button.add-a-review {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    margin: 0;
    text-transform: none;
    position: relative;
}

.parent-detail-header .btn-follow:hover {
    color: #fff !important;
    border-color: var(--main);
    background-color: var(--main);
}

.parent-detail-header .button.add-a-review:hover {
    color: var(--second);
    background-color: #fff;
    border-color: #fff;
}

@media (min-width: 1200px) {
    .parent-detail-header .btn,
    .parent-detail-header .button {
        padding: 8px 30px;
    }
}

.parent-detail-header-right {
    color: #fff;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
}

.parent-detail-header .parent-detail-header-right>div:first-child {
    padding-left: 0;
}

.parent-detail-header .parent-detail-header-right>div {
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

@media (max-width: 992px) {
    .parent-detail-header .parent-detail-header-right {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .parent-detail-header .parent-detail-header-right {
        justify-content: center !important;
    }
}

@media (min-width: 1200px) {
    .parent-detail-header .parent-detail-header-right>div {
        padding: 0 25px;
    }
}

.parent-detail-header .parent-detail-header-right>div>span:first-child {
    font-size: 28px;
    font-weight: 500;
}

.parent-detail-header .parent-detail-header-right>div>span {
    font-size: 16px;
    text-transform: capitalize;
}

@media (min-width: 1200px) {
    .parent-detail-header .parent-detail-header-right>div>span:first-child {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .parent-detail-header {
        padding: 50px 0 30px 0;
    }
    .parent-detail-header .parent-detail-header-container {
        flex-direction: column;
    }
    .parent-detail-header .parent-thumbnail {
        margin-right: 0;
    }
    .parent-detail-header .title-wrapper {
        text-align: center;
    }
    .parent-detail-header-meta {
        justify-content: center;
    }
    .parent-detail-header .parent-detail-buttons {
        text-align: center;
    }
    .parent-detail-header .parent-detail-buttons>* {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}