.widget {
    margin-bottom: 30px;
    position: relative;
    padding: 0px;
    background: transparent;
}

.widget .title {
    position: relative;
    margin: 0 0 20px 0;
}

.school-single-inner {
    padding: 20px 0;
}

@media (min-width: 1200px) {
    .school-single-inner {
        padding: 60px 0 40px 0;
    }
}

.school-single-header .btn {
    background: #2CC29B;
    border: 3px solid #2CC29B;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    color: #fff;
    padding: .55rem 1.2rem;
}

.school-single-header .btn img {
    width: 14px;
    margin-right: 5px;
}

.school-single-header .btn i {
    margin-right: 5px;
}

.school-single-header .btn:hover {
    background: var(--main);
    border-color: var(--main);
}

.school-detail-header {
    background-position: 0% 0;
    background-color: #242d3e;
    position: relative;
    background-size: cover;
    padding: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 150px 0 30px 0;
}

.school-detail-header:before {
    content: "";
    top: 0;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: auto;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.school-detail-header .school-detail-header-container {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.school-detail-header .school-thumbnail {
    position: relative;
    margin-right: 15px;
}

@media (min-width: 1200px) {
    .school-detail-header .school-thumbnail {
        margin-right: 25px;
    }
}

.school-detail-header .school-thumbnail .inner-image {
    padding: 4px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .school-detail-header .school-thumbnail .inner-image {
        width: 130px;
        height: 130px;
    }
}

.school-detail-header .school-thumbnail .inner-image img {
    max-width: 100%;
    height: auto;
}

.school-detail-header .title-wrapper {
    position: relative;
    margin-bottom: 5px;
}

.school-detail-header .title-wrapper>* {
    display: inline;
    margin-bottom: 0;
    vertical-align: middle;
}

.school-detail-header .title-wrapper .rate-text {
    font-size: 20px;
}

.school-detail-header .school-information .school-title {
    margin: 0;
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    display: inline;
    font-weight: 600;
    line-height: 1.4;
}

.school-detail-header .school-information .featured {
    color: #fff;
    overflow: hidden;
    font-size: 14px;
    background-color: #ff8b00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
}

@media (min-width: 1200px) {
    .school-detail-header .school-information .school-title {
        font-size: 28px;
    }
}

.school-detail-header-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.school-detail-header-meta li {
    margin-right: 12px;
    display: block;
}

.school-detail-header-meta li>div {
    display: flex;
    align-items: center;
}

@media (min-width: 1200px) {
    .school-detail-header-meta li {
        margin-right: 15px;
    }
}

.school-detail-header-meta i {
    margin-top: 0;
    margin-right: 6px;
    font-size: 16px;
}

.school-detail-header-meta li>div>* {
    float: left;
}

.school-detail-header .school-detail-header-meta a:not([class]) {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
}

.school-detail-buttons .btn-follow.has-text {
    width: auto;
    height: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    opacity: 1;
    filter: alpha(opacity=100);
    /* border-color: #e8eef1; */
    /* color: #818ea0; */
    background: #fff;
    font-size: 16px;
    min-height: 46px;
    /* padding: 8px 28px; */
    font-weight: 400;
    position: relative;
    line-height: 1;
    border: 1px solid #e8eef1;
    text-decoration: none;
}

.btn-follow.has-text i {
    font-size: 16px;
}

.btn-follow.has-text span {
    margin-left: 10px;
}

.school-detail-buttons .btn-follow.has-text {
    color: #fff !important;
    border-color: var(--second);
    background-color: var(--second);
}

.school-detail-header .school-detail-buttons>* {
    float: left;
    margin-right: 12px;
}

.school-detail-header .btn,
.school-detail-header .button {
    padding: 8px 20px;
    border-width: 2px;
}

.school-detail-header .button.add-a-review {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    margin: 0;
    text-transform: none;
    position: relative;
}

.school-detail-header .btn-follow:hover {
    color: #fff !important;
    border-color: var(--main);
    background-color: var(--main);
}

.school-detail-header .button.add-a-review:hover {
    color: var(--second);
    background-color: #fff;
    border-color: #fff;
}

@media (min-width: 1200px) {
    .school-detail-header .btn,
    .school-detail-header .button {
        padding: 8px 30px;
    }
}

.school-detail-header-right {
    color: #fff;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
}

.school-detail-header .school-detail-header-right>div:first-child {
    padding-left: 0;
}

.school-detail-header .school-detail-header-right>div {
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

@media (max-width: 992px) {
    .school-detail-header .school-detail-header-right {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .school-detail-header .school-detail-header-right {
        justify-content: center !important;
    }
}

@media (min-width: 1200px) {
    .school-detail-header .school-detail-header-right>div {
        padding: 0 25px;
    }
}

.school-detail-header .school-detail-header-right>div>span:first-child {
    font-size: 28px;
    font-weight: 500;
}

.school-detail-header .school-detail-header-right>div>span {
    font-size: 16px;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .school-detail-header .school-detail-header-right>div>span:first-child {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .school-detail-header {
        padding: 50px 0 30px 0;
    }
    .school-detail-header .school-detail-header-container {
        flex-direction: column;
    }
    .school-detail-header .school-thumbnail {
        margin-right: 0;
    }
    .school-detail-header .title-wrapper {
        text-align: center;
    }
    .school-detail-header-meta {
        justify-content: center;
    }
    .school-detail-header .school-detail-buttons {
        text-align: center;
    }
    .school-detail-header .school-detail-buttons>* {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}


/* content page */

.school-detail-description {
    padding: 20px 0;
    background-color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.school-detail-header .school-detail-buttons>*:last-child {
    margin-right: 0;
}

@media (min-width: 1200px) {
    .school-detail-description {
        padding: 30px 0 40px 0;
    }
}

.school-detail-description .title,
.sidebar-school .title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #404040;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #B2B2B2;
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: 1.7;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    color: #B2B2B2;
    text-decoration: none;
}

.breadcrumb .breadcrumb-item.active {
    color: #545454;
}


/* .school-detail-description .title:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 2px;
    background-color: #667488;
    margin-left: 7px;
} */

.school-detail-description p {
    margin: 0 0 13px;
    margin-bottom: 20px;
}

.school-detail-description>ol,
.school-detail-description ul {
    padding: 0;
    list-style-position: inside;
    margin: 0 0 20px;
}

.school-detail-description>ol li,
.school-detail-description ul li {
    margin-bottom: 5px;
}

.school-detail-description>div {
    margin-bottom: 35px;
    margin-top: 35px;
}

.school-detail-description>div .title {
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .school-detail-description .title+div {
        padding-right: 30px;
    }
}

.widget_school_tabs {
    position: relative;
}

.widget_school_tabs .nav-pills {
    background-color: var(--second);
    padding: 0 1rem;
}

.widget_school_tabs .nav-pills .nav-item {
    margin-bottom: 0;
    flex: 1 1 auto;
    text-align: center;
}

.widget_school_tabs .nav-pills .nav-item .nav-link {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: #fff;
    padding: 1.2rem 0;
    position: relative;
    margin: 0 1rem;
}

.widget_school_tabs .nav-pills .nav-item .nav-link::after {
    display: block;
    content: '';
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    right: 0;
    width: 100%;
    height: 5px;
    bottom: 0;
}

.widget_school_tabs .nav-pills .nav-item .nav-link.active {
    background-color: transparent;
}

.widget_school_tabs .nav-pills .nav-item .nav-link:hover::after,
.widget_school_tabs .nav-pills .nav-item .nav-link.active::after {
    background-color: #fff;
}

@media (max-width:1200px) {
    .widget_school_tabs .nav-pills .nav-item .nav-link {
        font-size: 12px;
        font-weight: normal;
        padding: 1.2rem 0;
        margin: 0 .5rem;
    }
}

@media (max-width:992px) {
    .widget_school_tabs .nav-pills .nav-item .nav-link {
        font-size: 12px;
        font-weight: normal;
        padding: 1.2rem 0;
        margin: 0 .5rem;
    }
}

@media (max-width: 767px) {
    .widget_school_tabs .nav-pills .nav-item .nav-link {
        z-index: -1;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown {
        border: 1px solid #dddddd;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        display: block;
        padding: 0;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown::after {
        content: "☰";
        position: absolute;
        top: 8px;
        right: 15px;
        z-index: 2;
        pointer-events: none;
        color: #fff;
        font-size: 20px;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown>li>a {
        margin: 0 !important;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown.open>li>a {
        position: relative !important;
        display: block;
        z-index: 1;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown.open>li>a:hover,
    .widget_school_tabs .nav-pills.nav-tabs-dropdown.open>li>a.active {
        background-color: var(--main);
        border: 1px solid var(--main);
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown .nav-item .nav-link:hover::after,
    .widget_school_tabs .nav-pills.nav-tabs-dropdown .nav-item .nav-link.active::after {
        display: none;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown li {
        display: block;
        padding: 0;
        vertical-align: bottom;
        position: relative;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown>li>a {
        position: absolute !important;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        border-color: transparent;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown>li>a:focus,
    .widget_school_tabs .nav-pills.nav-tabs-dropdown>li>a:hover,
    .widget_school_tabs .nav-pills.nav-tabs-dropdown>li>a:active {
        border-color: transparent;
    }
    .widget_school_tabs .nav-pills.nav-tabs-dropdown>li>a.active {
        display: block;
        border-color: transparent;
        position: relative !important;
        z-index: 1;
        background: #fff;
    }
    .nav-pills.nav-tabs-dropdown>li>a.active:focus,
    .nav-pills.nav-tabs-dropdown>li>a.active:hover,
    .nav-pills.nav-tabs-dropdown>li>a.active:active {
        border-color: transparent;
    }
}

.widget_school_tabs .tab-content {
    padding: 1rem;
}

.widget_school_tabs .tab-content .tab-content-about {
    position: relative;
}

.widget_school_tabs .tab-content .tab-content-about h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #404040;
    margin-bottom: .5rem;
}

.widget_school_tabs .tab-content .tab-content-about p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    color: #404040;
    margin-bottom: 1rem;
}

.school-detail-facilities {
    position: relative;
}

.school-detail-facilities .school-content-facilities {
    border-radius: 15px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 18px 39px 17px;
}

.school-detail-facilities .school-content-facilities .item_facilitie {
    flex: 1 1 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: center;
}

.school-detail-facilities .school-content-facilities .item_facilitie figure {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
}

.school-detail-facilities .school-content-facilities .item_facilitie img {
    width: 100%;
    height: 100%;
}

.school-detail-facilities .school-content-facilities .item_facilitie h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #404040;
    margin-top: 1rem;
}

.school-detail-info {
    padding: 22px 22px 22px 22px;
    background-color: rgba(55, 214, 173, 0.13);
}

.school-detail-info .school-info-item {
    display: flex;
    align-items: center;
}

.school-detail-info .school-info-item h4,
.school-detail-info .school-info-item h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #1f5492;
    margin: 0;
}

.school-detail-info .school-info-item h3 {
    color: #1c1c1c;
}

.school-detail-reviews {
    position: relative;
}

.school-detail-reviews .rate-header {
    position: relative;
    display: flex;
    align-items: center;
}

.school-detail-reviews .rate-header .rate-number {
    padding: 10px 12px;
    border-radius: 10px;
    background-color: #ffa700;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-right: 1rem;
}

.school-detail-reviews .rate-header .stars-rating .rating__item i {
    font-size: 20px;
}

.school-detail-reviews .rate-header .stars-rating .rating__item.active i {
    color: #ffa700;
}

.school-detail-reviews .rating-categories {
    margin-top: 2rem;
}

.school-detail-reviews .rating-categories .categories_container_progress {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.school-detail-reviews .rating-categories .categories_container_progress .category {
    margin-bottom: 1.5rem;
    width: 28%;
    margin-inline-end: 3rem
}

@media(max-width:480px) {
    .school-detail-reviews .rating-categories .categories_container_progress .category {
        width: 90%
    }
}

.school-detail-reviews .rating-categories .categories_container_progress .category-title p {
    white-space: nowrap;
    margin-bottom: 7px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #404040;
}

.school-detail-reviews .rating-categories .categories_container_progress .category-rating {
    display: flex;
    align-items: center
}

.school-detail-reviews .rating-categories .categories_container_progress .category-rating span {
    margin-inline-start: .8rem;
    font-size: .8rem
}

.school-detail-reviews .rating-categories .categories_container_progress .progress {
    width: 100%;
    height: .6rem
}

.school-detail-reviews .rating-categories .categories_container_progress .progress .progress-bar {
    width: var(--progress)
}

.school-detail-reviews .rating-categories .categories_container_progress .progress.success {
    background-color: rgba(11, 200, 138, .2)
}

.school-detail-reviews .rating-categories .categories_container_progress .progress.success .progress-bar {
    background-color: #0bc88a
}

.school-detail-reviews .rating-categories .categories_container_progress .progress.danger {
    background-color: rgba(239, 112, 112, .2)
}

.school-detail-reviews .rating-categories .categories_container_progress .progress.danger .progress-bar {
    background-color: #ef7070
}

.school-detail-reviews .rate-header .rate-count {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #ABABAB;
    margin-left: 1rem;
}

.school-fees {
    position: relative;
}

.school-fees table {
    position: relative;
}

.school-fees table>thead>tr {
    background-color: #177B7B;
    color: #fff;
}

.school-fees table>thead>tr>th {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    padding: 18px 17px;
    vertical-align: middle;
    border-bottom: none;
    text-align: center;
}

.school-fees table>tbody>tr:nth-of-type(odd) {
    background-color: rgb(44 194 155 / 5%);
}

.school-fees table>tbody>tr>td {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #000000;
    padding: 18px 17px;
    vertical-align: middle;
    border-bottom: none;
    text-align: center;
}

.school-questions {
    position: relative;
}

.school-questions .widget_school_questions_feature {
    background-color: #E5FAF4;
    padding: 1rem;
}

.school-questions .widget_school_questions_feature .head_questions_feature {
    margin-bottom: 1rem;
}

.school-questions .widget_school_questions_feature .head_questions_feature h4 {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: #1C1C1C;
}

.school-questions .widget_school_questions_feature .head_questions_feature p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: #1C1C1C;
}

.school-questions .widget_school_questions_feature .content_questions_feature p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #177B7B;
    margin-bottom: 1rem;
}

.school-questions .widget_school_questions_feature .content_questions_feature a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    background-color: #177B7B;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
}

.school-questions .widget_school_list_questions {
    background-color: #E5FAF4;
    padding: 1rem;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 10px;
}

.school-questions .widget_school_list_questions .head_questions_feature {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.school-questions .widget_school_list_questions .head_questions_feature figure {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 5px;
}

.school-questions .widget_school_list_questions .head_questions_feature figure img {
    height: 50px;
    width: 50px;
}

.school-questions .widget_school_list_questions .head_questions_feature h4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #1C1C1C;
    margin-bottom: 0;
}

.school-questions .widget_school_list_questions .form_questions_feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.school-questions .widget_school_list_questions .form_questions_feature .form-control {
    padding: 14px 20px 14px 20px;
    border-radius: 5px;
    border: solid 0.5px #fff;
    background-color: #fff;
    margin-right: 25px;
}

.school-questions .widget_school_list_questions .form_questions_feature .btn-submit {
    background-color: #177B7B;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 11px 15px;
    white-space: nowrap;
}

.school-questions .widget_school_list_questions .form_questions_feature .btn-submit:hover {
    background-color: var(--main);
}

@media screen and (max-width: 576px) {
    .school-questions .widget_school_list_questions .form_questions_feature {
        flex-direction: column;
    }
    .school-questions .widget_school_list_questions .form_questions_feature .btn-submit {
        margin-top: 1rem;
    }
    .school-questions .widget_school_list_questions .form_questions_feature .form-control {
        margin-right: 0;
    }
}

.school-questions .widget_school_list_questions .content_questions_feature {
    position: relative;
}

.school-questions .widget_school_list_questions .content_questions_feature h4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #1C1C1C;
    margin-bottom: 1rem;
}

.school-questions .widget_school_list_questions .content_questions_feature h4 {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: #1C1C1C;
    margin-bottom: 1rem;
}

.school-questions .widget_school_list_questions .content_questions_feature ul {
    margin: 0;
    padding: 0 2rem;
    list-style: none;
    background-color: #FFFFFF;
}

.school-questions .widget_school_list_questions .content_questions_feature ul li {
    display: block;
    border-bottom: 1px solid rgb(23 123 123 / 16%);
    margin-bottom: 0px;
    padding: 1rem 0;
}

.school-questions .widget_school_list_questions .content_questions_feature ul li:last-child {
    border-bottom: none;
}

.school-questions .widget_school_list_questions .content_questions_feature ul li h5 {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: #177B7B;
    margin-bottom: 10px;
}

.school-questions .widget_school_list_questions .content_questions_feature ul li p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    color: #1C1C1C;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .school-sidebar-inner .sidebar {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .school-single-inner .sidebar-school {
        margin-top: 30px;
    }
}

.widget_latest_school_photos {
    position: relative;
}

.widget_latest_school_photos .item-carousel {
    position: relative;
    width: 100%;
}

.widget_latest_school_photos .item-carousel {
    position: relative;
    width: 100%;
}

.widget_latest_school_photos .item-carousel figure {
    border-radius: 18px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}

.widget_latest_school_photos .item-carousel figure img {
    height: 100%;
    width: 100%;
}

.widget_latest_school_photos .owl-theme .owl-nav {
    margin-top: 30px;
    line-height: 0;
}

.widget_latest_school_photos .owl-carousel .owl-nav button.owl-next,
.widget_latest_school_photos .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    z-index: 10;
    width: 35px;
    height: 45px;
    top: 50%;
    padding: 10px 5px;
    box-shadow: none;
    background-image: none;
    margin-top: -35px;
    text-shadow: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background-color: rgb(44 194 155 / 80%);
    color: #fff;
}

.widget_latest_school_photos .owl-carousel .owl-nav button.owl-next:hover,
.widget_latest_school_photos .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: var(--main);
    opacity: 1;
}

.widget_latest_school_photos .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.widget_latest_school_photos .owl-carousel .owl-nav button.owl-next {
    right: 0;
}


/* .widget_latest_school_photos .owl-carousel .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.widget_latest_school_photos .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

.widget_latest_school_photos .owl-carousel .owl-dots .owl-dot span {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: transparent none repeat scroll 0 0;
    border-radius: 30px;
    display: block;
    height: 12px;
    margin: 5px 5px 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 12px;
    border: 2px solid #fff;
}

.widget_latest_school_photos .owl-carousel .owl-dots .owl-dot.active span,
.widget_latest_school_photos .owl-carousel .owl-dots .owl-dot:hover span {
    background: #25AD60 none repeat scroll 0 0;
} */

.widget_latest_school_videos {
    position: relative;
}

.widget_latest_school_videos .welcome-video-area {
    border-radius: 18px;
    overflow: hidden;
}


/* popup video */

.welcome-video-area {
    position: relative;
    z-index: 1;
    margin-top: 0;
}

.welcome-video-area .welcome-thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px;
}

.welcome-video-area .welcome-thumb::before {
    width: 100%;
    position: absolute;
    content: '';
    background-color: #000;
    opacity: 0.3;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    border-radius: 15px;
}

.welcome-video-area .welcome-thumb img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 50px rgb(0 0 0 / 15%);
    position: relative;
}

.welcome-video-area .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    color: var(--main);
}

.welcome-video-area .video-btn {
    border-radius: 50%;
    padding: 0;
    text-align: center;
}

.welcome-video-area .video-btn i {
    font-size: 50px;
    color: #fff;
}

.widget_apus_school_activities {
    position: relative;
}

.widget_apus_school_activities .school_detail_activities {
    position: relative;
    box-shadow: 0px 3px 12px #00000029;
    border-radius: 15px;
    background-color: #fff;
    padding: 30px;
}

.widget_apus_school_activities .school_detail_activities ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
}

.widget_apus_school_activities .school_detail_activities ul li {
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.widget_apus_school_activities .school_detail_activities ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget_apus_school_activities .school_detail_activities ul li .icon {
    margin-right: 15px;
}

.widget_apus_school_activities .school_detail_activities ul li .icon img {
    height: 30px;
    width: 30px;
}

.widget_apus_school_activities .school_detail_activities ul li .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.widget_apus_school_activities .school_detail_activities ul li .details .text {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    color: #404040;
}

.widget_apus_school_activities .school_detail_activities ul li .details>div {
    display: inline-block;
    color: #667488;
}

.widget_apus_school_reviews {
    position: relative;
}

.school_detail_reviews {
    position: relative;
}

.widget_apus_school_communicate .school_detail_communicate {
    position: relative;
    box-shadow: 0px 3px 12px #00000029;
    border-radius: 15px;
    background-color: #fff;
    padding: 30px;
}

.widget_apus_school_communicate ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
}

.widget_apus_school_communicate ul li {
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.widget_apus_school_communicate ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget_apus_school_communicate ul li .icon {
    margin-right: 15px;
}

.widget_apus_school_communicate ul li .icon i {
    font-size: 20px;
    color: var(--second);
}

.widget_apus_school_communicate ul li .details {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    color: #404040;
}

.widget_apus_school_map_location {
    position: relative;
}

.widget_apus_school_map_location .school_detail_map_location {
    box-shadow: 0px 1px 12px #00000029;
    border-radius: 15px;
    min-height: 300px;
    height: 300px;
}

.widget_apus_school_map_location .school_detail_map_location .school-google-maps {
    width: 100%;
    height: 100%;
}

.widget_apus_school_map_location .school_detail_map_location iframe {
    width: 100%;
    height: 100%;
}

.widget_apus_school_report .btn {
    background: #FF1010;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: .8rem 1rem;
}


/* News */

.widget_school_tabs .tab-content .tab-content-news {
    position: relative;
}

.news-wrapper .accordion {
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

.style-list-news .item_blog {
    border-bottom: 1px solid rgb(112 112 112 / 17%);
    border-radius: 0;
    background-color: #fff;
    margin-bottom: 0;
}

.style-list-news .item_blog .content_item_review {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
}

.style-list-news .item_blog .content_item_review .item_review_left {
    margin-right: 1rem;
}

.style-list-news .item_blog .content_item_review figure {
    margin-bottom: 1rem;
}

.style-list-news .item_blog .content_item_review figure img {
    height: 170px;
    width: 250px;
    border-radius: 9px;
    object-fit: cover;
}

.style-list-news .item_blog .content_item_review .item_review_left .rate-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.style-list-news .item_blog .content_item_review .item_review_left .stars-rating .rating__item i {
    font-size: 14px;
}

.style-list-news .item_blog .content_item_review .item_review_left .stars-rating .rating__item.active i {
    color: #ffa700;
}

.style-list-news .item_blog .content_item_review .item_review_left .rate-header .rate-count {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #1C1C1C;
    margin-left: 10px;
}

.style-list-news .item_blog .content_item_review .inner_item_review h4 {
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.style-list-news .item_blog .content_item_review .inner_item_review p {
    color: #757575;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    display: block;
}

.style-list-news .item_blog .content_item_review .inner_item_review .btn {
    background: var(--second);
    border-radius: 10px;
    color: #fff;
    font-weight: normal;
    font-size: 13px;
    font-family: Poppins;
    padding: 7px 17px;
}

.style-list-news .item_blog .content_item_review .inner_item_review .btn:hover {
    background: var(--main);
}

@media screen and (max-width:400px) {
    .style-list-news .item_blog .content_item_review {
        display: block;
        text-align: center;
    }
    .style-list-news .item_blog .content_item_review .item_review_left {
        margin-right: 0;
    }
    .style-list-news .item_blog .content_item_review .item_review_left .rate-header {
        justify-content: center;
    }
}

.style-list-news .item_blog .footer_item_review {
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
}

.style-list-news .item_blog .footer_item_review .date_time {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
}

.style-list-news .item_blog .footer_item_review ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.style-list-news .item_blog .footer_item_review ul li {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
}

.style-list-news .item_blog .footer_item_review ul li i {
    color: var(--second);
    font-size: 16px;
    margin-right: 5px;
}

.style-list-news .item_blog .footer_item_review ul li span {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    color: #757575;
}

@media screen and (max-width:992px) {
    .style-list-news .item_blog .content_item_review figure img {
        height: 120px;
        width: 200px;
        border-radius: 9px;
        object-fit: cover;
    }
}

.comments-wrapper {
    position: relative;
}

.style-list-comments {
    padding-left: 1rem;
}

.style-list-comments .item_comment {
    border-bottom: 1px solid rgb(112 112 112 / 17%);
    border-radius: 0;
    background-color: #fff;
    margin-bottom: 0;
}

.style-list-comments .item_comment .content_item_review {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
}

.style-list-comments .item_comment .content_item_review .item_review_left {
    margin-right: 1rem;
}

.style-list-comments .item_comment .content_item_review figure {
    margin-bottom: 1rem;
}

.style-list-comments .item_comment .content_item_review figure img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.style-list-comments .item_comment .content_item_review .item_review_left .rate-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.style-list-comments .item_comment .content_item_review .item_review_left .stars-rating .rating__item i {
    font-size: 14px;
}

.style-list-comments .item_comment .content_item_review .item_review_left .stars-rating .rating__item.active i {
    color: #ffa700;
}

.style-list-comments .item_comment .content_item_review .item_review_left .rate-header .rate-count {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #1C1C1C;
    margin-left: 10px;
}

.style-list-comments .item_comment .content_item_review .inner_item_review h4 {
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.style-list-comments .item_comment .content_item_review .inner_item_review p {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 0;
}

.style-list-comments .item_comment.item_form_comment .content_item_review {
    align-items: flex-start;
}

.style-list-comments .item_comment.item_form_comment .content_item_review .btn {
    font-size: 13px;
    /* white-space: nowrap; */
    margin-left: 1rem;
}

.style-list-comments .item_comment.item_form_comment .content_item_review .inner_item_review {
    width: 100%;
}

.style-list-comments .item_comment.item_form_comment .content_item_review .inner_item_review textarea {
    border: 1px solid #B2B2B2;
    border-radius: 15px;
    font-size: 15px;
    min-height: 55px;
}

@media screen and (max-width:400px) {
    .style-list-comments .item_comment .content_item_review {
        display: block;
        text-align: center;
    }
    .style-list-comments .item_comment .content_item_review .item_review_left {
        margin-right: 0;
    }
    .style-list-comments .item_comment .content_item_review .item_review_left .rate-header {
        justify-content: center;
    }
}

.style-list-comments .item_comment .footer_item_review {
    padding: .5rem .5rem 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
}

.style-list-comments .item_comment .footer_item_review .date_time {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
}

.style-list-comments .item_comment .footer_item_review ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.style-list-comments .item_comment .footer_item_review ul li {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
}

.style-list-comments .item_comment .footer_item_review ul li i {
    color: var(--second);
    font-size: 16px;
    margin-right: 5px;
}

.style-list-comments .item_comment .footer_item_review ul li span {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    color: #757575;
}

@media screen and (max-width:992px) {
    .style-list-comments .item_comment .content_item_review figure img {
        height: 50px;
        width: 50px;
    }
}

.widget_school_tabs .tab-content .tab-content-gallery {
    position: relative;
}

.style-list-gallery {
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

.style-list-gallery .item_gallery_img {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.style-list-gallery .item_gallery_img::before {
    content: '';
    background-color: rgb(31 84 146 / 35%);
    transition: all .5s ease-in-out;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: none;
    pointer-events: none;
    cursor: pointer;
}

.style-list-gallery .item_gallery_img:hover::before {
    display: block;
}

.style-list-gallery .item_gallery_img img {
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
    /* height: 300px; */
}

.style-list-gallery .item_gallery_img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.style-list-gallery .item_gallery_img .imagebox-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 10px 0px;
    z-index: 2;
    display: none;
    pointer-events: none;
    cursor: pointer;
}

.style-list-gallery .item_gallery_img:hover .imagebox-content {
    display: block;
}

.style-list-gallery .item_gallery_img .imagebox-content h2 {
    font-family: Poppins;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.style-list-gallery .item_gallery_img .imagebox-content .date {
    font-family: Poppins;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    display: block;
}

.style-list-gallery .item_gallery_img .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    color: var(--main);
}

.style-list-gallery .item_gallery_img .video-icon .video-btn {
    border-radius: 50%;
    padding: 0;
    text-align: center;
}

.style-list-gallery .item_gallery_img .video-icon .video-btn i {
    font-size: 3rem;
    color: #fff;
}


/* Tab reviews */

.widget_school_tabs .tab-content .tab-content-reviews {
    position: relative;
}

.reviews-wrapper .accordion {
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

.style-list-reviews .item_blog {
    border-bottom: 1px solid rgb(112 112 112 / 17%);
    border-radius: 0;
    background-color: #fff;
    margin-bottom: 0;
}

.style-list-reviews .item_blog .content_item_review {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
}

.style-list-reviews .item_blog .content_item_review .item_review_left {
    margin-right: 1rem;
}

.style-list-reviews .item_blog .content_item_review figure {
    margin-bottom: 1rem;
}

.style-list-reviews .item_blog .content_item_review figure img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.style-list-reviews .item_blog .content_item_review .item_review_left .rate-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.style-list-reviews .item_blog .content_item_review .item_review_left .stars-rating .rating__item i {
    font-size: 14px;
}

.style-list-reviews .item_blog .content_item_review .item_review_left .stars-rating .rating__item.active i {
    color: #ffa700;
}

.style-list-reviews .item_blog .content_item_review .item_review_left .rate-header .rate-count {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #1C1C1C;
    margin-left: 10px;
}

.style-list-reviews .item_blog .content_item_review .inner_item_review .head_item_review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .655rem;
}

.style-list-reviews .item_blog .content_item_review .inner_item_review h4 {
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

.style-list-reviews .item_blog .content_item_review .inner_item_review .stars-rating .rating__item i {
    font-size: 14px;
}

.style-list-reviews .item_blog .content_item_review .inner_item_review .stars-rating .rating__item.active i {
    color: #ffa700;
}

.style-list-reviews .item_blog .content_item_review .inner_item_review p {
    color: #757575;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 0;
}

@media screen and (max-width:400px) {
    .style-list-reviews .item_blog .content_item_review {
        display: block;
        text-align: center;
    }
    .style-list-reviews .item_blog .content_item_review .item_review_left {
        margin-right: 0;
    }
    .style-list-reviews .item_blog .content_item_review .item_review_left .rate-header {
        justify-content: center;
    }
}

.style-list-reviews .item_blog .footer_item_review {
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
}

.style-list-reviews .item_blog .footer_item_review .date_time {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
}

.style-list-reviews .item_blog .footer_item_review ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.style-list-reviews .item_blog .footer_item_review ul li {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
}

.style-list-reviews .item_blog .footer_item_review ul li i {
    color: var(--second);
    font-size: 16px;
    margin-right: 5px;
}

.style-list-reviews .item_blog .footer_item_review ul li span {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    color: #757575;
}

@media screen and (max-width:992px) {
    .style-list-reviews .item_blog .content_item_review figure img {
        height: 40px;
        width: 40px;
    }
}

.wrapper-review-form {
    margin-bottom: 35px;
    margin-top: 35px;
}

.wrapper-review-form .item_comment {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 10px;
    margin-bottom: 0;
}

.wrapper-review-form .item_comment .content_item_review {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
}

.wrapper-review-form .item_comment .content_item_review .item_review_left {
    margin-right: 1rem;
}

.wrapper-review-form .item_comment .content_item_review figure {
    margin-bottom: 1rem;
}

.wrapper-review-form .item_comment .content_item_review figure img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper-review-form .item_comment .content_item_review .item_review_left .rate-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.wrapper-review-form .item_comment .content_item_review .item_review_left .stars-rating .rating__item i {
    font-size: 14px;
}

.wrapper-review-form .item_comment .content_item_review .item_review_left .stars-rating .rating__item.active i {
    color: #ffa700;
}

.wrapper-review-form .item_comment .content_item_review .item_review_left .rate-header .rate-count {
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #1C1C1C;
    margin-left: 10px;
}

.wrapper-review-form .item_comment.item_form_comment .content_item_review {
    align-items: flex-start;
}

.wrapper-review-form .item_comment.item_form_comment .content_item_review .btn {
    font-size: 13px;
    /* white-space: nowrap; */
    margin-left: 1rem;
}

.wrapper-review-form .item_comment.item_form_comment .content_item_review .inner_item_review {
    width: 100%;
}

.wrapper-review-form .item_comment.item_form_comment .content_item_review .inner_item_review .stars-rating {
    margin-bottom: 1rem;
}

.wrapper-review-form .item_comment.item_form_comment .content_item_review .inner_item_review .stars-rating .rating__item i {
    font-size: 18px;
}

.wrapper-review-form .item_comment.item_form_comment .content_item_review .inner_item_review .stars-rating .rating__item.active i {
    color: #FFA700;
}

.wrapper-review-form .item_comment.item_form_comment .content_item_review .inner_item_review textarea {
    border: 1px solid rgb(112 112 112 / 17%);
    border-radius: 15px;
    font-size: 15px;
    min-height: 114px;
}

@media screen and (max-width:400px) {
    .wrapper-review-form .item_comment .content_item_review {
        display: block;
        text-align: center;
    }
    .wrapper-review-form .item_comment .content_item_review .item_review_left {
        margin-right: 0;
    }
    .wrapper-review-form .item_comment .content_item_review .item_review_left .rate-header {
        justify-content: center;
    }
}

.wrapper-review-form .item_comment .footer_item_review {
    padding: .5rem .5rem 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.wrapper-review-form .item_comment .footer_item_review .btn {
    font-size: 13px;
    margin-left: 1rem;
}

@media screen and (max-width:992px) {
    .wrapper-review-form .item_comment .content_item_review figure img {
        height: 50px;
        width: 50px;
    }
}


/* Tab Jobs */

.widget_school_tabs .tab-content .tab-content-jobs {
    position: relative;
}

.jobs-wrapper .accordion {
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

.style-list-jobs .item_blog {
    border-bottom: 1px solid rgb(112 112 112 / 17%);
    border-radius: 0;
    background-color: #fff;
    margin-bottom: 0;
}

.style-list-jobs .item_blog .content_item_review {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
}

.style-list-jobs .item_blog .content_item_review .inner_item_review .head_item_review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .655rem;
}

.style-list-jobs .item_blog .content_item_review .inner_item_review h4 {
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 0;
}

.style-list-jobs .item_blog .content_item_review .inner_item_review p {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 0;
    text-align: justify;
}

@media screen and (max-width:400px) {
    .style-list-jobs .item_blog .content_item_review {
        display: block;
        text-align: center;
    }
}

.style-list-jobs .item_blog .footer_item_review {
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
}

.style-list-jobs .item_blog .footer_item_review .date_time {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    display: block;
    margin-bottom: 0;
}

.style-list-jobs .item_blog .footer_item_review ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

.style-list-jobs .item_blog .footer_item_review .btn {
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
}