<template>
  <div class="">
    <all-suppler-header />
    <supplier-single-header />
    <div class="school-single-inner school-sidebar-inner container">
      <div class="school-single-header">
        <div class="row">
          <div class="col-sm-12 list-content-school col-lg-7 col-md-12">
            <div class="school-detail-description">
              <widget-supplier-tab />
            </div>
          </div>
          <div class="col-sm-12 col-lg-4 col-md-12 offset-lg-1 offset-0">
            <div class="sidebar sidebar-school">
              <photos-supplier />
              <latest-product-supplier />
              <communicate></communicate>
              <supplier-map />
              <report-account></report-account>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AllSupplerHeader from '~/components/supplierHome/allSupplerHeader.vue'
import SupplierSingleHeader from '~/components/supplierHome/suppliersProfile/supplierSingleHeader.vue'
import WidgetSupplierTab from '~/components/supplierHome/suppliersProfile/widgetSupplierTab.vue'
import PhotosSupplier from '~/components/supplierHome/suppliersProfile/photosSupplier.vue'

import SchoolDetailInfo from '~/components/pschools/schoolDetailInfo.vue'
import SchoolDetailReviews from '~/components/pschools/schoolDetailReviews.vue'

import Photos from '~/components/pschools/photos.vue'

import Reviews from '~/components/pschools/reviews.vue'
import Communicate from '~/components/pschools/communicate.vue'

import ReportAccount from '~/components/pschools/reportAccount.vue'
import LatestProductSupplier from '~/components/supplierHome/suppliersProfile/latestProductSupplier.vue'
import SupplierMap from '~/components/supplierHome/suppliersProfile/supplierMap.vue'
export default {
  layout: 'supplier',
  components: {
    AllSupplerHeader,
    SupplierSingleHeader,
    WidgetSupplierTab,
    PhotosSupplier,
    SchoolDetailInfo,
    SchoolDetailReviews,
    Photos,
    Reviews,
    Communicate,
    ReportAccount,
    LatestProductSupplier,
    SupplierMap,
  },
}
</script>

<style>
.widget {
  margin-bottom: 30px;
  position: relative;
  padding: 0px;
  background: transparent;
}

.widget .title {
  position: relative;
  margin: 0 0 20px 0;
}

.school-single-inner {
  padding: 20px 0;
}

@media (min-width: 1200px) {
  .school-single-inner {
    padding: 60px 0 40px 0;
  }
}

.school-detail-description {
  padding: 20px 0;
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.school-detail-header .school-detail-buttons > *:last-child {
  margin-right: 0;
}

@media (min-width: 1200px) {
  .school-detail-description {
    padding: 30px 0 40px 0;
  }
}

.school-detail-description .title,
.sidebar-school .title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #404040;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #b2b2b2;
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: 1.7;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  line-height: normal;
  color: #b2b2b2;
  text-decoration: none;
}

.breadcrumb .breadcrumb-item.active {
  color: #545454;
}

/* .school-detail-description .title:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 2px;
    background-color: #667488;
    margin-left: 7px;
} */

.school-detail-description p {
  margin: 0 0 13px;
  margin-bottom: 20px;
}

.school-detail-description > ol,
.school-detail-description ul {
  padding: 0;
  list-style-position: inside;
  margin: 0 0 20px;
}

.school-detail-description > ol li,
.school-detail-description ul li {
  margin-bottom: 5px;
}

.school-detail-description > div {
  margin-bottom: 35px;
  margin-top: 35px;
}

.school-detail-description > div .title {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .school-detail-description .title + div {
    padding-right: 30px;
  }
}

:root {
  --main: #4f9884;
  --second: #2cc29b;
}

body {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.btn-theme {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(23 123 123 / 25%);
}

/* custom select */

.select2 {
  width: 100% !important;
}

.select2-selection__rendered {
  line-height: 34px !important;
  padding-right: 8px !important;
  padding-left: 20px !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
  background: transparent;
  border: 1px solid #7e7373;
  transition: 0.5s;
  height: calc(1.5em + 0.75rem + 20px);
  padding: 8px 25px 8px 25px;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.select2-selection__arrow {
  height: 37px;
  right: auto;
  left: 1px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #0159a3;
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--main);
  color: #fff;
}

.select2-dropdown {
  z-index: 100;
  -webkit-box-shadow: 0px 4px 4px #00669950;
  box-shadow: 0px 4px 4px #00669950;
}

.select2-search--dropdown .select2-search__field {
  -webkit-box-shadow: 0px 4px 4px #00669950;
  box-shadow: 0px 4px 4px #00669950;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.page-content {
  padding: 70px 0;
}

.stars-rating .star-rating {
  /* margin-top: .5rem; */
  text-align: center;
  display: flex;
  align-items: center;
}

.rating__item {
  margin-right: 2px;
}

.stars-rating .star-rating .rating__item:last-child {
  margin-right: 0;
}

.rating__item i {
  color: #d9d9d9;
}

.rating__item.active i {
  color: #f2cf1e;
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(44 194 155 / 25%);
}
</style>
