<template>
  <div class="">
    <div class="container mb-5">
      <div class="row">
        <div class="mt-3">
          <nav aria-label="breadcrumb" class="tabs">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/supplers/suppler/_id">
                <li class="breadcrumb-item">
                  <a>Profile <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/supplers/suppler/_id">
                <li class="breadcrumb-item active" aria-current="page">
                  Comparison
                </li>
              </NuxtLink>
            </ol>
          </nav>
        </div>

        <div class="row row-cols-4 d-flex .align-items-center mt-5">
          <table class="table table-striped text-center">
            <thead class="tableHead text-center">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">
                  <div class="position-relative">
                    <img
                      src="/assets/image/Bitmap-6.png"
                      alt=""
                      class="schoolLogo"
                    />
                    <button
                      type="submit"
                      class="cancle position-absolute top-0 end-0"
                    >
                      <i class="fas fa-times"></i></button
                    ><br />
                    <span>West Avenue International School</span>
                  </div>
                </th>
                <th scope="col">
                  <div class="position-relative">
                    <img
                      src="/assets/image/Bitmap-4.png"
                      alt=""
                      class="schoolLogo"
                    />
                    <button
                      type="submit"
                      class="cancle position-absolute top-0 end-0"
                    >
                      <i class="fas fa-times"></i></button
                    ><br />
                    <span>West Avenue International School</span>
                  </div>
                </th>
                <th scope="col">
                  <div class="position-relative">
                    <img
                      src="/assets/image/Bitmap-5.png"
                      alt=""
                      class="schoolLogo"
                    />
                    <button
                      type="submit"
                      class="cancle position-absolute top-0 end-0"
                    >
                      <i class="fas fa-times"></i></button
                    ><br />
                    <span>West Avenue International School</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <th scope="row ">Price</th>
                <td>50$</td>
                <td>70$</td>
                <td>60$</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">Rating</th>
                <td class="">
                  <div class="">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="">
                  <div class="">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row ">Brand</th>
                <td>Beech Wood</td>
                <td>Pine Wood</td>
                <td>Oak Wood</td>
              </tr>
              <tr class="rowColor">
                <th scope="row ">Supplier</th>
                <td>Supplier 1</td>
                <td>Supplier 2</td>
                <td>Supplier 3</td>
              </tr>
              <tr>
                <th scope="row ">Country Of Origin</th>
                <td>Egypt</td>
                <td>Chinese</td>
                <td>American</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">Warranty</th>
                <td>5 years</td>
                <td>6 years</td>
                <td>7 years</td>
              </tr>

              <tr class="rowColor">
                <th scope="row">Supplier Profile</th>
                <td>
                  <show-profile-button />
                </td>
                <td>
                  <show-profile-button />
                </td>
                <td>
                  <show-profile-button />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showProfileButton from '~/components/global/showProfileButton.vue'
export default {
  layout: 'supplier',
  components: {
    showProfileButton,
  },
}
</script>

<style>
.schoolLogo {
  width: 100px;
  border-radius: 50%;
}

.cancle {
  background-color: #dd2222;
  color: #eee;
  border: transparent;
  margin-top: 0;
}
.Comparison {
  background-color: var(--second);
  border: transparent;
  color: #eee;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 30px;
}
.search {
  width: 75%;
}
tr {
  height: 100px;
  text-align: center;
}

.rowColor {
  border: 1px solid var(--second);
}
.tableHead {
  background-color: var(--second);
  color: #eee;
}
</style>
