<template>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="mt-3">
          <nav aria-label="breadcrumb" class="tabs">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/supplers/suppler/_id">
                <li class="breadcrumb-item">
                  <a>Profile <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/supplers/suppler/_id">
                <li class="breadcrumb-item active" aria-current="page">
                  Comparison
                </li>
              </NuxtLink>
            </ol>
          </nav>
        </div>
        <div class="product-card">
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-12">
              <img src="/assets/image/Bitmap-6.png" alt="" class="schoolLogo" />
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12">
              <div class="container">
                <div class="datials">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="taitle">Great Sofa name is here</h2>
                      <p class="price">
                        $815.00<span class="before">/654.00$</span>
                      </p>
                      <div class="row">
                        <div class="d-flex justify-content-between">
                          <div class="stars-rating d-flex">
                            <div class="star-rating">
                              <span class="rating__item active"
                                ><i class="fas fa-star"></i
                              ></span>
                              <span class="rating__item active"
                                ><i class="fas fa-star"></i
                              ></span>
                              <span class="rating__item active"
                                ><i class="fas fa-star"></i
                              ></span>
                              <span class="rating__item"
                                ><i class="fas fa-star"></i
                              ></span>
                              <span class="rating__item"
                                ><i class="fas fa-star"></i
                              ></span>
                            </div>
                            <span class="reviews ms-3">132 reviews</span>
                          </div>

                          <div class="order-num">
                            <span class="order"
                              ><i class="fas fa-cart-plus"></i>154 Order</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">spiner</div>
                  </div>
                  <div class="content mt-4">
                    <h3 class="mb-3">About Product</h3>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      At porro suscipit laudantium atque qui, laborum illum?
                      Perferendis aliquid at ea nobis blanditiis consectetur
                      atque labore. Beatae voluptatem architecto itaque quas.
                    </p>
                    <h3 class="mb-3">Specification</h3>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      At porro suscipit laudantium atque qui, laborum illum?
                      Perferendis aliquid at ea nobis blanditiis consectetur
                      atque labore. Beatae voluptatem architecto itaque quas.
                    </p>
                  </div>
                  <div class="row my-4">
                    <div class="d-flex">
                      <a class="tob-btn">Chirs</a>
                      <a class="tob-btn">Curricular</a>
                      <a class="tob-btn">School</a>
                      <a class="tob-btn">Company</a>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Quantity</h3>
                    <div class="quantity">
                      <b-input-group>
                        <b-input-group-prepend>
                          <b-btn class="q-btn" @click="decrement()">-</b-btn>
                        </b-input-group-prepend>

                        <b-form-input
                          type="number"
                          min="0.00"
                          :value="quantity"
                        ></b-form-input>

                        <b-input-group-append>
                          <b-btn class="q-btn" @click="increment()">+</b-btn>
                        </b-input-group-append>
                      </b-input-group>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <a class="btnn btn-theme py-2">Make Order</a>
                    <a class="btnn btn-theme py-2">Contact With Supplier</a>
                    <a class="btnn btn-theme py-2">Add To Compare</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <products-block />
        <latest-reviews />
      </div>
    </div>
  </div>
</template>

<script>
import productsBlock from '~/components/supplierHome/productsBlock.vue'
import LatestReviews from '~/components/supplierHome/suppliersProfile/latestReviews.vue'
export default {
  layout: 'supplier',
  components: { productsBlock, LatestReviews },
  data() {
    return {
      quantity: 1,
    }
  },
  methods: {
    increment() {
      this.quantity++
    },
    decrement() {
      if (this.quantity === 1) {
        alert('Negative quantity not allowed')
      } else {
        this.quantity--
      }
    },
  },
}
</script>

<style scoped>
.tob-btn {
  color: var(--second);
  background-color: transparent;
  border: 1px solid var(--second);
  width: calc(70% / 4);
  margin-left: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
}
.schoolLogo {
  width: 100%;
}
.taitle {
  color: rgb(27, 26, 26);
}
.price {
  font-weight: bolder;
  margin-right: 15px;
  font-size: 28px;
}
.before {
  margin-left: 25px;
  font-size: 15px;
  color: rgb(131, 124, 124);
}
.order {
  color: rgb(59, 150, 78);
  font-weight: bolder;
  font-size: 18px;
}
.reviews {
  font-size: 16px;
  color: rgb(122, 116, 116);
}
.quantity {
  width: 30%;
}
.q-btn {
  background-color: transparent;
  color: var(--second);
  font-weight: bolder;
  border: 1px solid var(--second);
}
.btnn {
  width: calc(90% / 3);
  background-color: var(--second);
  border: 1px solid var(--second);
  color: #eee;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
</style>