<template>
  <div class="">
    <learn-header></learn-header>
    <div class="container">
      <div class="learningTab">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <nav aria-label="breadcrumb" class="tabs">
              <ol class="breadcrumb mb-0">
                <NuxtLink to="/"
                  ><li class="breadcrumb-item">
                    <a>Home <span class="ti-angle-right mx-3"></span></a></li
                ></NuxtLink>
                <NuxtLink to="/learn/"
                  ><li class="breadcrumb-item">
                    <a>Learn<span class="ti-angle-right mx-3"></span></a></li
                ></NuxtLink>
                <NuxtLink to="/">
                  <li class="breadcrumb-item active" aria-current="page">
                    Details
                  </li></NuxtLink
                >
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="row mb-5 mt-4">
        <div class="col-sm-12 col-lg-7 col-md-12" v-if="data">
          <div class="mb-4">
            <h3>{{ data.title }}</h3>
          </div>
          <div class="left-side">
            <h5>{{ data.subtitle }}</h5>
            <p>
              {{ data.body }}
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-12 offset-lg-1 offset-0">
          <div class="inner-box shadow p-3 mb-5 bg-body rounded">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-12">
                  <div class="d-flex justify-content-around">
                    <div class="imglogo">
                      <NuxtLink to="/">
                        <a class="">
                          <img
                            src="/assets/img/logo/logo.png"
                            alt=""
                            class="m-auto img"
                          />
                        </a>
                      </NuxtLink>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                  <h5 class="head">About EduX Egypt</h5>
                </div>
              </div>
              <div class="row">
                <p class="pt-2 parg">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                  accusantium eveniet voluptatem
                </p>
              </div>
            </div>
          </div>
          <h4 class="mb-5">Contact US</h4>
          <div class="inner-box shadow p-3 pb-5 mb-5 bg-body rounded">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="d-flex justify-content-around">
                    <div class="imglogo">
                      <NuxtLink to="/">
                        <a class="">
                          <img
                            src="/assets/img/logo/logo.png"
                            alt=""
                            class="m-auto img"
                          />
                        </a>
                      </NuxtLink>
                    </div>
                  </div>
                  <h6 class="py-3 text-center">
                    Contact with EduX Egypt Support
                  </h6>
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      placeholder="Leave a comment here"
                      id="floatingTextarea2"
                      style="height: 100px"
                    ></textarea>
                    <label for="floatingTextarea2" class="label">
                      Your Massage</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import learnHeader from '~/components/Learns/learnHeader.vue'
export default {
  name: 'index',
  components: {
    learnHeader,
  },
  data() {
    return {
      data: {},
    }
  },
  // async beforeCreate() {
  //   const { data } = await this.$axios.get(`learn/${this.$route.params.id}`)
  //   this.result = data
  //   console.log(data.result)
  // },
  mounted() {
    this.$axios.get(`learn/${this.$route.params.id}`).then((response) => {
      this.data = response.data
    })
  },

  // ///////////////
  // // async asyncData({ params, $http }) {
  // //   const blog = await $http.$get(`learn/${params.id}`)
  // //   return { blog }
  // // },
  // async beforeCreate() {
  //   const { data } = await this.$axios.get(`learn/${this.$route.params.id}`)
  //   this.result = data
  // },
}
</script>

<style>
.learningTab {
  margin-top: 35px;
}

.school-block-grid .inner-box {
  position: relative;
  overflow: hidden;
  /* padding: 10px; */
  border-radius: 10px;
  background: #ffffff;
}
.imglogo {
  border-radius: 50%;
  border: 1px solid var(--second);
  height: 75px;
}
.img {
  height: 70px;
  width: 125px;
  padding: 5px;
}
.head {
  padding-top: 30px;
  padding-left: 10px;
  color: rgb(53, 52, 52);
}
.parg {
  color: rgb(156, 154, 154);
}
.label {
  color: rgb(177, 175, 175);
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(42 133 124 / 25%);
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
  font-size: 20px;
}
.left-side {
  color: #6a6565;
}
a {
  text-decoration: none;
}
</style>

