<template>
  <div class="">
    <div class="login-page">
      <div class="container">
        <div class="row">
          <div class="mb-2 position-relative">
            <NuxtLink to="/">
              <Button
                type="button"
                class="closebtn position-absolute top-0 start-0"
                ><i class="fas fa-chevron-left"></i>Back to Home</Button
              ></NuxtLink
            >
          </div>
          <div class="col-md-6 order-md-2 right-img">
            <div class="head">
              <h3 class="welcome">Welcome to <strong>EduXEgypt</strong></h3>
              <p>Sign up to Enjoy EduXEgypt services</p>
            </div>
            <img
              src="/assets/img/login/undraw_file_sync_ot38.svg"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4 justify-content-center">
                  <img
                    src="/assets/img/logo/logo.png"
                    alt=""
                    class="mx-auto d-flex justify-content-between"
                  />
                  <h3 class="text-center">Sign in for parent</h3>
                </div>
                <ValidationObserver v-slot="{ handleSubmit }">
                  <form
                    @submit.prevent="handleSubmit(login)"
                    method="post"
                    role="form"
                  >
                    <div v-if="error" class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                    <div class="form-group first">
                      <label class="col-md-3 control-label"></label>
                      <ValidationProvider
                        name="E-mail"
                        rules="required|email"
                        v-slot="{ errors }"
                      >
                        <input
                          type="email"
                          name="email"
                          class="form-control input-group"
                          id="email"
                          v-model="form.email"
                          placeholder="Email"
                          v-validate="'required'"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                    </div>
                    <div class="form-group last mb-4">
                      <ValidationProvider
                        name="E-mail"
                        rules="required"
                        v-slot="{ errors }"
                      >
                        <input
                          type="password"
                          name="password"
                          class="form-control input-group"
                          id="password"
                          v-model="form.password"
                          placeholder="Password"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                    </div>

                    <div class="d-flex mb-5 align-items-center">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="inlineFormCheck"
                        />
                        <label class="form-check-label" for="inlineFormCheck">
                          Remember me
                        </label>
                      </div>

                      <NuxtLink to="/forgetPassword">
                        <span class="ml-auto forget"
                          ><a class="forgot-pass"
                            >Forgot Password your password?</a
                          >
                        </span>
                      </NuxtLink>
                    </div>

                    <input
                      type="submit"
                      value="Log In"
                      class="btn text-white btn-block btn-primary login"
                    />

                    <span class="d-block text-left my-4 text-muted text-center">
                      or sign in with</span
                    >

                    <div class="social-login">
                      <a href="#" class="facebook">
                        <span class="ti-facebook mr-3"></span>
                      </a>
                      <a href="#" class="twitter">
                        <span class="ti-linkedin mr-3"></span>
                      </a>
                      <a href="#" class="google">
                        <span class="ti-google mr-3"></span>
                      </a>
                    </div>
                    <p class="haveAcc mt-3 text-center">
                      You do not have account?<span
                        >regester parent account</span
                      >
                    </p>
                  </form>
                </ValidationObserver>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  auth: 'guest',
  data() {
    return {
      form: {
        isLoading: true,
        email: '',
        password: '',
      },
      error: null,
    }
  },

  methods: {
    async login() {
      try {
        this.isLoading = true
        let response = await this.$auth.loginWith('local', {
          data: { email: this.form.email, password: this.form.password },
        })
        console.log(response)

        this.isLoading = false
        this.$router.push('/')
      } catch (e) {
        this.error = "Credentials didn't match our records"
        console.log('error: ', e)
        this.isLoading = false
        this.$toast.error(this.$t('login_not_valid'))
      }
    },
  },
}
</script>

<style scoped >
.error {
  display: block;
  color: red;
}
.right-img {
  background-color: var(--main);
}

.login {
  width: 100%;
  background-color: var(--second);
  border-color: var(--second);
}

.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.login-page {
}

.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
}

.forget {
  margin-left: 110px;
}

.social-login a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: calc(90% / 3);
  height: 50px;
  border-radius: 10%;
  display: inline-block;
  margin-right: 5px;
}

.social-login a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.head {
  text-align: center;
  margin: 80px 0 30px;
  color: #eee;
}

.welcome {
  font-size: 35px;
  font-weight: 300;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}
.google {
  background-color: #db4437;
}
.haveAcc {
  color: #8f9399;
}
.haveAcc span {
  color: var(--second);
  margin-left: 5px;
  font-weight: bold;
}
</style>
