<template>
  <div class="">
    <div class="login-page">
      <div class="container">
        <div class="row">
          <div class="mb-2 position-relative">
            <NuxtLink to="/">
              <Button
                type="button"
                class="closebtn position-absolute top-0 start-0"
                ><i class="fas fa-chevron-left"></i>Back to Home</Button
              ></NuxtLink
            >
          </div>
          <div class="col-md-6 order-md-2 right-img">
            <div class="head">
              <h3 class="welcome">Welcome to <strong>EduXEgypt</strong></h3>
              <p>Sign up to Enjoy EduXEgypt services</p>
            </div>
            <img
              src="/assets/img/login/undraw_file_sync_ot38.svg"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4 justify-content-center">
                  <img
                    src="/assets/img/logo/logo.png"
                    alt=""
                    class="mx-auto d-flex justify-content-between"
                  />
                  <h3 class="text-center">Register New Account</h3>
                </div>

                <form @submit.prevent="signup">
                  <div class="radioblock d-flex justify-content-between mb-3">
                    <div class="form-check form-check-inline text-start">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="type"
                        checked="checked"
                        id="Parent"
                        value="2"
                        v-model="form.type"
                      />
                      <label class="form-check-label">Parent</label>
                    </div>
                    <div class="form-check form-check-inline text-center">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="type"
                        id="School"
                        value="4"
                        v-model="form.type"
                      />
                      <label class="form-check-label">School</label>
                    </div>
                    <div class="form-check form-check-inline text-end">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="type"
                        id="Supplier"
                        value="3"
                        v-model="form.type"
                      />
                      <label class="form-check-label">Supplier</label>
                    </div>
                  </div>
                  <!--
                  <div class="input-group mb-3">
                    <select
                      class="dropdown btn form-select"
                      v-model="pref"
                      :value="mr"
                      name="pref"
                    >
                      <option value="mr"><label>Mr</label></option>

                      <option value="ms">Ms</option>
                    </select>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      :required="true"
                      aria-label="Text input with dropdown button"
                      v-model="name"
                    />
                  </div>
                  -->
                  <div class="form-group first">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      :required="true"
                      id="name"
                      placeholder="name"
                      v-model="form.name"
                    />
                  </div>
                  <div class="form-group first">
                    <input
                      type="text"
                      name="email"
                      class="form-control"
                      :required="true"
                      id="email"
                      placeholder="email"
                      v-model="email"
                    />
                  </div>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      name="phone"
                      :required="true"
                      class="form-control"
                      aria-label="Text input with dropdown button"
                      v-model="form.phone"
                      placeholder="Phone Number"
                    />
                  </div>

                  <div class="form-group last mb-4">
                    <input
                      type="text"
                      name="governorate"
                      :required="true"
                      class="form-control"
                      id="governorate"
                      placeholder="Governorate"
                      v-model="form.governorate"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      type="text"
                      name="nationality"
                      :required="true"
                      class="form-control"
                      id="nationality"
                      placeholder="nationality"
                      v-model="form.nationality"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      type="text"
                      name="city"
                      class="form-control"
                      id="city"
                      :required="true"
                      placeholder="City"
                      v-model="form.city"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      type="text"
                      name="address"
                      :required="true"
                      class="form-control"
                      id="address"
                      placeholder="Address"
                      v-model="form.address"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      type="password"
                      name="password"
                      :required="true"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                      v-model="form.password"
                    />
                  </div>
                  <div class="form-group last mb-4">
                    <input
                      type="password"
                      :required="true"
                      name="password_confirmation"
                      class="form-control"
                      id="confirm password"
                      placeholder="Confirm Password"
                      v-model="form.password_confirmation"
                    />
                  </div>

                  <input
                    type="submit"
                    value="Register"
                    class="btn text-white btn-block btn-primary login"
                  />

                  <span class="d-block text-left my-4 text-muted text-center">
                    or with</span
                  >

                  <div class="social-login">
                    <a href="#" class="facebook">
                      <span class="ti-facebook mr-3"></span>
                    </a>
                    <a href="#" class="twitter">
                      <span class="ti-linkedin mr-3"></span>
                    </a>
                    <a href="#" class="google">
                      <span class="ti-google mr-3"></span>
                    </a>
                  </div>
                  <p class="haveAcc mt-3 text-center">
                    Already Have An Account?<span>Sign in</span>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  auth: 'guest',
  data() {
    return {
      isLoading: true,
      form: {
        pref: '',
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        governorate: '',
        phone: '',
        city: '',
        address: '',
        nationality: '',
        type: '',
      },
    }
  },

  //register

  methods: {
    async signup(form) {
      try {
        let data = await this.$axios.post('register', new FormData(form.target))
        // console.log(res)
        this.$store.dispatch('snackbar/setSnackbar', {
          text: 'Thanks for signing in, ${this.$auth.user.name}',
        })
        this.isLoading = false
        await this.$auth.loginWith('local', {
          data: {
            email: form.target.email.value,
            password: form.target.password.value,
          },
        })
        console.log(data)
        this.$router.push('/')
      } catch (e) {
        this.isLoading = false
        console.log(e.message)
      }
    },
  },
}
</script>

<style scoped>
.error {
  display: block;
  color: red;
}
.right-img {
  background-color: var(--main);
}

.login {
  width: 100%;
  background-color: var(--second);
  border-color: var(--second);
}

.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}
.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
}

.forget {
  margin-left: 110px;
}

.social-login a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: calc(90% / 3);
  height: 50px;
  border-radius: 10%;
  display: inline-block;
  margin-right: 5px;
}

.social-login a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.head {
  text-align: center;
  margin: 80px 0 30px;
  color: #eee;
}

.welcome {
  font-size: 35px;
  font-weight: 300;
}

.form-select {
  height: 38px;
  max-width: 85px;
  border: 1px solid var(--second);
  color: #5f676d;
}

.form-select:hover,
.form-select:active {
  border: 1px solid var(--second);
  background-color: var(--second);
  color: #eee;
}

.form-select li,
.form-select li:hover {
  background-color: var(--second);

  color: #eee;
}

.radioblock {
  margin-top: 30px;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}
.google {
  background-color: #db4437;
}
.haveAcc {
  color: #8f9399;
}
.haveAcc span {
  color: var(--second);
  margin-left: 5px;
  font-weight: bold;
}
</style>
