<template>
  <div class="">
    <div class="container">
      <div class="row">
        <nav aria-label="breadcrumb" class="tabs mb-5">
          <ol class="breadcrumb mb-0">
            <NuxtLink to="/"
              ><li class="breadcrumb-item">
                <a>Home <span class="ti-angle-right mx-3"></span></a></li
            ></NuxtLink>
            <NuxtLink to="/supplers/jobRequest/"
              ><li class="breadcrumb-item">
                <a
                  >Job Requests <span class="ti-angle-right mx-3"></span>
                </a></li
            ></NuxtLink>
          </ol>
        </nav>

        <div class="col-md-5 col-lg-4 col-sm-12">
          <img src="/assets/image/NoPath - Copy-1.png" alt="" class="jobImg" />
        </div>

        <div class="col-md-7 col-lg-8 col-sm-12">
          <div class="job">
            <div class="head_item_review">
              <h4 class="mb-3">.NET development</h4>
            </div>
            <p class="jobParg">
              Each child is required to bring a school bag and he/she will be
              required to take the text books and notebooks home daily and bring
              them back to school the following day. Any child who continually
              forgets to bring his/her book(s) to school will not be allowed to
              attend classes. All textbooks and notebooks issued to the child
              should be covered with brown paper or any other suitable paper.
              Newspapers should not be used. A separate plastic bag/container
              should be used to pack the child’s snacks or lunch. Please ensure
              that your child brings a pencil, ruler and an eraser to school
              daily. Lost pencils should be immediately replaced. Pencils may be
              deposited at the school with the classteacher. Students from Grade
              8 to 12 will be required to bring their own writing tools,
              mathematical instruments and calculators. All students will also
              be required to purchase their own dictionary, and atlas and “set
              books” for Literature for English and Sesotho.
            </p>
            <div class="footer_item_review d-flex">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col text-start">
                <span class="date_time"
                  >05:32:45 pm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8/9/2021</span
                >
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col text-end">
                <div class="buttons float-end">
                  <a class="btn btn-theme me-3"
                    ><i class="fas fa-download me-2"></i>Download</a
                  >
                  <a class="btn btn-theme">
                    <i class="fas fa-print me-2"></i>Print</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="row">
          <div class="table-responsive text-center d-flex align-items-center">
            <table class="table table-striped">
              <thead class="tableHead">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">CV</th>
                  <th scope="col">Profile</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
                <tr>
                  <td>Mohamed</td>
                  <td>Mohamed@gmail.com</td>
                  <td>011856984254</td>
                  <td><button class="upload"></button></td>
                  <td><a class="btn btn-theme">View Profile</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script >
export default {
  layout: 'supplier',
  components: {},
}
</script>

<style scoped>
.jobImg {
  width: 100%;
}
.actLink {
  color: #000;
}
.jobParg,
.date_time {
  color: rgb(121, 117, 117);
}

.btn,
.btn:hover {
  background-color: var(--second);
  border: 1px solid var(--second);
  border-radius: 5px;
  color: #eee;
}
.upload {
  width: 70px;
  height: 75px;
  background-image: url(/assets/svg/pdf.svg);
  border: transparent;
}
.tableHead {
  background-color: var(--second);
  color: #eee;
}
</style>