<template>
  <div class="">
    <!-- breadcromb area -->
    <section class="blog-breadcromb-area pb-md-0">
      <div class="breadcromb-top">
        <div class="container">
          <div class="row">
            <div class="breadcromb-box py-5">
              <h3>Application Requests</h3>
              <p>
                Suppliers Directory of Saudi Arabia cities : more than 1700 in
                Saudi Arabia With all the details of these schools and parents'
                evaluations on the schools, in addition to various pictures of
                buildings and activities for schools of Saudi Arabia . You can
                also communicate directly with any school in cities of Saudi
                Arabia through the methods of communication specific to each
                school.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <nav aria-label="breadcrumb" class="tabs my-5">
        <ol class="breadcrumb mb-0">
          <NuxtLink to="/"
            ><li class="breadcrumb-item">
              Home <span class="ti-angle-right mx-3"></span></li
          ></NuxtLink>
          <NuxtLink to="/schools/"
            ><li class="breadcrumb-item">
              Job Requests <span class="ti-angle-right mx-3"></span></li
          ></NuxtLink>
          <NuxtLink to="/schools/profile"
            ><li class="breadcrumb-item">Job Requests Details</li></NuxtLink
          >
        </ol>
      </nav>
      <div class="">
        <div class="row">
          <div class="col-sm-5">
            <div
              class="
                d-flex
                flex-column
                align-items-stretch
                flex-shrink-0
                bg-white
              "
              style="width: 380px"
            >
              <div class="list-group list-group-flush border-bottom scrollarea">
                <a
                  href="#"
                  class="list-group-item list-group-item-action py-3 lh-tight"
                  aria-current="true"
                >
                  <div
                    class="
                      d-flex
                      w-100
                      align-items-center
                      justify-content-between
                    "
                  >
                    <img
                      src="/assets/image/NoPath - Copy (47).png "
                      class="person list_card_photo"
                    />
                    <p class="mx-3 list_card_name">Mohamed Ahmed</p>
                    <span class="list_card_time">05:32:45 AM</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="d-flex align-items-center">
                <img
                  src="/assets/image/NoPath - Copy (47).png "
                  class="person"
                />
                <h3 class="mx-5">Mohamed Ahmed</h3>
                <div class="buttons">
                  <a class="rejected btn me-3">Rejected</a>
                  <a class="btn btn-theme"> Accepted</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="right-side">
                  <h3>Email</h3>
                  <h3>Phone</h3>
                  <h3>Child Name</h3>
                  <h3>Gender</h3>
                  <h3>Child's Birthday</h3>
                  <h3>Educational Level</h3>
                </div>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="left-side">
                  <h3>Mohamed@gmail.com</h3>
                  <h3>01123654951</h3>
                  <h3>Ahmed Mohamed</h3>
                  <h3>Gender</h3>
                  <h3>19/02/2019</h3>
                  <h3>Grade 2</h3>
                </div>
              </div>
              <div class="row">
                <div class="files">
                  <span class="single-file right"></span>
                  <span class="single-file left"></span>
                </div>
              </div>
              <div class="row">
                <div class="interviewDate">
                  <img src="/assets/image/Group 1784.png" alt="" />
                  <div class="">
                    <v-date-picker v-model="form.birthdate" mode="date">
                      <template v-slot="{ inputValue, inputEvents }">
                        <b-form-group>
                          <b-form-input
                            class="
                              rounded
                              focus:outline-none focus:border-green-300
                            "
                            :value="inputValue"
                            v-on="inputEvents"
                            id="birthdate"
                            name="birthdate"
                            placeholder="MM/DD/YYYY"
                          ></b-form-input>
                        </b-form-group>
                      </template>
                    </v-date-picker>
                  </div>
                </div>
                <div class="sendMsg">
                  <form
                    @submit.prevent="reportAccount"
                    action="#"
                    method="post"
                    class="mt-4"
                  >
                    <div class="inner_item_review">
                      <textarea
                        class="form-control mb-3"
                        name="reason"
                        id="reason"
                        v-model="form.reason"
                        placeholder=" Your Massage"
                      ></textarea>
                    </div>
                    <input
                      type="submit"
                      value="Send Message"
                      class="btn text-white btn-block btn-primary"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'supplier',
  data() {
    return {
      form: {
        isLoading: true,
        reason: '',
      },
    }
  },
  //reportAccount
  methods: {
    async reportAccount(form) {
      console.log(form)
      try {
        const res = await this.$axios.post('report', new FormData(form.target))
      } catch (e) {
        // this.error = "Credentials didn't match our records"
        console.log('error: ', e)
      }
    },
  },
}
</script>

<style scoped>
.blog-breadcromb-area {
  background-image: url(/assets/image/Group1816.png);
  height: 400px;
}

.btn,
.btn:hover {
  background-color: var(--second);
  border: 1px solid var(--second);
  border-radius: 5px;
  color: #eee;
}
.rejected,
.rejected:hover {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  color: #eee;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}
.person {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.list_card_photo {
  width: 75px;
  height: 75px;
}
.list_card_name {
  font-size: 22px;
  color: #1c1c1c;
  text-align: left;
}
.list_card_time {
  color: #757575;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0px;
}
.right-side > h3 {
  line-height: 50px;
}
.left-side > h3 {
  line-height: 50px;
  color: var(--second);
  padding-left: 20px;
}
</style>