<template>
  <div class="">
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div
        class="tab-pane fade"
        :class="{ active: current_index == 2, show: current_index == 2 }"
        id="nav-contact"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
      >
        <div class="container">
          <div class="div">
            <h2 class="form-head">Children's Data</h2>
            <h6 class="blockDescription">
              Enter Your Children's Data To Suggest Suitable Schools For Them
            </h6>
          </div>
          <form action="#" method="post" class="mt-4 px-4">
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Choose City</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Choose District</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>School Type</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Educational Level</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>School Curriculum</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Students</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Rate</option>
                <option value="1">ONE</option>
                <option value="2">TOW</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Academic Certificates</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>

            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Study Languages</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Accreditation Bodies</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>School Facilities</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Activities</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>School Fees</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>

            <input
              type="submit"
              value="Save"
              class="btn text-white btn-block btn-primary apply py-2 mt-3"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current_index: 2,
      tabs_count: 3,
    }
  },
}
</script>
<style scoped>
.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.login-page {
}

.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
}

.dropdownbtn {
  height: 38px;
  border: 1px solid var(--second);
}

.dropdownbtn:hover,
.dropdownbtn:checked {
  border: 1px solid var(--second);

  background-color: var(--second);

  color: #eee;
}

.dropdownbtn li:checked {
  background-color: var(--second);

  color: #eee;
}

.btn-outline-secondary.dropdown-toggle.show {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}

.radioblock {
  margin-top: 30px;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.school {
  width: 350px;
}

.apply,
.apply:hover {
  width: 100%;
  border-radius: 10px;
  background-color: var(--second);
  color: #eee;
  border: 1px solid var(--second);
}

.prag {
  color: rgb(134, 130, 130);
}

.slider {
  /* overwrite slider styles */
  width: 100%;
}

.form-select {
  color: #677078;
}
.form-head {
  color: var(--second);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
</style>
