<template>
  <div class="">
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div
        class="tab-pane fade"
        :class="{ active: current_index == 0, show: current_index == 0 }"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
      >
        <div class="span">
          <h2 class="header">Personal Data</h2>
          <form action="#" method="post" class="mt-4">
            <div class="form-group first">
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Full Name"
              />
            </div>
            <div class="form-group first">
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="email"
              />
            </div>
            <div class="input-group mb-3">
              <button
                class="btn btn-outline-secondary dropdown-toggle dropdownbtn"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                +02
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">+099</a></li>
                <li><a class="dropdown-item" href="#">+0000</a></li>
              </ul>
              <input
                type="text"
                class="form-control"
                aria-label="Text input with dropdown button"
                placeholder="Phone Number"
              />
            </div>
            <div class="input-group mb-3">
              <button
                class="btn btn-outline-secondary dropdown-toggle dropdownbtn"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                +02
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">+099</a></li>
                <li><a class="dropdown-item" href="#">+0000</a></li>
              </ul>
              <input
                type="text"
                class="form-control"
                aria-label="Text input with dropdown button"
                placeholder="What's Up Number"
              />
            </div>

            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Nationality</option>
                <option value="1">Egyption</option>
                <option value="2">Amarican</option>
                <option value="3">Fayomy</option>
              </select>
            </div>
            <div class="form-group first">
              <v-date-picker v-model="leaving_date" mode="date">
                <template v-slot="{ inputValue, inputEvents }">
                  <b-form-group>
                    <b-form-input
                      class="rounded focus:outline-none focus:border-green-300"
                      :value="inputValue"
                      v-on="inputEvents"
                      name="leaving_date"
                      placeholder="MM/DD/YYYY"
                    ></b-form-input>
                  </b-form-group>
                </template>
              </v-date-picker>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Governorate</option>
                <option value="1">cairo</option>
                <option value="2">giza</option>
                <option value="3">Fayomy</option>
              </select>
            </div>
            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>City</option>
                <option value="1">cairo</option>
                <option value="2">giza</option>
                <option value="3">october</option>
              </select>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
              <label for="floatingTextarea2">Location</label>
            </div>
            <input
              type="submit"
              value="Save"
              class="btn text-white btn-block btn-primary apply"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  data() {
    return {
      form: {
        firstname: '',
        lastname: '',
        email: '',
        username: '',
        password: '',
      },
      current_index: 0,
      tabs_count: 3,
    }
  },
  mounted() {
    console.log('mounted')
    this.form = this.$store.state.form
  },
  methods: {
    updateState() {
      this.$store.commit('setForm', this.form)
    },
  },
}
</script>
<style scoped>
.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;

  font-size: 12px;
  text-decoration: none;
}

.dropdownbtn {
  height: 38px;
  border: 1px solid var(--second);
}

.dropdownbtn:hover,
.dropdownbtn:checked {
  border: 1px solid var(--second);

  background-color: var(--second);

  color: #eee;
}

.dropdownbtn li:checked {
  background-color: var(--second);

  color: #eee;
}

.btn-outline-secondary.dropdown-toggle.show {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}

.radioblock {
  margin-top: 30px;
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.school {
  width: 350px;
}

.apply,
.apply:hover {
  width: 100%;
  border-radius: 10px;
  background-color: var(--second);
  color: #eee;
  border: 1px solid var(--second);
}

.prag {
  color: rgb(134, 130, 130);
}

.slider {
  /* overwrite slider styles */
  width: 100%;
}

.form-select {
  color: #677078;
}
.header {
  color: var(--second);
}
</style>
