<template>
  <div class="">
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div
        class="tab-pane fade"
        :class="{ active: current_index == 1, show: current_index == 1 }"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        <div class="row">
          <div class="container">
            <div class="d-flex justify-content-between align-items-center">
              <div class="div">
                <h2 class="form-head">Children's Data</h2>
                <h6 class="blockDescription">
                  Enter Your Children's Data To Suggest Suitable Schools For
                  Them
                </h6>
              </div>
              <a href="#" class="btn btn-theme">Add New Children</a>
            </div>
          </div>
          <form action="#" method="post" class="mt-4 px-4">
            <div class="form-group first">
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Full Name"
              />
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="form-group first">
                  <div class="radioblock mt-1">
                    <strong class="me-2">Child's</strong>
                    <div class="form-check form-check-inline text-start">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        value="option1"
                      />
                      <label class="form-check-label" for="inlineRadio1"
                        >Man</label
                      >
                    </div>
                    <div class="form-check form-check-inline text-center">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        value="option2"
                      />
                      <label class="form-check-label" for="inlineRadio2"
                        >Woman
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <v-date-picker v-model="leaving_date" mode="date">
                  <template v-slot="{ inputValue, inputEvents }">
                    <b-form-group>
                      <b-form-input
                        class="
                          rounded
                          focus:outline-none focus:border-green-300
                        "
                        :value="inputValue"
                        v-on="inputEvents"
                        name="leaving_date"
                        placeholder="MM/DD/YYYY"
                      ></b-form-input>
                    </b-form-group>
                  </template>
                </v-date-picker>
              </div>
            </div>

            <div class="form-group first">
              <select
                class="form-select form-control"
                aria-label="Default select example"
              >
                <option selected>Educational Level</option>
                <option value="1">language</option>
                <option value="2">IG</option>
                <option value="3">tatatat</option>
              </select>
            </div>
          </form>

          <input
            type="submit"
            value="Save"
            class="btn text-white btn-block btn-primary apply"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current_index: 1,
      tabs_count: 3,
    }
  },
}
</script>

<style scoped>
.login:focus {
  border-color: var(--second);
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.form-control {
  border: 1px solid var(--second);
  margin-bottom: 25px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--second);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 25%);
}

.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}

a,
a:hover {
  color: #8f9399;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
}

.dropdownbtn {
  height: 38px;
  border: 1px solid var(--second);
}

.dropdownbtn:hover,
.dropdownbtn:checked {
  border: 1px solid var(--second);

  background-color: var(--second);

  color: #eee;
}

.dropdownbtn li:checked {
  background-color: var(--second);

  color: #eee;
}

.btn-outline-secondary.dropdown-toggle.show {
  color: #eee;
  background-color: var(--second);
  border-color: var(--second);
}

.closebtn {
  background-color: transparent;
  border: transparent;
  color: #656060;
  font-size: 15px;
}

.fa-chevron-left {
  margin-right: 10px;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgb(var(--second) / 50%);
}

.school {
  width: 350px;
}

.apply,
.apply:hover {
  width: 100%;
  border-radius: 10px;
  background-color: var(--second);
  color: #eee;
  border: 1px solid var(--second);
}

.prag {
  color: rgb(134, 130, 130);
}

.slider {
  /* overwrite slider styles */
  width: 100%;
}

.form-select {
  color: #677078;
}

.form-head {
  color: var(--second);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.btn {
  color: #eee;
}
.blockDescription {
  font-size: 12px;
  font-weight: bold;
}
</style>
