<template>
  <div class="">
    <div class="container mb-5">
      <div class="row">
        <div class="mb-3">
          <nav aria-label="breadcrumb" class="tabs">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/">
                <li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/schools/all">
                <li class="breadcrumb-item">
                  <a>Schools <span class="ti-angle-right mx-2"></span></a>
                </li>
              </NuxtLink>
              <NuxtLink to="/schools/comparisonTable">
                <li class="breadcrumb-item active" aria-current="page">
                  Comparison
                </li>
              </NuxtLink>
            </ol>
          </nav>
        </div>
        <div class="row">
          <div class="form-outline mb-4 d-flex">
            <input
              type="search"
              class="form-control search"
              id="datatable-search-input"
              placeholder="School Name"
            />
            <button type="button" class="Comparison ml-10">
              Add To Comparison
            </button>
          </div>
        </div>
        <div class="row row-cols-4 d-flex .align-items-center">
          <table class="table table-striped table-hover text-center">
            <thead class="tableHead text-center">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">
                  <div class="position-relative">
                    <img
                      src="/assets/image/Group 1784.png"
                      alt=""
                      class="schoolLogo"
                    />
                    <button
                      type="submit"
                      class="cancle position-absolute top-0 end-0"
                    >
                      <i class="fas fa-times"></i></button
                    ><br />
                    <span>West Avenue International School</span>
                  </div>
                </th>
                <th scope="col">
                  <div class="position-relative">
                    <img
                      src="/assets/image/Group 1784.png"
                      alt=""
                      class="schoolLogo"
                    />
                    <button
                      type="submit"
                      class="cancle position-absolute top-0 end-0"
                    >
                      <i class="fas fa-times"></i></button
                    ><br />
                    <span>West Avenue International School</span>
                  </div>
                </th>
                <th scope="col">
                  <div class="position-relative">
                    <img
                      src="/assets/image/Group 1784.png"
                      alt=""
                      class="schoolLogo"
                    />
                    <button
                      type="submit"
                      class="cancle position-absolute top-0 end-0"
                    >
                      <i class="fas fa-times"></i></button
                    ><br />
                    <span>West Avenue International School</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <th scope="row ">City</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="rowColor">
                <th scope="row ">School Type</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row ">Educational Level</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="rowColor">
                <th scope="row ">School Curriculum</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row ">Students</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">Educational Level</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">Account Type</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">Rating</th>
                <td class="">
                  <div class="">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="">
                  <div class="">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item active"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                        <span class="rating__item"
                          ><i class="fas fa-star"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Academic Certificates</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">Study Languages</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">Accreditation Bodies</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">Activities</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">School Fees</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">Location</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">Phone Contact</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="rowColor">
                <th scope="row">School Profile</th>
                <td>
                  <show-profile-button />
                </td>
                <td>
                  <show-profile-button />
                </td>
                <td>
                  <show-profile-button />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showProfileButton from '~/components/global/showProfileButton.vue'
export default {
  components: {
    showProfileButton,
  },
}
</script>

<style>
.tableHead {
  background-color: var(--second);
  color: #eee;
}

.schoolLogo {
  width: 100px;
  border-radius: 50%;
}

.cancle {
  background-color: #dd2222;
  color: #eee;
  border: transparent;
  margin-top: 0;
}
.Comparison {
  background-color: var(--second);
  border: transparent;
  color: #eee;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 30px;
}
.search {
  width: 75%;
}
tr {
  height: 100px;
  text-align: center;
}
tr:hover {
  background-color: rgb(219, 243, 243);
  color: #eee;
}
.rowColor {
  border: 1px solid var(--second);
}
</style>
