<template>
  <div class="">
    <all-schools-header></all-schools-header>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a
              href="javascript:void(0)"
              class="mobile-sidebar-btn mobile-sidebar-btn-default mobile-left"
            >
              <i class="fas fa-filter"></i>Fliter
            </a>
            <div class="mobile-sidebar-panel-overlay"></div>
          </div>
        </div>
        <div class="row">
          <nav aria-label="breadcrumb" class="tabs mb-4">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a class="tab"
                    >Home <span class="ti-angle-right mx-3"></span
                  ></a></li
              ></NuxtLink>
              <NuxtLink to="/schools/all"
                ><li class="breadcrumb-item active">
                  <a class="tab">School </a>
                </li></NuxtLink
              >
            </ol>
          </nav>
          <div class="col-md-5 col-lg-4 col-sm-12 filter">
            <right-side></right-side>
          </div>
          <div class="col-md-7 col-lg-8 col-sm-12">
            <comparison></comparison>
            <div class="row row-cols-md-2 row-cols-1">
              <school-block
                v-for="schoolBlock in data"
                :key="schoolBlock.id"
                :data="schoolBlock"
              />
            </div>
            <offer></offer>
            <div class="row row-cols-md-2 row-cols-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import allSchoolsHeader from '~/components/allscools/allSchoolsHeader.vue'
import Comparison from '~/components/allscools/comparison.vue'
import Offer from '~/components/allscools/offer.vue'
import RightSide from '~/components/allscools/rightSide.vue'
import SchoolBlock from '~/components/allscools/schoolBlock.vue'
export default {
  components: {
    allSchoolsHeader,
    RightSide,
    Comparison,
    SchoolBlock,
    Offer,
  },
  data() {
    return {
      data: [],
    }
  },
  mounted() {
    this.$axios.get('explore').then((response) => {
      this.data = response.data.data
    })
  },
}
</script>
<style scoped>
.tab {
  font-size: 22px;
  text-decoration: none;
}
</style>
