<template>
  <div class="">
    <div class="container">
      <nav aria-label="breadcrumb" class="tabs mt-3 mb-5">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <NuxtLink to="/" class="mx-3"> Home </NuxtLink>
          </li>
          <li class="breadcrumb-item">
            <NuxtLink to="/schools/" class="mx-3"> School </NuxtLink>
          </li>

          <li class="breadcrumb-item">
            <NuxtLink to="/schools/profile" class="mx-3"> Profile </NuxtLink>
          </li>
          <li class="breadcrumb-item actLink">
            <NuxtLink to="/schools/moreDetails" class="mx-3">
              More Details
            </NuxtLink>
          </li>
        </ol>
      </nav>

      <div class="row">
        <div class="d-flex">
          <img src="/assets/image/Group 1784.png" alt="" class="me-3" />
          <h1 class="title">West avenue international school</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="container">
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">City</h4>
              <span class="col-sm-7 discribtion">Giza</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">School Type</h4>
              <span class="col-sm-7 discribtion">International</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Educational Level</h4>
              <span class="col-sm-7 discribtion">Kids stage-Primary Stage</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">School Curriculum</h4>
              <span class="col-sm-7 discribtion">German</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Students</h4>
              <span class="col-sm-7 discribtion">Only women</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Account Type</h4>
              <span class="col-sm-7 discribtion">Uncertain</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Acadeic Certificates</h4>
              <span class="col-sm-7 discribtion">Only women</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="container">
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">City</h4>
              <span class="col-sm-7 discribtion">Giza</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">School Type</h4>
              <span class="col-sm-7 discribtion">International</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Educational Level</h4>
              <span class="col-sm-7 discribtion">Kids stage-Primary Stage</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">School Curriculum</h4>
              <span class="col-sm-7 discribtion">German</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Students</h4>
              <span class="col-sm-7 discribtion">Only women</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Account Type</h4>
              <span class="col-sm-7 discribtion">Uncertain</span>
            </div>
            <div class="row align-items-center my-3">
              <h4 class="col-sm-5 right-side-header">Rating</h4>
              <span class="col-sm-7 discribtion"
                ><label class="form-check-label" for="flexCheckDefault">
                  <div class="stars-rating">
                    <div class="star-rating">
                      <span class="rating__item active">
                        <i class="fas fa-star"></i>
                      </span>
                      <span class="rating__item active">
                        <i class="fas fa-star"></i>
                      </span>
                      <span class="rating__item active">
                        <i class="fas fa-star"></i>
                      </span>
                      <span class="rating__item">
                        <i class="fas fa-star"></i>
                      </span>
                      <span class="rating__item">
                        <i class="fas fa-star"></i>
                      </span>
                    </div>
                  </div> </label
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
img {
  width: 60px;
}

.right-side-header {
  color: black;
}
</style>
