<template>
  <div class="">
    <pro-header></pro-header>
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <nav aria-label="breadcrumb" class="tabs mb-5">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-3"></span></a></li
              ></NuxtLink>
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Profile <span class="ti-angle-right mx-3"></span> </a></li
              ></NuxtLink>
              <NuxtLink to="/profile/"
                ><li class="breadcrumb-item active">
                  <a>Edit Profile</a>
                </li></NuxtLink
              >
            </ol>
          </nav>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="d-flex justify-content-center">
            <NuxtLink to="/profile/">
              <a class="btn btn-theme py-2 firstBut">
                <span>Your Application</span>
              </a>
            </NuxtLink>
            <NuxtLink to="/profile/purchaseHistory"
              ><a class="btn btn-theme py-2 ms-5">
                <span>Purchase History</span>
              </a></NuxtLink
            >
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <nav>
                  <div
                    class="nav nav-tabs nav-fill"
                    id="nav-tab"
                    role="tablist"
                  >
                    <a
                      class="nav-item nav-link"
                      :class="{ active: current_index == 0 }"
                      @click="current(0)"
                      id="nav-home-tab"
                      data-toggle="tab"
                      href="#nav-home"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                      >Personal Data</a
                    >
                    <a
                      class="nav-item nav-link"
                      :class="{ active: current_index == 1 }"
                      @click="current(1)"
                      id="nav-profile-tab"
                      data-toggle="tab"
                      href="#nav-profile"
                      role="tab"
                      aria-controls="nav-profile"
                      aria-selected="false"
                      >Children's Data</a
                    >
                    <a
                      class="nav-item nav-link"
                      :class="{ active: current_index == 2 }"
                      @click="current(2)"
                      id="nav-contact-tab"
                      data-toggle="tab"
                      href="#nav-contact"
                      role="tab"
                      aria-controls="nav-contact"
                      aria-selected="false"
                      >School Data</a
                    >
                  </div>
                </nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <step-one
                    v-if="current_index == 0"
                    :class="{
                      active: current_index == 0,
                      shows: current_index == 0,
                    }"
                  />

                  <step-two
                    v-if="current_index == 1"
                    :class="{
                      active: current_index == 1,
                      shows: current_index == 1,
                    }"
                  />

                  <step-three
                    v-if="current_index == 2"
                    :class="{
                      active: current_index == 2,
                      shows: current_index == 2,
                    }"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <user-bio-card></user-bio-card>
          <h3 class="mb-5">Recommend School</h3>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>

          <contactus></contactus>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StepOne from '~/components/maultiSteps/stepOne.vue'
import StepThree from '~/components/maultiSteps/stepThree.vue'
import StepTwo from '~/components/maultiSteps/stepTwo.vue'
import Contactus from '~/components/userProfile/contactus.vue'
import ProHeader from '~/components/userProfile/proHeader.vue'
import RecommendSchool from '~/components/userProfile/recommendSchool.vue'
import SchoolCard from '~/components/userProfile/schoolCard.vue'

export default {
  components: {
    Contactus,
    ProHeader,
    SchoolCard,
    RecommendSchool,
    StepOne,
    StepTwo,
    StepThree,
  },
  data() {
    return {
      current_index: 0,
      tabs_count: 2,
    }
  },
  methods: {
    current(index) {
      this.current_index = index
    },
  },
}
</script>

<style >
.btn-theme {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.firstBut {
  color: var(--second);
  background-color: transparent;
  border-color: var(--second);
}
.shows {
  width: 100%;
}

nav > div a.nav-item.nav-link {
  border: none;
  padding: 18px 25px;
  color: var(--second);
  background: #fff;
  border-radius: 0;
}

nav > div a.nav-item.nav-link.active:after {
  content: '';
  position: relative;
  bottom: -60px;
  left: -20%;
  border: 15px solid transparent;
  border-top-color: var(--second);
}
.tab-content {
  background: #fdfdfd;
  line-height: 25px;

  border-top: 5px solid var(--second);

  padding: 30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #fff;
  color: rgb(24, 23, 23);

  border-radius: 0;
  transition: background 0.2s linear;
}
.buttons {
  width: 100%;
}

button.next {
  float: right;
}
</style>