<template>
  <div class="">
    <pro-header> </pro-header>
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <nav aria-label="breadcrumb" class="tabs mb-5">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-3"></span></a></li
              ></NuxtLink>
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Profile <span class="ti-angle-right mx-3"></span> </a></li
              ></NuxtLink>
              <NuxtLink to="/profile/favoriteSchool"
                ><li class="breadcrumb-item active">
                  <a>Favorite School </a>
                </li></NuxtLink
              >
            </ol>
          </nav>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="d-flex justify-content-center">
            <NuxtLink to="/profile/">
              <a class="btn btn-theme py-2 firstBut">
                <span>Your Application</span>
              </a>
            </NuxtLink>
            <NuxtLink to="/profile/favoriteSchool"
              ><a class="btn btn-theme py-2 ms-5">
                <span>Favorite School</span>
              </a></NuxtLink
            >
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="row row-cols-md-2 row-cols-1">
            <allscools-school-block
              v-for="schoolBlock in data"
              :key="schoolBlock.id"
              :data="schoolBlock"
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <user-bio-card></user-bio-card>
          <h3 class="mb-5">Recommend School</h3>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>

          <contactus></contactus>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SchoolBlock from '~/components/allscools/schoolBlock.vue'
import Contactus from '~/components/userProfile/contactus.vue'
import ProHeader from '~/components/userProfile/proHeader.vue'
import RecommendSchool from '~/components/userProfile/recommendSchool.vue'
import SchoolCard from '~/components/userProfile/schoolCard.vue'

export default {
  components: {
    Contactus,
    ProHeader,
    SchoolCard,
    RecommendSchool,
    SchoolBlock,
  },
  data() {
    return {
      data: [],
    }
  },
  mounted() {
    this.$axios.get('explore').then((response) => {
      this.data = response.data.data
    })
  },
}
</script>

<style>
.btn-theme {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.firstBut {
  color: var(--second);
  background-color: transparent;
  border-color: var(--second);
}
.btn-favorite {
  color: red;
  align-items: center;
  font-size: 25px;
}
</style>