<template>
  <div class="">
    <pro-header></pro-header>
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <nav aria-label="breadcrumb" class="tabs mb-5">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-3"></span></a></li
              ></NuxtLink>
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Profile <span class="ti-angle-right mx-3"></span> </a></li
              ></NuxtLink>
              <NuxtLink to="/profile/"
                ><li class="breadcrumb-item active">
                  <a>Your Application </a>
                </li></NuxtLink
              >
            </ol>
          </nav>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="d-flex justify-content-center">
            <NuxtLink to="/profile/">
              <a class="btn btn-theme py-2 firstBut">
                <span>Your Application</span>
              </a>
            </NuxtLink>
            <NuxtLink to="/profile/purchaseHistory"
              ><a class="btn btn-theme py-2 ms-5">
                <span>Purchase History</span>
              </a></NuxtLink
            >
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <school-card></school-card>
          <school-card></school-card>
          <school-card></school-card>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <user-bio-card></user-bio-card>
          <h3 class="mb-5">Recommend School</h3>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>

          <contactus></contactus>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Contactus from '~/components/userProfile/contactus.vue'
import ProHeader from '~/components/userProfile/proHeader.vue'
import RecommendSchool from '~/components/userProfile/recommendSchool.vue'
import SchoolCard from '~/components/userProfile/schoolCard.vue'

export default {
  middleware: 'auth',
  components: { Contactus, ProHeader, SchoolCard, RecommendSchool },
}
</script>

<style>
.btn-theme {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.firstBut {
  color: var(--second);
  background-color: transparent;
  border-color: var(--second);
}
</style>