<template>
  <div class="">
    <pro-header></pro-header>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <nav aria-label="breadcrumb" class="tabs mb-5">
            <ol class="breadcrumb mb-0">
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Home <span class="ti-angle-right mx-3"></span></a></li
              ></NuxtLink>
              <NuxtLink to="/"
                ><li class="breadcrumb-item">
                  <a>Profile <span class="ti-angle-right mx-3"></span> </a></li
              ></NuxtLink>
              <NuxtLink to="/profile/purchaseHistory"
                ><li class="breadcrumb-item active">
                  <a>Purchase History</a>
                </li></NuxtLink
              >
            </ol>
          </nav>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="d-flex justify-content-center">
            <NuxtLink to="/profile/"
              ><a class="btn btn-theme py-2">
                <span>Your Application</span>
              </a>
            </NuxtLink>
            <NuxtLink to="/profile/purchaseHistory">
              <a class="btn btn-theme py-2 ms-5 sacandBut">
                <span>Purchase History</span>
              </a>
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="ProductTable">
            <div class="school-fees pb-3 mt-3">
              <div class="table-responsive text-center">
                <table class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td>Product</td>
                      <td>Store</td>
                      <td>Price</td>
                      <td>Date</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td class="product">
                        Amazon Essentaials Men's Duck Bib Unlined Overail
                      </td>
                      <td>amazon</td>
                      <td>732.00</td>
                      <td>8/9/2021</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <user-bio-card></user-bio-card>
          <h3 class="mb-5">Recommend School</h3>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>
          <recommend-school></recommend-school>
          <contactus></contactus>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Contactus from '~/components/userProfile/contactus.vue'
import ProHeader from '~/components/userProfile/proHeader.vue'
import RecommendSchool from '~/components/userProfile/recommendSchool.vue'
import SchoolCard from '~/components/userProfile/schoolCard.vue'

export default {
  components: { Contactus, ProHeader, SchoolCard, RecommendSchool },
}
</script>

<style scoped>
.product {
  color: rgb(99, 158, 192);
  font-weight: 300;
}
.btn-theme {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.sacandBut {
  color: var(--second);
  background-color: transparent;
  border-color: var(--second);
}
.ProductTable {
  width: 90%;
}
</style>
