<template>
  <div>
    <global-header-bar></global-header-bar>
    <Nuxt />
    <global-footer-app></global-footer-app>
  </div>
</template>
<script>
export default {
  head() {
    return this.$nuxtI18nHead({ addSeoAttributes: true, addDirAttribute: true })
  },
}
</script>