<template>
  <div class="">
    <nav-bar-header />
    <Nuxt />
    <global-footer-app></global-footer-app>
  </div>
</template>

<script>
import navBarHeader from '~/components/supplierHome/navBarHeader.vue'
export default {
  components: { navBarHeader },
}
</script>

<style>
</style>