<template>
  <div class="">
    <!-- content page -->
    <div class="parent-single-inner parent-sidebar-inner container">
      <div class="parent-single-header">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">School</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  west avenue international school
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" class="btn btn-theme">
                <img src="/assets/img/icons/svg/comparison-white.svg" alt="" />
                <span>Compare</span>
              </a>
              <a href="javascript:void(0)" class="btn btn-theme">
                <i class="fas fa-book-medical"></i>
                <span>Application Request</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 list-content-parent col-lg-7 col-md-12"></div>
        <div class="col-sm-12 col-lg-4 col-md-12 offset-lg-1 offset-0"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>