
<template>
  <div class="">
    <!-- Header profile parent -->
    <section>
      <div
        class="parent-detail-header"
        style="background-image: url(/assets/img/schools/1.png)"
      >
        <div class="container">
          <div
            class="
              row
              flex-sm-row flex-column
              parent-detail-header-row
              align-items-end
            "
          >
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
              <div class="parent-detail-header-container">
                <div class="parent-thumbnail">
                  <div class="inner-image">
                    <img
                      width="150"
                      height="150"
                      src="/assets/img/users/user.png"
                    />
                  </div>
                </div>
                <div class="parent-information">
                  <div class="title-wrapper">
                    <h1 class="parent-title">Ahmed Osama</h1>
                  </div>

                  <ul class="parent-detail-header-meta">
                    <li>
                      <div class="parent-location with-icon">
                        <i class="ti-location-pin"></i>
                        <a>6 October city district 2</a>
                      </div>
                    </li>
                  </ul>
                  <div class="parent-detail-buttons">
                    <a
                      href="javascript:void(0)"
                      class="button btn-follow has-text"
                    >
                      <span>Edit Your Profile</span>
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="btn button btn-theme btn-outline add-a-review"
                    >
                      <span>Favorite Schools</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div
                class="
                  parent-detail-header-right
                  justify-content-lg-end justify-content-start
                "
              >
                <div class="nb-job">
                  <span class="text-red">5,000</span>
                  <span class="text">School Favorite</span>
                </div>
                <div class="nb_reviews">
                  <span class="text-green">200</span>
                  <span class="text">Followed schools</span>
                </div>
                <div class="nb_views">
                  <span class="text-blue">4,327</span>
                  <span class="text">Application</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>
