<template>
  <div class="">
    <!-- breadcromb area -->
    <section class="blog-breadcromb-area ">
      <div class="breadcromb-top">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="breadcromb-box py-3">
                <h3>search for school</h3>
                <p>
                  Schools Directory of Saudi Arabia cities : more than 1700 in
                  Saudi Arabia With all the details of these schools and
                  parents' evaluations on the schools, in addition to various
                  pictures of buildings and activities for schools of Saudi
                  Arabia . You can also communicate directly with any school in
                  cities of Saudi Arabia through the methods of communication
                  specific to each school.
                </p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="breadcromb-box d-none d-md-block">
                <img src="/assets/img/breadcromb/group-821.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>