<template>
  <div class="">
    <div class="comparison_school">
      <div class="widget_comparison_school">
        <div class="action_toggle_comparison">
          <span class="comparison_bage">2</span>
          <img src="/assets/img/icons/svg/comparison-white.svg" alt="" />
        </div>
        <div class="comparison_inner">
          <div class="comparison_header">
            <h3>comparison</h3>
          </div>
          <div class="comparison_content">
            <ul>
              <li>
                <figure class="image">
                  <img src="/assets/img/schools/NoPath.png" alt="" />
                </figure>
                <h3>west avenue international school</h3>
              </li>
              <li>
                <figure class="image">
                  <img src="/assets/img/schools/NoPath.png" alt="" />
                </figure>
                <h3>Winchester International Schools</h3>
              </li>
            </ul>
          </div>
          <div class="comparison_footer">
            <a href="" class="btn"> compare now </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>