<template>
  <div class="">
    <div class="col-12 mb-4">
      <img class="img-fluid" src="/assets/img/ads/2.png" alt="" />
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>