<template>
  <div class="">
    <div class="school-block-grid mb-5">
      <div class="inner-box">
        <div class="content">
          <NuxtLink :to="`/schools/${data.id}`">
            <div class="image-box">
              <div class="cover-block">
                <img
                  :src="
                    data.coverPath != null && data.coverPath != ''
                      ? data.coverPath
                      : '/assets/img/noImg.png'
                  "
                  :alt="data.main_name_en"
                />
              </div>
              <figure class="image">
                <img
                  :src="
                    data.logoPath != null && data.logoPath != ''
                      ? data.logoPath
                      : '/assets/img/noImg.png'
                  "
                  :alt="data.main_name_en"
                />
              </figure>
            </div>
          </NuxtLink>
          <div class="lower-content">
            <NuxtLink :to="`/schools/${data.id}`">
              <h3>
                {{ data.main_name_en }}
              </h3>
            </NuxtLink>

            <div class="post-meta">
              <img src="/assets/img/icons/svg/location.svg" alt="" />
              {{ data.governorate }}
            </div>
            <div class="row mx-0 mt-3">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 px-0">
                <div class="post-meta">
                  <img src="/assets/img/icons/svg/graduation-hat.svg" alt="" />
                  <span v-if="data.types.length != 0">{{
                    data.types[0].title
                  }}</span>
                </div>
              </div>
              <div
                class="
                  col-xl-6 col-lg-12 col-md-12 col-sm-12
                  text-xl-end text-center
                  mt-3 mt-xl-0
                  px-0
                "
              >
                <a href="#" class="action-btn">
                  <img src="/assets/img/icons/svg/university.svg" alt="" />
                </a>
                <a href="#" class="action-btn">
                  <img src="/assets/img/icons/svg/compare.svg" alt="" />
                </a>

                <a class="action-btn btn-favorite text-center">
                  <span class="ti-heart"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {},
  },
}
</script>

<style scoped>
/* school block */

.school-block-grid {
  padding: 0 0 15.2px;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  margin-bottom: 4rem;
}

.school-block-grid .inner-box {
  position: relative;
  overflow: hidden;
  /* padding: 10px; */
  border-radius: 10px;
  background: #ffffff;
}

.school-block-grid .image-box {
  position: relative;
}

.school-block-grid .image-box .cover-block {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0;
}

.school-block-grid .image-box .cover-block::before {
  background-color: rgba(61, 61, 61, 0.68);
  content: '';
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.school-block-grid .image-box .cover-block img {
  display: block;
  width: 100%;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.school-block-grid .inner-box:hover .cover-block img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.school-block-grid .image-box .image {
  position: absolute;
  bottom: -37px;
  right: 0;
  left: 0;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 2;
}

.school-block-grid .image-box .image img {
  display: block;
  width: 145px;
  height: 145px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 0 auto;
}

.school-block-grid .lower-content {
  padding: 20px 20px 16px;
  position: relative;
}

.school-block-grid .lower-content h3 {
  font-size: 18px;
  font-weight: 500;
  color: #2d2d2d;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-family: Poppins;
}

.school-block-grid .lower-content h3 a {
  color: #202124;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
  cursor: pointer;
}

.school-block-grid .lower-content .text {
  font-size: 14px;
  line-height: 24px;
  color: #696969;
  margin-bottom: 15px;
  font-weight: 400;
  margin: 0;
}

.school-block-grid .post-meta {
  position: relative;
  font-family: Poppins;
  font-size: 12px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 5px;
}

.school-block-grid .post-meta img {
  margin-right: 10px;
  width: 23px;
}

.school-block-grid .post-meta a {
  text-decoration: none;
}

.school-block-grid .post-meta a:hover,
.school-block-grid .post-meta a {
  color: inherit;
}

.school-block-grid .action-btn {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
  padding: 10px 7px;
  border-radius: 50px;
  vertical-align: middle;
  margin-left: 10px;
}

.school-block-grid .action-btn:first-child {
  margin-left: 0;
}

.school-block-grid .action-btn img {
  /* width: 25px; */
}
.btn-favorite {
  color: red;
  align-items: center;
  font-size: 25px;
}
</style>