<template>
  <div class="">
    <home-carousel-home />
    <home-scool-type v-if="data" :data="data" />
    <home-counts v-if="statSection" :section="statSection"></home-counts>
    <home-nearest-schools v-if="schoolBlocks" :schoolBlocks="schoolBlocks" />

    <home-request-schools></home-request-schools>
    <global-ads></global-ads>
    <home-faQ></home-faQ>
  </div>
</template>

<script>
export default {
  data() {
    return {
      statSection: null,
      data: null,
      schoolBlocks: [],
    }
  },
  methods: {
    //get School Type Section
    home() {
      this.$axios.get('home').then((response) => {
        // put data in store
        this.data = response.data.sections[0].data
        this.statSection = response.data.sections[1]
      })
    },
  },
  created() {
    this.home()
  },
  mounted() {
    this.$axios.get('explore').then((response) => {
      this.schoolBlocks = response.data.data
    })
  },
}
</script>
