<template>
  <div class="">
    <h4 class="mb-5">Contact US</h4>
    <div class="inner-box shadow p-3 pb-5 mb-5 bg-body rounded">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-around">
              <div class="imglogo">
                <NuxtLink to="/">
                  <a class="">
                    <img
                      src="/assets/img/logo/logo.png"
                      alt=""
                      class="m-auto img"
                    />
                  </a>
                </NuxtLink>
              </div>
            </div>
            <h6 class="py-3 text-center">Contact with EduX Egypt Support</h6>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
              <label for="floatingTextarea2" class="label"> Your Massage</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>