<template>
  <div class="">
    <!-- Header profile school -->
    <section>
      <div
        class="school-detail-header mb-5"
        style="background-image: url(/assets/image/mask.png)"
      >
        <div class="container">
          <div
            class="
              row
              flex-sm-row flex-column
              school-detail-header-row
              align-items-end
            "
          >
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
              <div class="school-detail-header-container">
                <div class="school-thumbnail">
                  <div class="inner-image">
                    <img
                      width="150"
                      height="150"
                      class="proImg"
                      src="/assets/image/—Pngtree—school logo_3754859.png"
                    />
                  </div>
                </div>
                <div class="school-information">
                  <div class="title-wrapper">
                    <h1 class="school-title">Ahmed Hesham</h1>
                  </div>

                  <ul class="school-detail-header-meta">
                    <li>
                      <div class="school-location with-icon">
                        <i class="ti-location-pin"></i>
                        <a>6 October city district 2</a>
                      </div>
                    </li>
                  </ul>
                  <div class="school-detail-buttons">
                    <NuxtLink to="/profile/editProfile">
                      <a class="button btn-follow has-text">
                        <span>Edit Your Profile</span>
                      </a>
                    </NuxtLink>
                    <NuxtLink to="/profile/followedSchool">
                      <a class="button btn-follow has-text">
                        <span>Followed Schools</span>
                      </a>
                    </NuxtLink>
                    <NuxtLink to="/profile/favoriteSchool">
                      <a class="button btn-follow has-text">
                        <span>Favorite Schools</span>
                      </a>
                    </NuxtLink>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div
                class="
                  school-detail-header-right
                  justify-content-lg-end justify-content-start
                  text-center
                "
              >
                <div class="nb-job">
                  <span class="text-red">4,327</span>
                  <span class="text">School Favorite</span>
                </div>
                <div class="nb_reviews">
                  <span class="text-green">4.327</span>
                  <span class="text">Followed Schools</span>
                </div>
                <div class="nb_views">
                  <span class="text-blue">4,000</span>
                  <span class="text">Application</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {}
</script>
<style scoped>
.school-detail-header .school-detail-header-right > div > span {
  font-size: 13px;
  font-weight: bold;
}
.proImg {
  border-radius: 50%;
}
.school-detail-header .school-thumbnail .inner-image {
  background-color: transparent;
}

.btn-theme {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.active {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.firstBut {
  color: var(--second);
  background-color: transparent;
  border-color: var(--second);
}
</style>