<template>
  <div class="">
    <div class="shadow rounded pb-3 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="schoolImg">
              <img
                src="/assets/image/NoPath - Copy (18).png"
                alt=""
                class="imgPic"
              />
            </div>
          </div>
          <div class="col-sm-7">
            <div class="left">
              <div class="row">
                <h5 class="schoolName">west avenue international school</h5>
                <div class="d-flex">
                  <label class="form-check-label" for="flexCheckDefault">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item active">
                          <i class="fas fa-star"></i>
                        </span>
                        <span class="rating__item">
                          <i class="fas fa-star"></i>
                        </span>
                      </div>
                    </div>
                  </label>

                  <a class="action-btn btn-favorite">
                    <span class="ti-heart ms-4"></span>
                  </a>
                </div>
                <div class="row">
                  <p class="schoolParg">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
                <div class="row">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="percentage">9.2</span>
                    <div class="d-block gradeBlock text-center">
                      <span class="grade">Good</span>
                      <span class="rate">5321<span>rate</span></span>
                    </div>
                    <span class="ti-angle-right mx-3"></span>

                    <div class="">
                      <NuxtLink to="/"
                        ><a class="btn btn-theme px-1"
                          ><span class="ti-world me-2"></span>web site
                        </a></NuxtLink
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style  scoped>
.schoolImg {
  width: 100%;
}
.imgPic {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}
.schoolName {
  font-size: 15px;
}
.btn-favorite {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.schoolParg {
  color: rgb(129, 126, 126);
}
.gradeBlock {
  font-size: 10px;
}

.btn-theme {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
  font-size: 12px;
  width: 85px;
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}
.left {
  width: 100%;
}
.percentage {
  color: rgb(247, 193, 19);
  margin-right: 15px;
  font-weight: bolder;
}
.grade {
  color: #212529;
  font-weight: bold;
}
</style>
