<template>
  <div class="">
    <div class="school_card shadow rounded pb-3 mb-5">
      <div class="container">
        <div class="row mb-2">
          <div class="d-flex justify-content-between align-items-center">
            <div class="">
              <img src="/assets/image/Group 1784.png" alt="" />
            </div>
            <div class="">
              <h4 class="">west avenue international school</h4>
              <div class=""></div>
            </div>
            <div class="">
              <NuxtLink to="/"
                ><a class="btn btn-theme">School Massage </a></NuxtLink
              >
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="d-flex justify-content-between">
            <div class="data col-lg-8 col-md-12 col-sm-12">
              <h6 class="">
                Application Type
                <span class="spa">School Application Form</span>
              </h6>
              <h6 class="">
                Interview Date <span class="Interview_Date">8/9/2021</span>
              </h6>
            </div>
            <div class="data col-lg-8 col-md-12 col-sm-12">
              <h6 class="">
                Application status <span class="spa">Acceptable</span>
              </h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="text-end">
            <span class="date_time"
              >05:32:45 pm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8/9/2021</span
            >
          </div>
        </div>
        <!-- display none until get api -->
        <div class="row d-none">
          <h3 class="Rejected-head">Rejected Reason</h3>
          <p class="Rejected-parg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
            perferendis vel rem perspiciatis hic autem voluptates dolorum
            numquam assumenda corporis iste reiciendis qui expedita blanditiis,
            nulla illo? Libero, culpa odio!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.school_card {
  width: 90%;
}
.btn-theme {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.data .spa {
  color: var(--second);
  margin-left: 15px;
}
.date_time {
  margin-right: 15px;
  color: rgb(143, 139, 139);
}
.Interview_Date {
  margin-left: 31px;
  color: var(--second);
}
.Rejected-head {
  color: red;
  font-size: 22px;
}
.Rejected-parg {
  color: rgb(143, 139, 139);
}
</style>