<template>
  <div class="">
    <div class="school_card shadow rounded pb-3 mb-5">
      <div class="container">
        <div class="row mb-2">
          <div class="d-flex justify-content-between align-items-center">
            <div class="">
              <img
                src="/assets/image/—Pngtree—school logo_3754859.png"
                alt=""
                class="profImg"
              />
            </div>
            <div class="text-start">
              <h4 class="">Ahmed Hesham</h4>
            </div>
          </div>
        </div>

        <!-- display none until get api -->
        <div class="row">
          <h4 class="Add-Phone">Add Phone Number</h4>
          <p class="parg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="row">
          <div class="d-flex justify-content-between align-items-center">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 80%"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="">
              <span class="prac">80%</span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="d-flex justify-content-end">
            <a class="btn btn-theme">
              <span>Add Phone Number</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.school_card {
  width: 100%;
}
.btn-theme {
  color: #fff;
  background-color: transparent;
  border-color: var(--second);
  color: var(--second);
  width: 50%;
}

.btn-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

.btn-outline-theme:hover {
  color: #fff;
  background-color: var(--second);
  border-color: var(--second);
}

.data .spa {
  color: var(--second);
  margin-left: 15px;
}

.date_time {
  margin-right: 15px;
  color: rgb(143, 139, 139);
}

.Interview_Date {
  margin-left: 31px;
  color: var(--second);
}

.Add-Phone {
  color: rgb(143, 139, 139);
  font-size: 16px;
}

.parg {
  color: rgb(143, 139, 139);
}

.progress {
  background-color: #caefee;
  width: 75%;
}

.progress-bar {
  background-color: var(--second);
}

.prac {
  font-weight: bold;
}

.profImg {
  border-radius: 50%;
  width: 100px;
  border: 3px solid var(--second);
}
</style>
