<template>
  <div class="">
    <section class="section-ads">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <img class="img-fluid" src="/assets/img/ads/1.png" alt="" />
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <img class="img-fluid" src="/assets/img/ads/2.png" alt="" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
