<template>
  <!-- Footer -->
  <div>
    <footer>
      <!-- Footer Start -->
      <div class="footer-section">
        <div class="footer-content-middle">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="logo">
                  <a href="index.html">
                    <span class="logo-main">
                      <NuxtLink to="/">
                        <img
                          src="/assets/img/logo/logo.png"
                          class="attachment-full size-full"
                          alt=""
                        />
                      </NuxtLink>
                    </span>
                  </a>
                </div>

                <div class="widget-socials">
                  <div class="socials square">
                    <ul class="social list-inline">
                      <li>
                        <a href="#" target="__blank">
                          <i class="ti-linkedin"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" target="__blank">
                          <i class="ti-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" target="__blank">
                          <i class="ti-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" target="__blank">
                          <i class="fab fa-youtube"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="container-download">
                  <a href="#">
                    <img src="/assets/img/apps/App-Store.png" alt="" />
                  </a>
                  <a href="#">
                    <img src="/assets/img/apps/Google-Play.png" alt="" />
                  </a>
                </div>
              </div>

              <div class="col-md-3">
                <h4 class="footer-title">Schools</h4>
                <ul class="sitemap-widget">
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      International Schools
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      National Schools
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      State Schools
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h4 class="footer-title">Supplier</h4>
                <ul class="sitemap-widget">
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      Aircondition
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      lorem ibsem
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      lorem auuib saquwa
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      lorem ibsem
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      Aircondition
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h4 class="footer-title">Browse EduXEgypt</h4>
                <ul class="sitemap-widget">
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      Home
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      Privacy Policy
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      FAQ
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      Contact Us
                    </a>
                  </li>
                  <li class="active">
                    <a
                      class="d-flex justify-content-between align-items-center"
                      href="#"
                    >
                      About EduXEgypt
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="FooterSocial">
            <div class="container">
              <div class="row align-items-md-center align-items-start">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="copyright">
                    <p>© 2000-2021 eduxegypt.com, Inc. All Rights Reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End -->
    </footer>
  </div>
</template>

<script>
export default {}
</script>
