<template>
  <div>
    <!-- Navbar -->
    <nav class="custom-navbar navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <NuxtLink to="/">
          <a class="navaber-brand">
            <img src="/assets/img/logo/logo.png" alt="" />
          </a>
        </NuxtLink>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <NuxtLink to="/" class="nav-link active">
                {{ $t('home') }}
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink to="/schools/" class="nav-link">
                <i class="fas fa-school"></i> {{ $t('school') }}
              </NuxtLink>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="ti-receipt icon-header"></span> admission
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <NuxtLink
                    to="/admission/expenseInstallmentRequest"
                    class="dropdown-item"
                  >
                    Expense Installment Request
                  </NuxtLink>
                </li>

                <NuxtLink to="/admission/requestSchoolSuggestion">
                  <li>
                    <a class="dropdown-item">Request A School Suggestion</a>
                  </li>
                </NuxtLink>
                <NuxtLink to="/admission/teacherRegistrationRequest">
                  <li>
                    <a class="dropdown-item">Teacher Registration Request</a>
                  </li>
                </NuxtLink>
              </ul>
            </li>

            <li class="nav-item">
              <NuxtLink to="/learn/" class="nav-link">
                <i class="fas fa-paint-brush"></i> Learn
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink to="/" class="nav-link">
                <i class="fas fa-hotel"></i> Shop
              </NuxtLink>
            </li>
          </ul>

          <ul class="header-actions">
            <div v-if="$auth.loggedIn" class="login-user">
              <div class="button-action">
                <NuxtLink to="/profile/">
                  <button class="button-lanuage">
                    <span class="ti-user"></span>
                  </button>
                </NuxtLink>
                <button class="button-lanuage">
                  <img src="/assets/img/flags/egypt.png" alt="" />
                </button>
                {{ $auth.user.Email }}
                <button class="btn btn-theme" @click="$auth.logout()">
                  Logout
                </button>
              </div>
            </div>
            <div v-else class="not-login d-flex">
              <div class="button-action">
                <NuxtLink to="/auth/login">
                  <button class="btn btn-outline-theme">Login</button>
                </NuxtLink>
              </div>
              <div class="button-action">
                <NuxtLink to="/auth/signup"
                  ><button class="btn btn-theme">Sign up</button></NuxtLink
                >
              </div>
            </div>
            <div class="app-utility-item ms-3">
              <nuxt-link
                v-if="$i18n.locale !== 'en'"
                :to="switchLocalePath('en')"
              >
                English
              </nuxt-link>

              <nuxt-link
                v-if="$i18n.locale !== 'ar'"
                :to="switchLocalePath('ar')"
              >
                العربيه
              </nuxt-link>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  // middleware: ['notAuthenticated'],
  // computed: {
  //   ...mapGetters(['isAuthinticated', 'loggedInUser']),
  // },
  methods: {
    // methods: {
    // setLang(locale) {
    //   this.$store.commit('SET_LANG', (this.$i18n.locale = locale))
    // },
  },
  // logOut() {
  //   localStorage.clear()
  //   this.$store.dispatch('Clear_User')
  //   this.$router.push('/')
  // },
  // async logout() {
  //   await this.$auth.logout()
  // },
}
</script>
<style scoped>
.btn-outline-theme {
  color: var(--main);
  border-color: var(--main);
}

button:not(:disabled) {
  cursor: pointer;
}

.btn-theme {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}

.btn-theme {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}

/* custom select */

.select2 {
  width: 100% !important;
}

.select2-selection__rendered {
  line-height: 34px !important;
  padding-right: 8px !important;
  padding-left: 20px !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
  background: transparent;
  border: 1px solid #7e7373;
  transition: 0.5s;
  height: calc(1.5em + 0.75rem + 20px);
  padding: 8px 25px 8px 25px;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.select2-selection__arrow {
  height: 37px;
  right: auto;
  left: 1px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #01a352;
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--main);
  color: #fff;
}

.select2-dropdown {
  z-index: 100;
  -webkit-box-shadow: 0px 4px 4px #9e132650;
  box-shadow: 0px 4px 4px #81252a50;
}

.select2-search--dropdown .select2-search__field {
  -webkit-box-shadow: 0px 4px 4px #9c474750;
  box-shadow: 0px 4px 4px #75283250;
}

.hero-searchbar-header .search-form-inner .form-group button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  font-size: 13px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
</style>
