<template>
  <div class="">
    <NuxtLink to="/schools/profile">
      <button class="showProfile" type="submit">View Profile</button>
    </NuxtLink>
  </div>
</template>

<script>
export default {}
</script>

<style>
.showProfile {
  background-color: var(--second);
  border: transparent;
  color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
</style>