<template>
  <div class="">
    <div class="school-single-header">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">School</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                west avenue international school
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>